
.customisable {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
  
  }


.quantity-table {
  td {
    border-right: solid 1px #A2C6E9;
    text-wrap: nowrap;
    font-size: 11px;
  }
  th {
    text-wrap: nowrap;
  }
}

.description {
  overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.swiper-img {
  .swiper-wrapper {
    min-height: 200px;
  }
  img {
    object-fit: contain;
  }
}

.attribute.tabular-sheet .toggle button {
  min-width: 49px !important;
  padding: 0px !important;
  height: 20px;
  font-size: 14px;
  img {
    width:18px !important;
  }
}

.share-button {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index:2;
}