.grid-1 {
  grid-template-columns: 85% 15%;
}

// .grid-2 {
//   display: flex;
//       align-items: center;
//       gap: 14%;
//   width: 100%;
//   .options {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//   }
// }

.grid-7 {
  grid-template-columns: 74% 26%;
}

.grid-3 {
  grid-template-columns: 20% 80%;
  width: 100%;
}

.grid-6 {
  grid-template-columns: 75% 25%;
  width: 100%;
}

.grid-5 {
  grid-template-columns: 55% 20% 25%;
  width: 100%;
}

.grid-4 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 30%;
  width: 100%;
}

.border-right {
  border-right: solid 2px #d5e7fa;
}

.margin-1 {
  margin: 1px;
}

.b-dark {
  border: Solid 2px #a2c6e9;
}

.public_icon {
  height: unset !important;
  width: unset !important;
  color: var(--primary-dark-bg);
  margin-right: 0.5rem;
}

.public_icon.disabled {
  background: rgb(190, 188, 188) !important;
}

.attribute-input {
  .mat-icon {
    height: unset !important;
    width: unset !important;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.material-cost-grid {
  display: grid;
  grid-template-columns: 10% 16% 16% 16% 16% 16% 8%;
  column-gap: 10px;
}

.unit-value {
  width: 100%;

  span {
    width: 100px;
  }

  select {
    width: 50px;
  }
}

.grid-10 {
  display: flex;
  align-items: center;
  gap: 8%;
  width: 100%;
}


.image-box-sm {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 9px;
  padding: 3px;
  background-color: aliceblue;

  .ai-img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    /* transform: translateY(-50%); */
    width: auto;
  }

  label {
    position: relative;
    position: absolute;
    top: -10px;
    left: 5px;
    color: var(--light-text-color);
    font-size: 12px;
  }

  .fs-12 {
    font-size: 12px;
  }
}

.hide-image-sm {
  position: absolute;
  width: 10px !important;
  height: 10px !important;
  left: 5px;
  top: 5px;
  font-size: 15px;
  color: #6F7180 !important;
}

.cross-box-sm {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20x;
  top: 5px;
}

.check-box-sm {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -7%;
  top: -10%;
}

.image-scroller {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  display: -webkit-inline-box !important;
}

.image-scroller::-webkit-scrollbar:horizontal {
  width: 3px;
  border-radius: 30px;
}

/* Track */
.image-scroller::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}

/* Handle */
.image-scroller::-webkit-scrollbar-thumb:horizontal {
  background: rgb(173, 173, 173);
}

.border-l-light {
  border-left: 1px solid var(--light-text-color);
  padding-left: 8px;
  margin-left: 8px;
}