.panel-header {
  grid-template-columns: 10% 65% 25%;

  .process-input-output {
    grid-template-columns: 30% 70%;
  }

  .process-calculation {
    display:flex;
    justify-content: space-between;
    .units {
      justify-content: flex-end;
      column-gap: 10px;;
    }
  }

}

.form-input-g{
  border: 2px solid var(--body-bg);
  border-radius: 8px;
      position: relative;
    width: 165px;
}



// for slider kind of toggle


.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--primary-dark-bg);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--primary-dark-bg);
  ;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.blur-bg {
  color: #dedede !important;
  background: #dedede !important;
}

.h-20 {
  height: 20px !important;
}

section.material-cost-calculation .header,
section.conversion-cost-calculation .header,
.raw-material .header {
  display: table !important;
}

section.material-cost-calculation .header .optional-values .units .unit-value,
section.conversion-cost-calculation .header .optional-values .units .unit-value,
.raw-material .header .optional-values .units .unit-value {
  margin-left:10px !important;
}
.fs-12{
  font-size:12px !important;
}
.delete-btn{
      position: absolute;
    top: 13px;
    right: 0px;
}
 .add-btn{
    position: absolute;
    top: 13px;
    right: -40px;
  }