<form [formGroup]="processForm" class="xx" novalidate>
  <mat-expansion-panel
    class="panel-no-padding"
    [expanded]="isExpanded"
    #mep="matExpansionPanel"
  >
    <mat-expansion-panel-header>
      <div (click)="mep.expanded = !mep.expanded" class="panel-header p-0">
        <div class="title-text">
          <span>Process {{ index + 1 }}</span>
        </div>
        <!-- Start New -->
        <div
          class="process-input-output"
          *ngIf="isExistingProcess?.value == true"
        >
          <div class="input" style="border-right: 1px solid var(--text-light);">
            <!-- <span>Process Input</span> -->
            <select
              class="b-round"
              formControlName="id"
              (change)="getProcessName($event)"
            >
              <option selected value="null">Select Process</option>
              <ng-container *ngFor="let p of this.apiService.processList">
                <option [value]="p.id">{{ p.description }}</option>
              </ng-container>
            </select>
          </div>
          <div class="output" formGroupName="productOfProcess">
            <select
              class="productofprocessName b-round"
              formControlName="id"
              (change)="getProductOfProcessName($event)"
            >
              <option selected value="null">Select Product of Process</option>
              <ng-container *ngFor="let p of this.apiService.processList">
                <option [value]="p.productOfProcessId">
                  {{ p.productOfProcessDescription }}
                </option>
              </ng-container>
            </select>
            <select
              class="b-round"
              id="type"
              [ngClass]="{
                'b-red':
                  getProductOfProcessAttribute('productTypeId').invalid &&
                  getProductOfProcessAttribute('productTypeId')?.touched
              }"
              [formControl]="getProductOfProcessAttribute('productTypeId')"
            >
              <option disabled selected [value]="null">
                Select Product Type
              </option>
              <ng-container *ngFor="let p of apiService.productTypes">
                <option [value]="p.id">{{ p.description }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <!-- End New -->
        <div
          class="process-input-output"
          *ngIf="isExistingProcess?.value == false"
        >
          <div class="input" style="border-right: 1px solid var(--text-light) !important;">
            <input
              autocomplete="off"
              (keydown.Space)="$event.stopImmediatePropagation()"
              type="text"
              [placeholder]="'Enter Process Name'"
              formControlName="description"
            />
          </div>
          <div class="output" formGroupName="productOfProcess">
            <div class="width-perc-100 mx-1" formGroupName="productMeta">
              <input
                autocomplete="off"
                (keydown.Space)="$event.stopImmediatePropagation()"
                type="text"
                placeholder="Enter Product of Process Name"
                formControlName="description"
              />
            </div>
            <div class="width-perc-100 mx-1" formGroupName="productMeta">
              <input
                autocomplete="off"
                (keydown.Space)="$event.stopImmediatePropagation()"
                type="text"
                placeholder="Enter Product Code"
                formControlName="productCode"
              />
            </div>
            <select
              id="type"
              class="b-round"
              [ngClass]="{
                'b-red':
                  getProductOfProcessAttribute('productTypeId').invalid &&
                  getProductOfProcessAttribute('productTypeId')?.touched
              }"
              formControlName="productTypeId"
            >
              <option disabled selected [value]="null">
                Select Product Type
              </option>
              <ng-container *ngFor="let p of apiService.productTypes">
                <option [value]="p.id">{{ p.description }}</option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class="process-calculation">
          <div class="units justify-content-end">
            <div class="currency-value">
              <span class="text-black">{{
                getProductOfProcessUserConversionUom("metricCost").value
              }}</span>
              <span>{{
                getProductOfProcessAttributeValue("metricCost").value
              }}</span>
            </div>
            <div class="unit-value">
              <select class="text-black"
                [formControl]="grossTotalUom"
                (change)="calculateValues()"
              >
                <option value="" disabled selected>Select Uom</option>
                <ng-container
                  *ngFor="let i of uomService?.availableMatricCostUoms"
                >
                  <option [value]="i.description">{{ i.description }}</option>
                </ng-container>
              </select>
              <span style="padding-left: 5px">{{
                convertedGrossTotal.value
              }}</span>
            </div>
          </div>
          <div class="text-align-end d-flex">
            <dadyin-button
              *ngIf="process?.disabled && apiService.finalSave"
              (clicked)="confirmEdit()"
              [theme]="'borderless-primary'"
              type="icon"
              [typeval]="'edit'"
              height="33px"
            >
            </dadyin-button>
             <dadyin-button
              (clicked)="deleteProcess()"
              [theme]="'borderless-danger'"
              type="image"
              [typeval]="'assets/nicons/delete.png'"
            >
            </dadyin-button>
            <dadyin-button
              *ngIf="!process?.disabled"
              (clicked)="onSaveProcessDetails()"
              [theme]="'borderless-primary'"
              type="image"
              [typeval]="'assets/nicons/save.png'"
              height="33px"
            >
            </dadyin-button>
           
          </div>
        </div>
      </div>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <section class="section-card  material-cost-calculation">
        <table class="process-table my-2 header" style="table-layout: fixed">
          <thead class="optional-values" style="display: contents">
            <tr >
              <th class="width-20"></th>
              <th colspan="2">
                <div class="title">
                  <span class="text-black">Material Cost Calculation</span>
               <!--    <div
                    *ngIf="index == templateProcesses?.length - 1"
                    class="d-flex mx-2"
                  >
                   <label class="mx-2" for="">% Used</label> 
                    <input
                      [formControl]="usedToggle"
                      (change)="checkUsedToggle($event)"
                      type="checkbox"
                    />
                  </div> -->
                  <div class="attribute tabular-sheet ms-2 " style="width:auto;">
              <div class="attribute-input">
                    <div class="toggle w-100">
                  <button class="w-50 fs-12"  
                  style="font-size: 12px !important;"
                  [ngClass]="{
                      active: true == true
                    }">
                   % Used
                  </button>
                  <button class="w-50  fs-12"  style="font-size: 12px !important;" >
                  Layer
                  </button>
                </div>
                </div>
                </div>
                </div>
              </th>
              <th>
                <ng-container *ngIf="usedToggle.value == true">
                  <div class="d-flex flex-row align-items-center font-size-12">
                    <div class="text-black me-2" style="white-space: pre; font-weight: 400; ">Process Waste %</div>
                 
                  <div
                    style="max-width: fit-content"
                    class="d-flex align-items-center b-light b-round-left"
                  >
                    <div class="b-light">
                      <input
                        type="number"
                        class="width-100 h-20"
                        (change)="calculateValues()"
                        formControlName="processWastePercent"
                      />
                    </div>
                    <div class="b-light b-round">
                      <select
                        (change)="onSelectOption($event)"
                        style="background-color: var(--body-bg);"
                        class="h-20"
                      >
                        <ng-container
                          *ngFor="
                            let option of processCalculatorOptions.controls;
                            let k = index
                          "
                        >
                          <option
                            [disabled]="processForm?.disabled"
                            [selected]="option.get('isSelected').value"
                            [value]="option.get('name').value"
                          >
                            {{ option.get("name").value }}
                          </option>
                        </ng-container>
                      </select>
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-center cursor"
                    >
                      <button
                        class="b-none d-flex align-items-center justify-content-center bg-transparent p-0"
                        (click)="openProcessWasteModal()"
                        [disabled]="processForm?.disabled"
                      >
                        <mat-icon class="text-light">info_outline</mat-icon>
                      </button>
                    </div>
                  </div>
                   </div>
                </ng-container>
              </th>
              <th>
                <div class="units justify-content-end">
                 <!--  <div class="mx-2">Density:</div> -->
                  <div class="currency-value">
                    <span>{{
                      getProductOfProcessUserConversionUom("density").value
                    }}</span>
                    <span>{{
                      getProductOfProcessAttributeValue("density").value
                    }}</span>
                  </div>
                  <div class="unit-value">
                    <select
                      (change)="calculateValues()"
                      [formControl]="grossDensityUom"
                      class="unit"
                    >
                      <option value="" disabled selected>Select Uom</option>
                      <ng-container
                        *ngFor="let i of uomService?.availableDensityUoms"
                      >
                        <option [value]="i.description">
                          {{ i.description }}
                        </option>
                      </ng-container>
                    </select>
                    <span>{{ convertedDensity.value }}</span>
                  </div>
                </div>
              </th>
              <th>
                <div class="units justify-content-end">
                <!--   <div class="mx-3">Cost:</div> -->
                  <div class="currency-value">
                    <span>{{
                      processForm
                        .get("materialMetricCost")
                        .get("userConversionUom").value
                    }}</span>
                    <span>{{
                      processForm
                        .get("materialMetricCost")
                        .get("attributeValue").value
                    }}</span>
                  </div>
                  <div class="unit-value">
                    <select
                      (change)="calculateValues()"
                      [formControl]="totalCostUom"
                    >
                      <option value="" disabled selected>Select Uom</option>
                      <ng-container
                        *ngFor="let i of uomService?.availableMatricCostUoms"
                      >
                        <option [value]="i.description">
                          {{ i.description }}
                        </option>
                      </ng-container>
                    </select>
                    <span>{{ convertedTotalCost.value }}</span>
                  </div>
                </div>
              </th>
              <th style="width: 60px"></th>
            </tr>
          </thead>
        </table>

        <ng-container>
          <div class="process-table">
            <!-- Material Cost -->
            <table>
              <thead>
                <tr style="background-color: var(--body-bg);">
                  <th style="padding-left: 20px">Sr.</th>
                  <th>Product Type</th>
                  <th>Product</th>
                  <th>
                    <div class="group">
                      <span>Price </span>
                      ({{ priceUom?.value }})
                    </div>
                  </th>
                  <th>
                    <div class="group">
                      <span>Density </span>
                      ({{ densityUom?.value }})
                    </div>
                  </th>
                  <th>%USED ({{ sumOfUsedPercent }} / 100.00%)</th>
                  <th>%Waste</th>
                  <th>
                    <div class="group">
                      <span>AVG. Density </span>
                      ({{ avgDensityUom?.value }})
                    </div>
                  </th>
                  <th>
                    <div class="group">
                      <span>Cost Addon </span>
                      ({{ metricCostUom?.value }})
                    </div>
                  </th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="getprocessProducts.controls?.length == 0">
                  <th style="padding-left: 20px"></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>
                <!--     <button
                      class="b-none d-flex align-items-center justify-content-center bg-transparent p-0"
                      (click)="addNewProcessProductControl()"
                      [disabled]="processForm?.disabled"
                    >
                      <mat-icon class="primary-text"
                        >add_circle_outline</mat-icon
                      >
                    </button> -->
                    <dadyin-button [theme]="'borderless-primary'" type='image'
              [typeval]="'assets/nicons/add-white.png'"  (click)="addNewProcessProductControl()"
                      [disabled]="processForm?.disabled">
                    </dadyin-button>
                  </th>
                </tr>
                <ng-container
                  *ngFor="
                    let processproduct of getprocessProducts.controls;
                    let i = index;
                    trackBy: trackByFn
                  "
                >
                  <tr>
                    <td style="padding-left: 20px">{{ i + 1 }}.</td>
                    <td>
                      <select
                        [ngClass]="{
                          'b-red':
                            getAttribute(i, 'productTypeId').invalid &&
                            getAttribute(i, 'productTypeId').touched
                        }"
                        name="id"
                        [formControl]="getAttribute(i, 'productTypeId')"
                        (change)="resetProduct(i)"
                      >
                        <option value="null" disabled selected>
                          Select Product Type
                        </option>
                        <ng-container
                          *ngFor="let type of this.apiService.productTypes"
                        >
                          <ng-container *ngIf="type?.productCount > 0">
                            <option [value]="type.id">
                              {{ type.description }}
                            </option>
                          </ng-container>
                        </ng-container>
                      </select>
                    </td>
                    <td>
                      <select
                        [ngClass]="{
                          'b-red':
                            getAttribute(i, 'subProductId').invalid &&
                            getAttribute(i, 'subProductId').touched
                        }"
                        [formControl]="getAttribute(i, 'subProductId')"
                        (change)="getProductData($event, i)"
                      >
                        <option value="null" disabled selected>
                          Select Product
                        </option>
                        <ng-container
                          *ngFor="let type of getFilteredProductsList(i)"
                        >
                          <option [value]="type.id">
                            {{ type.description }}
                          </option>
                        </ng-container>
                      </select>
                    </td>
                    <td>
                      <input
                        class="text-end"
                        (change)="calculateValues()"
                        type="number"
                        min="0"
                        [formControl]="
                          getAttributeValue(i, 'subProductMetricCost')
                        "
                        style="color: #169474 !important"
                      />
                    </td>
                    <td>
                      <input
                        class="text-end"
                        (change)="calculateValues()"
                        type="number"
                        min="0"
                        [formControl]="
                          getAttributeValue(i, 'subProductDensity')
                        "
                      />
                    </td>
                    <td>
                      <input
                        (change)="changeUsedPercent()"
                        type="number"
                        min="0"
                        class="text-primary text-end"
                        [ngClass]="{
                          'b-red':
                            !checkIfUsedPercentSum() &&
                            usedToggle.value &&
                            getAttribute(i, 'usedPercent')?.touched,
                          'blur-bg': !usedToggle.value
                        }"
                        [formControl]="getAttribute(i, 'usedPercent')"
                      />
                    </td>
                    <td>
                      <input
                        class="text-end"
                        [ngClass]="{ 'blur-bg': !usedToggle.value }"
                        (change)="calculateValues()"
                        type="number"
                        min="0"
                        [formControl]="getAttribute(i, 'wastePercent')"
                      />
                    </td>
                    <td>
                      <input
                        class="text-end"
                        [ngClass]="{ 'blur-bg': !usedToggle.value }"
                        (change)="calculateValues()"
                        type="string"
                        [formControl]="getAttributeValue(i, 'density')"
                        readonly
                      />
                    </td>
                    <td>
                      <input
                        class="text-end"
                        [ngClass]="{ 'blur-bg': !usedToggle.value }"
                        (change)="calculateValues()"
                        type="string"
                        [formControl]="getAttributeValue(i, 'metricCost')"
                        readonly
                      />
                    </td>
                    <td class="actions">
                     <!--  <button
                        class="b-none d-flex align-items-center justify-content-center bg-transparent p-0"
                        (click)="removeProcessProduct(i)"
                        [disabled]="processForm?.disabled"
                      >
                        <mat-icon class="text-danger">delete_outline</mat-icon>
                      </button> -->
                      <dadyin-button (click)="removeProcessProduct(i)" [theme]="'borderless-primary'" type='image'
              [typeval]="'assets/nicons/delete.png'"  [disabled]="processForm?.disabled">
                    </dadyin-button>
                      <ng-container
                        *ngIf="getprocessProducts.controls?.length == i + 1"
                      >
                      <!--   <button
                          class="b-none d-flex align-items-center justify-content-center bg-transparent p-0"
                          (click)="addNewProcessProductControl()"
                          [disabled]="
                            processForm?.disabled || getprocessProducts?.invalid
                          "
                        >
                          <mat-icon class="primary-text"
                            >add_circle_outline</mat-icon
                          >
                        </button> -->

 <dadyin-button (clicked)="addNewProcessProductControl()" [theme]="'borderless-primary'" type='image'
              [typeval]="'assets/nicons/add-white.png'"  [disabled]="
                            processForm?.disabled || getprocessProducts?.invalid
                          ">
                    </dadyin-button>
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </ng-container>
      </section>
      <section class="section-card conversion-cost-calculation my-2">
        <div class="header" style="display: flex !important;">
          <div class="title">
            <span class="me-3 text-black">Conversion Cost</span>
          <!--   <button
              *ngIf="!processForm?.disabled"
              class="b-none d-flex align-items-center justify-content-center bg-transparent p-0"
              (click)="addNewProcessConversionTypeControl()"
            >
              <mat-icon class="primary-text">add_circle_outline</mat-icon>
            </button> -->
             <dadyin-button   (clicked)="addNewProcessConversionTypeControl()" [theme]="'borderless-primary'" type='image'
              [typeval]="'assets/nicons/add-white.png'"  *ngIf="!processForm?.disabled">
                    </dadyin-button>
          </div>
          <div class="products-count">
            <!-- <span>Conversion: {{ this.getConversionCount() }}</span> -->
          </div>
          <div class="optional-values width-perc-10">
            <div class="units justify-content-end">
              <div class="currency-value">
                <span class="text-black">{{
                  processForm
                    .get("conversionMetricCost")
                    .get("userConversionUom").value
                }}</span>
                <span>{{
                  processForm.get("conversionMetricCost").get("attributeValue")
                    .value
                }}</span>
              </div>
              <div class="unit-value">
                <select class="text-black"
                  (change)="calculateValues()"
                  style="text-decoration: underline !important"
                  [formControl]="conversionCostUom"
                >
                  <option value="" disabled selected>Select Uom</option>
                  <ng-container
                    *ngFor="let i of uomService?.availableMatricCostUoms"
                  >
                    <option [value]="i.description">{{ i.description }}</option>
                  </ng-container>
                </select>
                <span>{{ this.convertedConversionCost.value }}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Conversion Cost -->
        <section class="conversionCost">
          <ul>
            <ng-container
              *ngFor="
                let conversiontype of getProcessConversionTypes.controls;
                let i = index;
                trackBy: trackByFn
              "
            >
              <li>
                <div class="cnvrsn-frm position-relative">
                  <select
                    (change)="calculateValues()"
                    name="conversionTypeId"
                    class="conversion-cost"
                    [formControl]="
                      getConversionTypeAttribute(i, 'conversionTypeId')
                    "
                    [ngClass]="{
                      'b-red':
                        getConversionTypeAttribute(i, 'conversionTypeId')
                          ?.invalid &&
                        getConversionTypeAttribute(i, 'conversionTypeId')
                          ?.touched
                    }"
                  >
                    <ng-container
                      *ngFor="let type of this.apiService.conversionTypes"
                    >
                      <option [value]="type.id">{{ type.description }}</option>
                    </ng-container>
                  </select>
                  <input
                    (change)="calculateValues()"
                    [ngClass]="{
                      'b-red':
                        getConversionTypeAttributeValue(i, 'metricCost')
                          ?.invalid &&
                        getConversionTypeAttributeValue(i, 'metricCost')
                          ?.touched
                    }"
                    type="number"
                    class="currency"
                    [formControl]="
                      getConversionTypeAttributeValue(i, 'metricCost')
                    "
                  />

                  <select
                    (change)="calculateValues()"
                    class="unit" style="background-color: var(--body-bg);"
                    [ngClass]="{
                      'b-red':
                        getConversionTypeUserConversionUom(i, 'metricCost')
                          ?.invalid &&
                        getConversionTypeUserConversionUom(i, 'metricCost')
                          ?.touched
                    }"
                    [formControl]="
                      getConversionTypeUserConversionUom(i, 'metricCost')
                    "
                  >
                    <ng-container
                      *ngFor="let i of uomService?.availableMatricCostUoms"
                    >
                      <option disabled [value]="i.description">
                        {{ i.description }}
                      </option>
                    </ng-container>
                  </select>
                </div>
               <!--  <button
                  class="b-none d-flex align-items-center justify-content-center bg-transparent p-0"
                  (click)="removeConversion(i)"
                  [disabled]="processForm?.disabled"
                >
                  <i class="material-icon"> cancel_outline </i>
                </button> -->
                <div class="delete-btn">
                <dadyin-button (click)="removeConversion(i)"
                  [disabled]="processForm?.disabled" [theme]="'borderless-primary'" type='image'
              [typeval]="'assets/nicons/delete.png'">
                    </dadyin-button>
                    </div>
                     <div class="add-btn">
                         <dadyin-button (clicked)="addNewProcessConversionTypeControl()"
                         [theme]="'borderless-primary'" type='image' *ngIf="!processForm?.disabled"
             [typeval]="'assets/nicons/add-white.png'" >
                    </dadyin-button>
                     </div>
              </li>
            </ng-container>
          </ul>
        </section>
      </section>
    </ng-template>
  </mat-expansion-panel>
</form>
