.attribute-input select {
    min-width: unset !important;
}

.fill-line {
    border: solid 1px var(--card-header-bg);
    border-radius: 10px;
    width: 100%;
    margin-left: 5px;
    height: 15px;
}


.progress-line {
    height: 15px;
    width: 20%;
    border-radius: 10px;
    background: var(--primary-dark-bg);
}


.t-head {
    background: var(--primary-light);
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    font-size: 12px;
    color: var(--primary-color);

    th {
        font-weight: 400 !important;
    }
}


.grid-1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



