.container_body {
  width: 100%;
  min-height: 100vh;
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3% 0;
  }
}


.process-tab-header {
  height: 40px !important;
  display: grid;
  grid-template-columns: 35% 35% 30%;
}


.uom {  
  height: 30px;
  display: flex;
  align-items: center;
  background: var(--primary-light);
  font-size:12px;
  padding:3px;
}
.radio-selection{
  label{
    white-space: nowrap;
  }
}