input {
  width: 100%;
  padding: 2px;
  color: #444444;
  text-align: left;
  border-radius: 2px;
  height: 100% !important;
  border-radius: 2px;
  min-height: 28px !important;
}

.process-table {
  td {
    border: none !important;
  }
}