<div class="dialog-container">
    <i class="material-icon" mat-dialog-close>close</i>

    <div class="dialog-card-header">
        <h3>Arrange Calculator Attribute </h3>
    </div>
    <div class="example-list" (cdkDropListDropped)="drop($event)" cdkDropListData="item" cdkDropList>
           <ng-container >
                <div  [ngStyle]="{'margin-left': labelTypeAttributeIds.includes(item.get('attributeId').value) ? '10px' : '0px'}"  *ngFor="let item of attributeValue | sortFormArray;let i = index">
                    <label class="example-box" cdkDrag  >
                      <mat-icon class="drag_indicator">drag_indicator</mat-icon>
                     {{ getAttributeObjectdescriptionById(item.get('attributeId').value)}} <!-- {{item.label}} -->
                  </label>
               </div>
              </ng-container>
    </div>
    <br />
    <!-- <dadyin-button [theme]="'secondary'" label="Set Sequence" (click)="save()">
    </dadyin-button> -->
</div>