.attribute-input select {
    min-width: unset !important;
}

// indiviudla

.fill-line {
    border: solid 1px var(--card-header-bg);
    border-radius: 10px;
    width: 100%;
    margin-left: 9px;
    height: 15px;
    background: white;
}


.progress-line {
    height: 13px;
    border-radius: 10px;
    background: var(--primary-dark-bg);
    max-width: 100%;
}



.t-head {
    background-color: #D7E8F5 !important;
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    color: var(--primary-dark-bg);
    ;
}

.t-head-light {
    background-color: var(--primary-light) !important;
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    color: var(--primary-dark-bg);
}

.grid-1 {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.input-order {
    display: flex;
    flex-wrap: wrap;

    .inp {
        // margin-left: 1rem;
        margin-right: 1rem;
        width: 11%;
    }
}


.input-rowNumber {
    border: unset;
    border-bottom: solid 1px black ;
    width: 70% !important;
    background: transparent;
}


.star-icon-size {
    cursor: pointer;
    color: var(--primary-dark-bg);
}


mat-expansion-panel {
    background: #fff;
    border-radius: 0;
    margin-bottom: 2px;
    box-shadow: none !important;

    mat-expansion-panel-header {
        background: var(--card-header-bg) !important;
        padding: 0 20px !important;
        height: 40px;
        // border: 1px solid #03256C !important;
        width: 100%;

        &:hover,
        &:focus {
            background: var(--card-header-bg);
            color: var(--card-header-color);
        }

        mat-panel-description {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin: 0;
            padding: 0;

            p {
                color: var(--card-header-color) !important;
                text-align: center;
                margin: 0;
                padding: 0;
                font-weight: 500 !important;
            }
        }
    }
}

.bg-lightgrey {
  background: #F0F0F0 !important;
}

.bg-grey {
  background: #D8D8D8!important;
  }
.b-bottom {
  border-bottom: solid 1px;
}
.b-top {
  border-top: solid 1px;
}
.b-right-left {
  border-left: solid 1px;
  border-right: solid 1px;
}

.cell-white {
border:solid 1px white;
border-right:solid 1px;
background:white ;
}

.col-80 {
  text-align: center !important;
}