<div class="app-container  ">
  <div class="wizard-bar-container">
    <div class="wizard-heading">
      <dadyin-button (clicked)="navigate('/home/order-management/customer?currentStepIndex=1')"
        [theme]="'borderless-primary'" type="image" [typeval]="'assets/img/icons/ArrowLeftCircle.png'">
      </dadyin-button>
      <ng-container *ngIf="quotationForm.getRawValue()?.id">
        <div class="font-size-16 text-black fw-bold">
          <label>{{ quotationToName }}</label>
        </div>
        <span class="text-dark"> | </span>
        <div class="status font-size-12">{{ quotationForm.getRawValue()?.status }}</div>
      </ng-container>
      <ng-container *ngIf="!quotationForm.getRawValue()?.id">
        <div class="content-title text-light">
          <label>Create Quotation</label>
        </div>
      </ng-container>
      <span class="text-dark" *ngIf="quotationForm.getRawValue()?.id"> | </span>
      <div class="content-info text-dark">
        <div class="d-flex align-items-center" *ngIf="quotationForm.getRawValue()?.transactionId">
          <div>
            <b>{{ quotationForm.getRawValue()?.transactionId }}</b> <br>
            <span class="font-size-10"> ( {{ quotationForm.getRawValue()?.audit?.createdDate | date : "medium" }} )
            </span>
          </div>
        </div>
      </div>
    </div>
    <div></div>
    <div class="d-flex justify-content-end align-items-center">
      <dadyin-button matTooltip="Share Link for Customer" *ngIf="
        quotationForm.get('id').value &&
        quotationForm?.value.status != 'DRAFT'
      " (clicked)="shareQuotation()" matTooltip="Share" [theme]="'borderless-default'" type="image"
        [typeval]="'assets/nicons/share.png'">
      </dadyin-button>
      <dadyin-button matTooltip="Print" [theme]="'disabled'" type="image" [typeval]="'assets/nicons/print.png'">
      </dadyin-button>
      <dadyin-button matTooltip="Copy Transaction (Option to get different transactions which need to copy)" [theme]="'disabled'" type="image" [typeval]="'assets/nicons/refresh.png'">
      </dadyin-button>
      <dadyin-button matTooltip="Copy this Transaction" [theme]="'disabled'" type="image" [typeval]="'assets/nicons/copy.png'">
      </dadyin-button>
      <dadyin-button (clicked)="generatePdf(true)"  matTooltip="Download Tier/QC Quote" [theme]="'borderless-default'" type="image" [typeval]="'assets/nicons/cart.png'">
      </dadyin-button>
      <dadyin-button (clicked)="generatePdf(false)" matTooltip="Download" [theme]="'borderless-default'" type="image" [typeval]="'assets/nicons/download.png'">
      </dadyin-button>
      <dadyin-button matTooltip="Delete"
        *ngIf="quotationForm.get('status').value == 'DRAFT' && quotationForm.get('id').value"
        (clicked)="confirmDelete()" [theme]="'borderless-default'" type="image"
        [typeval]="'assets/img/icons/delete.png'">
      </dadyin-button>
      <dadyin-button matTooltip="Email Transaction (Regular or Tier)" [theme]="'disabled'" type="image" [typeval]="'assets/nicons/mail.png'">
      </dadyin-button>
      <dadyin-button matTooltip="Save this in Draft" *ngIf="
      quotationForm?.value.status == null || quotationForm?.value.status == 'DRAFT'
    " (clicked)="saveQuotation('DRAFT')" [theme]="'borderless-default'" type="image"
        [typeval]="'assets/nicons/save.png'">
      </dadyin-button>
      <dadyin-button matTooltip="Send this Quotation" (clicked)="saveQuotation('SENT')" [theme]="'borderless-default'"
        type="image" [typeval]="'assets/nicons/place.png'">
      </dadyin-button>
    </div>
  </div>
  <div cdkDrag class="uom-config-section">
    <button id="movableBox" (click)="$event.stopPropagation(); uomSetting = !uomSetting"
      class="btn bg-primary-light title-text">
      UOM Setting
    </button>
    <div (click)="$event.stopPropagation()" class="card uom-card" *ngIf="uomSetting">
      <div style="margin: 15px" class="prefer-uom-grid align-items-center" *ngIf="componentUoms.controls?.length > 0">
        <div [formGroup]="item" *ngFor="let item of componentUoms.controls; let i = index"
          class="my-2 attribute one b-none w-100">
          <div class="attribute-input justify-content-around w-100 title-text">
            <div class="text-uppercase">
              {{ item.get("attributeName").value }}
            </div>
            <select (change)="calculateQuotationValues()" formControlName="userConversionUom">
              <ng-container *ngFor="
                  let uom of uomService.getUoms(
                    item.get('attributeTypeId').value
                  )
                ">
                <option [value]="uom.description">
                  {{ uom?.description }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group class="mat-steps" [(selectedIndex)]="currentStepIndex" (selectedTabChange)="onChangeTab($event)">
    <mat-tab *ngIf="referenceOrder.value?.rfQuotationId" label="RFQ Details">
    </mat-tab>

    <mat-tab label="Quotation Details">
      <app-create-quotation (generatePdf)="generatePdf($event)" [componentUoms]="componentUoms"
        (calculate)="calculateQuotationValues()" (patchEditData)="patchEditData($event, true)"
        [quotationForm]="quotationForm"></app-create-quotation>
    </mat-tab>
  </mat-tab-group>
</div>