.prod-header {
  border-radius: 5px;
  padding: 5px 5%;
  display: grid;
  grid-template-columns: 50% auto;
  align-items: center;

  .filters {
    display: flex;
    align-items: center;
    button {
      margin-right: 10px;
      background: #f1f5f9;
      border-radius: 5px;
      padding: 5px 5px;
      border: 1px solid #dedede;
      display: grid;
      justify-content: center;
      text-align: center;
      align-items: center;
      color: #133275;
      mat-icon {
        font-size: 1.2rem;
      }
    }
    search-filter {
      width: 100%;
    }
  }
}
.product-title {
  color: #055ca7;
}

.no-product {
  text-align: center;
}

.add-product-btn {
  float: right;
}

.serach-filter {
  box-shadow: 3px 3px 8px #0000000f;
  z-index: 1;
  font-size: 0.875rem;
  padding: 0.5rem;
  background: white;
}

button.btn-success {
  background: var(--primary-dark-bg);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 0 20px;
}


.app-receivedPo {
  margin: 20px;
  border: 1px solid #D5E7FA;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  .tile-receivedPo {
    display: grid;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    height: 120px;
    line-height: 120px;
    font-size: large;
    border: 1px solid #D5E7FA;
    background: #F1F5F9;
    align-content: center;

    .title-span {
      line-height: 20px;
      color: var(--text-color);

      span {
        margin-top: 10px;
        font-weight: 500
;        font-size: 14px;
      }
    }

    img {
      filter: brightness(0) saturate(100%) invert(13%) sepia(25%) saturate(6349%) hue-rotate(212deg) brightness(93%) contrast(106%);
    }
  }

}


