.selected {
    margin-top: 5px;
    border: 1px solid #d5e7fa;
    border-radius: 5px;
    width: 100%;
    background-color: #F0F0F0;
    overflow: auto !important;
    overflow-x: hidden !important;
    padding:8px;
}

label {
    margin-top: 6px;
    display: flex;
    font-size: 12px;
}

.common {
    position: relative;
    top: 14px;
    left: 13px;
    width: fit-content !important;
    color: var(--text-primary);
}

.comm {
    width: max-content;
}

.wdiv {
    width: 100%;
    margin: 4px 10px;
}

.around {
    margin-top: 5px;
    margin-left: 0px;
    border: 1px solid #d5e7fa;
    font-size: 12px;
    border-radius: 25px;
    background-color: #fff;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden !important;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}

.text-ellipsis:after {
    position: absolute;
    // content: "...";
    bottom: 0;
    right: 0;
}

mat-icon {
    width: 0px !important;
    color: red;
    font-size: 15px;
    margin-top: -6px;
    margin-left: 0px;
}

img {
    vertical-align: top;
    position: relative;
    top: 2px;
    left: -3px;
    height: 22px;
    cursor: pointer;
}

.wd {
    width: 298px;
}
