.calculator-title {
  font-size: 19px;
  font-weight: 500;
  word-spacing: 2px;
}

.calculator-name {
  margin-bottom: 15px;
}

.calculator-header {
  margin-top: 20px;
  border-top: 10px solid #b7b7b7;
}

.cancel {
  background-color: #ffc107;
}

// .table-responsive {
//     margin-bottom: 1rem;
// }

// .table-responsive .table{
//     margin-bottom: 0rem;
// }

.table-responsive {
  overflow: hidden;
}

.table-responsive table {
  margin-bottom: 0px;
}

.table-responsive ::ng-deep.mat-form-field-underline {
  display: none;
}

.table-responsive ::ng-deep.mat-form-field {
  height: 32px;
}

.table-primary > th,
th.table-primary {
  background-color: #e7f3f8;
  padding: 5px 8px;
}

.col-checkbox {
  width: 40px;
}

// .product-description, .conversion-description, .main-product-attributes {
//     max-width: 30px;
// }

.col-product,
.main-product-attributes {
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  padding: 0px 8px;
  height: 36px;
}

.product-name {
  margin-top: 0px;
  padding-top: 8px;
  display: inline-block;
}

.col-product-attribute {
  width: auto;
  font-weight: 500;
}

.delete-icon {
  vertical-align: bottom;
  font-size: 16px;
  padding: 5px 0px;
}

th.table-primary {
  border-width: 1px;
  font-weight: 500;
}

.selection-field {
  // margin-top: -15px;
  // margin-bottom: -15px;
  width: 50px;
}

.formula-field {
  width: 100%;
  margin-top: -15px;
  margin-bottom: -15px;
}

.calculator-action {
  margin-top: 10px;
}

.add-new-attribute-as-row {
  margin-left: 66px;
  float: none !important;
}

.add-new-attribute {
  float: right;
}

.add-new-attribute .mat-form-field {
  margin-top: 3px;
  width: 130px;
}

.add-new-attribute ::ng-deep.mat-form-field-flex {
  padding: 1px;
  padding-left: 5px;
}

.add-new-attribute ::ng-deep.mat-form-field-infix {
  padding-bottom: 0px;
}

.add-new-attribute button,
.add-new-attribute-as-row button {
  height: 28px;
  padding: 0px 7px;
  font-size: 12px;
  line-height: 0;
}

::ng-deep .mat-raised-button.mat-primary {
  background: #0059a6 !important;
}

::ng-deep .mat-raised-button.mx-secondary-btn {
  background: white;
  color: rgba(0, 0, 0, 0.87);
}
