.buying-capacity {
  // td {
  //   padding: 4px 3px 4px 3px !important;
  // }
  .mar-col {
    font-size: 12px;
    padding-left: 15px;
    width: 125px !important;
    div {
      border: none !important;
      color: var(--theme-text-color) !important;
      font-weight: 600 !important;
    }
  }
}

.head-column {
  width: 125px;
  height: 32px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.tier-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.quickcheckout-col {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  font-size: 12px;
  font-weight: 500;
}

.h-32 {
  height: 32px;
  display: flex;
  align-items: center;
}

.width-125 {
  width: 125px;
}
input,
select {
  height: 32px !important;
  font-size: 12px;
  font-weight: 500;
}

.pl-1 {
  padding-left: 3px;
}

.border-l-light{
  border-left: 1px solid var(--light-text-color);
  padding-left: 8px;
}