<form [formGroup]="productForm">
  <mat-expansion-panel
    class="my-2 panel-no-padding"
    expanded="true"
    #mep="matExpansionPanel"
  >
    <mat-expansion-panel-header>
      <div class="header" (click)="mep.expanded = !mep.expanded">
        <div class="title-text py-2">
          <span> Buying Capacity </span>
        </div>
      </div>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <section
        class="section-card material-cost-calculation process-table buying-capacity"
      >
        <table>
          <thead>
            <tr>
              <th class="bg-light mar-col"></th>
              <th
                class="bg-light b-light"
                style="width: 150px"
                *ngFor="let item of buyingCapacities.value"
              >
                <div>{{ item?.buyingCapacityType }} Buyer</div>
              </th>
              <th class="bg-light" [colspan]="12 - buyingCapacities.value?.length"></th>
              <th  class="bg-light" ></th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr>
                <td class="bg-light mar-col">
                  <div class="bg-light" name="id">MARGIN %</div>
                </td>
                <ng-container
                  [formGroup]="item"
                  *ngFor="let item of buyingCapacities.controls"
                >
                  <td>
                    <input
                      type="number"
                      (change)="getCalculatedValues()"
                      formControlName="marginPercent"
                    />
                  </td>
                </ng-container>
              </tr>
              <tr>
                <td class="bg-light mar-col">
                  <div class="bg-light" name="id">MARKUP %</div>
                </td>
                <ng-container
                  [formGroup]="item"
                  *ngFor="let item of buyingCapacities.controls"
                >
                  <td>
                    <div class="font-size-12 bg-light b-light">
                      {{
                        item.get("markupPercent").value | numberFormatter : 3
                      }}
                    </div>
                    <!-- <input type="number" (change)="getCalculatedValues()"  formControlName="markupPercent" />       -->
                  </td>
                </ng-container>
              </tr>
              <tr>
                <td class="bg-light mar-col">
                  <div class="bg-light" name="id">DECIMAL</div>
                </td>
                <ng-container
                  [formGroup]="item"
                  *ngFor="let item of buyingCapacities.controls"
                >
                  <td>
                    <input
                      type="number"
                      (change)="getCalculatedValues()"
                      formControlName="decimalValue"
                    />
                  </td>
                </ng-container>
              </tr>
              <tr>
                <td class="bg-light mar-col">
                  <div class="bg-light" name="id">CONSI. SKU COST</div>
                </td>
                <ng-container *ngFor="let item of buyingCapacities.value">
                  <td>
                    <div class="bg-light b-light">
                      {{
                        item.consideredSkuPrice.attributeValue
                          | numberFormatter : 3
                      }}
                    </div>
                  </td>
                </ng-container>
              </tr>
              <tr>
                <td class="bg-light mar-col">
                  <div class="bg-light" name="id">SKU PRICE</div>
                </td>
                <ng-container *ngFor="let item of buyingCapacities.value">
                  <td>
                    <div class="bg-light b-light">
                      {{ item.skuCost.attributeValue | numberFormatter : 3 }}
                    </div>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </section>
    </ng-template>
  </mat-expansion-panel>
  <!--  -->
  <mat-expansion-panel
    *ngIf="productForm.get('isQuickCheckoutEligible').value"
    class="panel-no-padding"
    expanded="true"
    #mep="matExpansionPanel"
  >
    <mat-expansion-panel-header>
      <div class="header" (click)="mep.expanded = !mep.expanded">
        <div class="title-text">
          <span> Define Tier Pricing (For Quick Checkout)</span>
        </div>
      </div>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <section class="section-card bg-light">
        <div class="d-flex">
          <div style="width: 125px !important">
            <div
              class="bg-light title-text font-size-12 d-flex flex-column"
              style="white-space: nowrap; row-gap: 2px"
            >
              <div class="head-column">SKU-QTY</div>
              <div class="head-column">MARGIN %</div>
              <div class="head-column">MARKUP %</div>
              <div class="head-column">SKU PRICE</div>
            </div>
          </div>

          <div class="d-flex">
            <div
              [formGroup]="item"
              *ngFor="
                let item of tierPricingQuickCheckout?.controls;
                let i = index
              "
              class="d-flex flex-wrap"
            >
              <div
                *ngIf="item?.value.skuType != 'TRUCK'"
                style="white-space: nowrap"
                class="bg-light d-flex flex-column"
                style="row-gap: 2px; padding-left: 2px"
              >
                <div
                  style="padding-left: 5px"
                  class="d-flex quickcheckout-col b-light align-items-center text-light"
                >
                  <ng-container *ngIf="item?.value?.minimumQuantity">
                    {{ item?.value?.minimumQuantity }}-{{
                      item?.value?.maximumQuantity
                    }}
                  </ng-container>
                  {{ item?.value?.skuType }}
                </div>
                <div class="d-flex quickcheckout-col">
                  <input
                    (change)="
                      calculateMarginAndMarkupQuickCheckout(i, 'margin')
                    "
                    formControlName="marginPercent"
                    class="px-1 b-light width-perc-100"
                    type="number"
                  />
                </div>
                <div class="d-flex p-0">
                  <!-- <input disabled readonly   formControlName="markupPercent"
                    class="  b-light bg-light" type="number"> -->
                  <div
                    class="quickcheckout-col b-light width-perc-100 bg-light px-1 font-size-12"
                  >
                    {{ item.get("markupPercent").value }}
                  </div>
                </div>
                <div class="d-flex p-0">
                  <div
                    class="quickcheckout-col b-light width-perc-100 bg-light px-1 font-size-12"
                  >
                    {{
                      item.get("tierCost").get("attributeValue").value
                        | numberFormatter : 3
                    }}
                  </div>
                  <!-- <input disabled readonly  formControlName="attributeValue" class=" w-100  b-light bg-light " type="number"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel
    *ngIf="
      productForm.get('isCustomizable').value ||
      productForm.get('preferredCustomerId').value
    "
    class="panel-no-padding"
    expanded="true"
    #mep="matExpansionPanel"
  >
    <mat-expansion-panel-header>
      <div class="header" (click)="mep.expanded = !mep.expanded">
        <div class="title-text">
          <span> Define Tier Pricing (For Customization)</span>
        </div>
      </div>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <section class="section-card">
        <div class="d-flex">
          <div class="d-flex">
            <div
              class="bg-light title-text font-size-12 d-flex flex-column"
              style="row-gap: 4px"
            >
              <div class="head-column">UNIT-QTY</div>
              <div class="head-column">MARGIN %</div>
              <div class="head-column">MARKUP %</div>
              <div class="head-column">UNIT PRICE</div>
              <ng-container
                *ngIf="tierPricingCustomization?.controls?.length > 0"
              >
                <div
                  [formGroup]="item"
                  *ngFor="
                    let item of deliveryPricings(0)?.controls;
                    let k = index
                  "
                  class="head-column"
                >
                  <div
                    class="bg-light d-flex align-items-center title-text font-size-12"
                    style="column-gap: 2px"
                  >
                    <!-- <div>PRICE</div> -->
                    <div>
                      <select
                        class="w-100 b-round"
                        (change)="onChangeDaysorCost()"
                        formControlName="numberOfDays"
                      >
                        <option disabled>Select number of days</option>
                        <option value="20">20</option>
                        <option value="90">90</option>
                      </select>
                    </div>
                    <div>DAYS</div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="d-flex flex-column w-100" style="row-gap: 4px">
              <div
                class="head-column bg-light font-size-12 title-text"
                style="text-wrap: nowrap; padding-left: 7px"
              >
                FREIGHT CHARGES
              </div>
              <div class="head-column pl-1"></div>
              <div class="head-column pl-1"></div>
              <div class="head-column pl-1"></div>
              <ng-container
                *ngIf="tierPricingCustomization?.controls?.length > 0"
              >
                <div
                  [formGroup]="item"
                  *ngFor="
                    let item of deliveryPricings(0)?.controls;
                    let k = index
                  "
                  class="d-flex head-column pl-1"
                >
                  <ng-container formGroupName="metricCost">
                    <input
                      (change)="onChangeDaysorCost()"
                      formControlName="attributeValue"
                      class="width-perc-50 b-light b-round"
                      type="number"
                    />
                    <select
                      formControlName="userConversionUom"
                      class="b-light b-round bg-light width-perc-50"
                    >
                      <option
                        [value]="item?.description"
                        *ngFor="let item of uomService.availableAllMetricUOM"
                      >
                        {{ item?.description }}
                      </option>
                    </select>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>

          <div
            class="w-100 d-flex flex-wrap"
            style="row-gap: 2px; column-gap: 5px"
          >
            <div *ngIf="tierPricingCustomization?.controls?.length == 0">
             <!--  <button
                class="b-none d-flex align-items-center bg-transparent p-0 mt-1"
              >
                <mat-icon
                  (click)="addFirstTierPricingCustomForm()"
                  class="primary-text"
                  >add_circle_outline</mat-icon
                >
              </button> -->
            <dadyin-button
                 (clicked)="addFirstTierPricingCustomForm()"
                 [typeval]="'assets/nicons/add-white.png'"
                [theme]="'borderless-primary'"
                type="image">
              </dadyin-button> 
            </div>

            <div
              class="mx-1 d-flex"
              [formGroup]="item"
              *ngFor="
                let item of tierPricingCustomization?.controls;
                let i = index
              "
            >
              <div class="d-flex flex-column" style="row-gap: 4px">
                <div
                  class="d-flex width-125 align-items-center"
                  style="margin-top: 1px"
                >
                  <input
                    formControlName="minimumQuantity"
                    (change)="onChangeMinQuantity(i, $event)"
                    class="b-light width-perc-49"
                    type="number"
                  />
                  -
                  <input
                    class="b-light bg-light h-32 width-perc-49"
                    type="text"
                    disabled
                    readonly
                    value="{{
                      item.get('maximumQuantity').value
                        ? item.get('maximumQuantity').value
                        : '∞'
                    }}"
                  />
                </div>
                <div class="d-flex width-125">
                  <input
                    (change)="calculateMarginAndMarkup(i, 'margin')"
                    formControlName="marginPercent"
                    class="width-perc-100 b-light"
                    type="number"
                  />
                </div>
                <div class="d-flex width-125">
                  <!-- <input readonly disabled (change)="calculateMarginAndMarkup(i,'markup')" formControlName="markupPercent"
                    class="width-perc-100 b-light  bg-light " type="number"> -->
                  <div
                    class="width-perc-100 px-1 b-light h-32 font-size-12 bg-light"
                  >
                    {{ item.get("markupPercent").value }}
                  </div>
                </div>
                <div class="d-flex width-125 tiercost" formGroupName="tierCost">
                  <div
                    class="width-perc-100 h-32 px-1 b-light bg-light font-size-12"
                  >
                    {{
                      item.get("tierCost").get("attributeValue").value
                        | numberFormatter : 3
                    }}
                  </div>
                  <!-- <input formControlName="attributeValue" disabled readonly class="width-perc-100   bg-light " type="number"> -->
                </div>
                <div
                  *ngFor="
                    let delivery of deliveryPricings(i)?.controls;
                    let j = index
                  "
                  class="d-flex width-125"
                >
                  <div class="d-flex width-perc-100">
                    <div
                      class="width-perc-100 h-32 px-1 b-light bg-light font-size-12"
                    >
                      {{
                        delivery.get("deliveryCost").get("attributeValue").value
                          | numberFormatter : 3
                      }}
                    </div>
                    <!-- <input formControlName="attributeValue" class="width-perc-100 b-light " type="number"> -->
                  </div>
                </div>
              </div>
              <div
                class="d-flex align-items-start flex-column"
                style="row-gap: 4px"
              >
                <div class="h-32 d-flex">
                   <dadyin-button
                 (clicked)="removeTierPricingCustom(i)"
                matTooltip="Delete"
                [typeval]="'assets/nicons/delete.png'"
                [theme]="'borderless-primary'"
                type="image">
              </dadyin-button>
                 <!--  <dadyin-button
                    [theme]="'borderless-danger'"
                    type="icon"
                    [typeval]="'delete_outline'"
                    (clicked)="removeTierPricingCustom(i)"
                  >
                  </dadyin-button> -->
                 <!--  <button
                    *ngIf="tierPricingCustomization?.controls?.length == i + 1"
                    class="b-none mt-1 d-flex align-items-center bg-transparent p-0"
                  >
                    <mat-icon
                      (click)="addTierPricingCustomForm()"
                      class="primary-text"
                      >add_circle_outline</mat-icon
                    >
                  </button> -->
                  <dadyin-button
                   *ngIf="tierPricingCustomization?.controls?.length == i + 1"
                 (clicked)="addTierPricingCustomForm()"
                 [typeval]="'assets/nicons/add-white.png'"
                [theme]="'borderless-primary'"
                type="image">
              </dadyin-button> 
                </div>

                <div class="h-32"></div>
                <div class="h-32"></div>
                <div class="h-32"></div>

                <div
                  *ngFor="
                    let delivery of deliveryPricings(i)?.controls;
                    let j = index
                  "
                  class="d-flex h-32 width-perc-100"
                >
                  <ng-container
                    *ngIf="i == tierPricingCustomization.controls?.length - 1"
                  >
                   <dadyin-button
                 (clicked)="removeDeliveryPricing(i)"
                matTooltip="Delete"
                [typeval]="'assets/nicons/delete.png'"
                [theme]="'borderless-primary'"
                type="image">
              </dadyin-button> 
                   <!--  <dadyin-button
                      (clicked)="removeDeliveryPricing(j)"
                      [theme]="'borderless-danger'"
                      type="icon"
                      [typeval]="'delete_outline'"
                    >
                    </dadyin-button> -->
                    <!-- <button
                      *ngIf="
                        j == deliveryPricings(i)?.controls?.length - 1 && j < 1
                      "
                      (click)="addDeliveryPricingForm()"
                      class="b-none d-flex align-items-center bg-transparent p-0"
                    >
                      <mat-icon class="primary-text"
                        >add_circle_outline</mat-icon
                      >
                    </button> -->
                     <dadyin-button
                 *ngIf="
                        j == deliveryPricings(i)?.controls?.length - 1 && j < 1
                      "
                      (clicked)="addDeliveryPricingForm()"
                 [typeval]="'assets/nicons/add-white.png'"
                [theme]="'borderless-primary'"
                type="image">
              </dadyin-button> 
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel
    class="panel-no-padding my-2"
    expanded="true"
    #mep="matExpansionPanel"
  >
    <mat-expansion-panel-header>
      <div class="header d-flex align-items-center w-100 justify-content-between" (click)="mep.expanded = !mep.expanded">
        <div class="title-text py-2">
          <span> Raw Material </span>
        </div>
        <div class="d-flex me-3" >
          <div class="d-flex flex-column border-l-light me-3">
          <span class="font-size-12 text-light fw-600">
            USD/SKU
          </span>
           <span class="font-size-12 text-black">
            $54.00
          </span>
          </div>
           <div class="d-flex flex-column border-l-light">
          <span class="font-size-12 text-light  fw-600">
            USD/MT
          </span>
           <span class="font-size-12 text-black">
            $2500.00
          </span>
          </div>
        </div>
      </div>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <section class="section-card material-cost-calculation process-table">
        <table>
          <thead class="bg-body-light" >
            <tr>
              <th style="padding-left: 20px">Sr.</th>
              <th>Product Type</th>
              <th>Product</th>
              <th>
                <div class="group">
                  <span>Cost</span>
                </div>
              </th>
              <th>
                <div class="group">
                  <span>Qty/Unit</span>
                </div>
              </th>
              <th>Order Qty</th>
              <th>Order Cost</th>
              <th>QOH (SKU)</th>
              <th>
                <div class="group">
                  <span>Pref. Vendor</span>
                </div>
              </th>
               <th>
                  <div class="group">
                    <span>Last Purchase</span>
                  </div>
                </th> 
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr *ngFor="let product of relatedPoDetails; let i = index">
                <td style="padding-left: 20px">{{ i + 1 }} .</td>
                <td>
                  <div name="id">
                    {{ product?.productTypeDescription }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ product?.description }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ product?.metricCost?.attributeValue }}
                    {{ product?.metricCost?.userConversionUom }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ product?.orderQuantity }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ product?.density?.attributeValue }}
                    {{ product?.density?.userConversionUom }}
                  </div>
                </td>
                <td>
                  <div>{{ product?.usedPercent }} %</div>
                </td>
                <td>
                  <div>{{ product?.wastePercent }} %</div>
                </td>
                <td>
                  <div>
                    {{ product?.preferredVendorName }}
                  </div>
                </td>
                <!-- <td>
                    <div>

                    </div>
                  </td> -->
              </tr>
            </ng-container>
          </tbody>
        </table>
      </section>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel
    class="panel-no-padding my-2"
    expanded="true"
    #mep="matExpansionPanel"
  >
    <mat-expansion-panel-header>
      <div class="header  d-flex align-items-center w-100 justify-content-between" (click)="mep.expanded = !mep.expanded">
        <div class="title-text py-2">
          <span> Packaging Cost </span>
        </div>
         <div class="d-flex me-3" >
          <div class="d-flex flex-column border-l-light me-3">
          <span class="font-size-12 text-light fw-600">
            USD/SKU
          </span>
           <span class="font-size-12 text-black">
            $54.00
          </span>
          </div>
           <div class="d-flex flex-column border-l-light">
          <span class="font-size-12 text-light  fw-600">
            USD/MT
          </span>
           <span class="font-size-12 text-black">
            $2500.00
          </span>
          </div>
        </div>
      </div>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <section class="section-card material-cost-calculation process-table">
        <table class="bg-body-light">
          <thead >
            <tr class="bg-body-light">
              <th style="padding-left: 20px">Sr.</th>
              <th>Product Code</th>
              <th>Package</th>
              <th>
                <div class="group">
                  <span>Qty Required</span>
                </div>
              </th>
              <th>
                <div class="group">
                  <span>Wt / Unit Gm</span>
                </div>
              </th>
              <th>Cost Addon/SKU</th>
              <th>QOH(SKU)</th>
              <th>Prefer Vendor</th>
              <th>Last Purchase</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let package of packages">
              <ng-container
                *ngFor="
                  let expense of package?.packageExpense?.expenseValues;
                  let i = index
                "
              >
                <tr>
                  <td style="padding-left: 20px">{{ i + 1 }}.</td>
                  <td>
                    <div name="id">
                      {{ expense?.expenseProductId }}
                    </div>
                  </td>
                  <td>
                    <div>
                      {{ package?.packageType }}
                    </div>
                  </td>
                  <td>
                    <div>-</div>
                  </td>
                  <td>
                    <div>
                      {{ expense?.weight?.attributeValue }}
                    </div>
                  </td>
                  <td>
                    <div>
                      {{ expense?.cost?.attributeValue }}
                    </div>
                  </td>

                  <td>
                    <div>-</div>
                  </td>
                  <td>
                    <div>-</div>
                  </td>
                  <td>
                    <div>-</div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </section>
    </ng-template>
  </mat-expansion-panel>
</form>
