// .card.collapsed {
//     .collapsable {
//         transform: rotate(180deg);
//     }

//     .card-body {
//         display: none;
//     }
// }



// .additionalcost-container {
//     border: 1px solid var(--border-color-1);
//     padding-bottom: 10px;
//     padding: 0px;
// }

// .input {

//     border: 1px solid var(--border-color-1) !important;
//     border-right-color: var(--primary-light) !important;
//     border-radius: 2px !important;
//     font-size: 12px !important;
//     width: 30% !important;
//     margin-top: 5px !important;
//     margin-right: 3px !important;
//     height: 35px !important;
// }

// select {
//     border: 1px solid var(--border-color-1) !important;
//     border-left-color: var(--primary-light) !important;
//     background: var(--primary-light) !important;
//     border-radius: 2px !important;
//     font-size: 12px !important;
//     margin-left: -4px !important;
//     height: 35px !important;
//     padding: 0 10px !important;
//     width: 30% !important;
// }

// mat-icon {
//     cursor: pointer;
//     margin-top: 10px;
//     color: var(--icon-btn-secondary);
//     margin-left: -40px;
// }

// .header {
//     display: flex;
//     border-bottom: 1px solid var(--border-color-1);
//     height: 35px;
//     position: relative;
//     align-items: center;
//     padding: 10px;
//     color: var(--text-primary);
//     font-weight: 500;
//     color: var(--theme-text-color);

//     .deleteIcon {
//         color: red !important;
//     }

//     .crossIcon {
//         color: red;
//         position: absolute;
//         right: 5px;
//         font-size: 15px;
//         height: 20px !important;
//         width: 20px !important;
//     }
// }

// .pd {
//     padding: 0px 10px;
//     padding-bottom: 2px;
// }

// .add-dropdown {
//     border: 1px solid var(--border-color-1) !important;
//     background: var(--primary-light) !important;
//     border-radius: 2px !important;
//     font-size: 12px !important;
//     margin-left: -4px !important;
//     height: 35px !important;
//     padding: 0 10px !important;
//     width: 30% !important;
// }

// .add-container {
//     padding: 10px;
//     display: flex;
//     margin-left: 9px;

//     .input {
//         width: 100% !important;
//     }

//     .right-border {
//         border-right-color: var(--primary-light) !important;
//     }

//     .button {
//         display: flex;
//         align-items: center;
//         height: 47px;
//         margin-top: 3px;
//         margin-left: -1px;
//     }
// }

// .addIcons {
//     display: flex;
//     margin-top: 0px;
//     height: 35px;
//     margin-left: 8px;
//     align-items: center;
// }

// .addIcons-border {
//     border-right: 2px solid var(--border-color-1);
//     width: 32px;
// }

// .error-input {
//     border: 1px solid red;
// }

// .icons {
//     display: flex;
//     border: 1px solid var(--border-color-1);
//     border-left: var(--primary-light);
//     background-color: var(--primary-light);
//     margin-top: 5px;
//     height: 35px;
//     margin-left: -24px;
//     align-items: center;
// }

// .sideIcon {
//     margin-left: -1px;
//     display: inline;
// }