<div class="dialog-container">
 <i class="material-icon" mat-dialog-close>close</i>

  <div class="dialog-card-header">
    <h3>Formulas & Usage</h3>
  </div>

  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th>Operations</th>
          <th>How to use formula</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>*</td>
          <td>Star is used to multiply the entities</td>
        </tr>
        <tr>
          <td>/</td>
          <td>Slash is used to divide the entities</td>
        </tr>
        <tr>
          <td>+</td>
          <td>Add is used to add the entities</td>
        </tr>
        <tr>
          <td>-</td>
          <td>Subtract is used to subtract the entities</td>
        </tr>
        <tr>
          <td>()</td>
          <td>Brackets will prioritize the operations in the bracket first</td>
        </tr>
        <tr>
          <td>#</td>
          <td>Hatsh is used to separate 2 formulas</td>
        </tr>
        <tr>
          <td>.Input</td>
          <td>This will allow user to enter data</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
