.close-dialog {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.dialog-container {
  position: relative;
  min-width: 800px;
  padding: 20px;

  .dialog-card-header {
    margin-top: 2%;
    width: 100%;
    height: fit-content;
    background: #a2c6e9;
    border-radius: 2px;
    text-align: center;
    h3 {
      color: var(--primary-color);
      font-weight: 500;
      margin: 0;
    }
  }

  .card-body {
    text-align: center;
    padding: 0;
    margin-top: 2px;

    table {
      width: 100%;
      thead {
        tr {
          th {
            text-align: left;
            background: #f1f5f9;
            border-radius: 2px;
            padding: 5px 10px;
          }
        }
      }
      tbody {
        tr {
          td {
            text-align: left;
            background: transparent;
            border-radius: 5px;
            padding: 5px 10px;
            border: 1px solid #e5e5e5;
          }
        }
      }
    }
  }
}
