<div class="app-container d-flex" style="column-gap:10px;">
  <div
    class="card tile p-3 d-flex align-items-center justify-content-center"
    routerLink="/home/system-config/order-management"
  >
    <div class="text-center">
      <dadyin-button
        type="icon"
        theme="borderless-primary"
        typeval="shopping_cart"
      ></dadyin-button>
      
      <div class="fw-bold  my-2" >Order management</div>
    </div>
  </div>
  <div
    class="card tile p-3 d-flex align-items-center justify-content-center"
    routerLink="/home/system-config/user-management"
  >
    <div class="text-center">
      <dadyin-button
        type="icon"
        theme="borderless-primary"
        typeval="shopping_cart"
      ></dadyin-button>
      
      <div class="fw-bold  my-2" >User management</div>
    </div>
  </div>
  <div
    class="card tile p-3 d-flex align-items-center justify-content-center"
    routerLink="/home/system-config/category-management"
  >
    <div class="text-center">
      <dadyin-button
        type="icon"
        theme="borderless-primary"
        typeval="shopping_cart"
      ></dadyin-button>
      
      <div class="fw-bold  my-2" >Assign Product Type </div>
    </div>
  </div>
  <!-- <div class="card tile p-3 d-flex align-items-center justify-content-center"   routerLink="/home/system-config/product-management">
      <div class="text-center">
          <dadyin-button
        type="icon"
        theme="borderless-primary"
        typeval="shopping_cart"
      ></dadyin-button>
        
        <div class="fw-bold  my-2" >Product management</div>
      </div>
    </div> -->
  <!-- <div class="card tile p-3 d-flex align-items-center justify-content-center"   routerLink="/home/system-config/container-management">
      <div class="text-center">
          <dadyin-button
        type="icon"
        theme="borderless-primary"
        typeval="shopping_cart"
      ></dadyin-button>
        
        <div class="fw-bold  my-2" >Container management </div>
      </div>
    </div>
    <div class="card tile p-3 d-flex align-items-center justify-content-center"   routerLink="/home/system-config/vendor-management">
      <div class="text-center">
          <dadyin-button
        type="icon"
        theme="borderless-primary"
        typeval="shopping_cart"
      ></dadyin-button>
        
        <div class="fw-bold  my-2" >Vendor management </div>
      </div>
    </div> -->
</div>
