<div class="header-wrapper mt-2">
  <div class="row">
    <div class="col-6">
      <div class="filters d-flex align-items-center">
        <div class="mx-1">
          <i class="material-icon bg-light b-light" routerLink="/home/system-config">apps</i>
        </div>
        <search-filter class="w-100" (inputChange)="onInput($event)"
          [placeholder]="'Search Attribute Config based on name & code'"></search-filter>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center align-items-center">
        <div  class="action-btns">
            <dadyin-button [theme]="'primary'" label="Add new" (clicked)="addAttributeConfig()">
            </dadyin-button>
        </div>
    </div>
  </div>
</div>
<div class="content-wrapper mt-2">
  <data-table [data]="attributeSetList" [headers]="headers" [searchTerm]="filterValue" [pageConfig]="pageConfig"
    (editData)="editRecord($event)" (sortChange)="sort($event)" [actions]="tabelActions"
    (pageChange)="pageChange($event)" (actionClick)="onActionClick($event)">
  </data-table>
</div>

