.activeTab:hover {
  cursor: pointer;
}

.activeTab {
  color: var(--text-primary);
  font-weight: 1000;
}

.item-inline {
  margin-right: 15px;
  text-wrap: nowrap;
  cursor: pointer;
}

.process-table table tbody tr td {
  padding-left: 10px;
  text-wrap: nowrap;
}

.process-table table thead tr th {
  height: unset !important;
}

tbody {
  // tr:nth-child(even) {
  //   background: var(--primary-light);
  // }

  tr:nth-child(odd) {
    background: #fff;
  }
}

.process-table td:nth-child(1) {
  width: auto !important;
}

tbody {
  tr {
    td {
      div {
        width: unset !important;
        border: unset;
        // padding: unset ;
        // color: unset !important;
        text-align: unset !important;
        border-radius: unset !important;
        // min-height: unset !important;
        white-space: unset !important;
      }
    }
  }
}

.b-dark {
  border: Solid 2px #a2c6e9;
}

.quickcheckout-table {
  overflow-y: auto;
}

.number-column {
  width: 110px;
}
.width-120 {
  width: 120px;
}

.width-140 {
  width: 130px;
}

.width-200 {
  width: 200px;
}
@media (min-width: 768px) {
  .app-container {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .app-container {
    margin: 10px !important;
    padding: 5px 10px;
    width: 98vw;
  }
  .grid-card {
    width: fit-content !important;
  }
  .quickcheckout-table {
    overflow-y: auto;
    table {
      table-layout: unset !important;
      th,
      td {
        width: fit-content !important;
      }
    }
  }
}

.customisable {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.quantity-table {
  td {
    border-right: solid 1px #a2c6e9;
  }
}

.description {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.swiper-img {
  .swiper-wrapper {
    min-height: 200px;
  }
  img {
    object-fit: contain;
  }
}

.width-150 {
  width: 150px !important;
}

@media screen and (max-width: 768px) {
  .top-header {
    .vendor-name {
      font-size: 12px !important;
    }
    img.headerlogo {
      width: 50px;
      height: 30px;
    }
    img.whatsapp {
      width: 20px;
    }
    .signup {
      font-size: 12px !important;
      margin-left: 5px !important;
    }

    .signin {
      font-size: 12px;
      margin-left: 5px !important;
      margin-right: 5px !important;
      button.btn-borderless-white {
        min-width: 30px !important;
        border: none;
      }
    }
  }

  .sub-header {
    column-gap: 15px !important;
    span {
      text-wrap: nowrap;
    }
  }
}

.sub-header {
  column-gap: 25px;
  overflow: auto;
  text-wrap: nowrap;
}

.top-header {
  .vendor-name {
    font-size: 16px;
  }
  .signup {
    margin-left: 15px;
    cursor: pointer;
  }

  .signin {
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
  }
}

.cartView {
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.pagination-bar {
  height: 50px;
  background-color: white;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 25px;
  width: 95%;
  z-index: 2;
}

@media (max-width: 768px) {
  .pagination-bar {
    bottom: 45px;
  }
}
