.attribute-input select {
  min-width: unset !important;
}

.fill-line {
  border: solid 1px var(--card-header-bg);
  border-radius: 10px;
  width: 100%;
  margin-left: 9px;
  height: 15px;
  background: white;
}

.progress-line {
  height: 13px;
  border-radius: 10px;
  background: var(--primary-dark-bg);
  max-width: 100%;
}

.t-head {
  background: var(--primary-light) !important;
  width: 100%;
  height: 30px;
  font-size: 12px;
  text-align: center;
  color: var(--primary-dark-bg);
}

.grid-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 30%;
  align-items: center;
}




.bg-light {
  td {
    background: var(--primary-light);
  }
}

.toggle-container {
  display: inline-flex;
  background-color: #f1f3f6;
  border-radius: 25px;
}

.toggle-btn {
  border: none;
  background: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  color: #6c757d;
  transition: all 0.3s ease;
}

.toggle-btn.active {
  background-color: #e6f0ff;
  color: #007bff;
  font-weight: 600;
}