.process-table table tbody tr td {
  
    padding-left: 7px !important;
    // border-left: 1px solid #d5e7fa !important;
}

.process-table th:nth-child(1) {
    width: 120px !important;
}

.process-table th:last-child {
    width: 200px !important;
}

.active-price {
    background-color: #d5e7fa !important;
    border: solid 1px var(--primary-color) !important;
    padding-left: 2px;
    // width: max-content;
    // padding-right: 20%;
    min-height: unset !important;
}


.customisable {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;
    font-size: 12px !important;
  }

  .process-table.custom table thead tr th {
    border-left: none !important;
    text-align: center;
  }



  .process-table.custom table tbody tr td {
    border-left: none!important;
    text-align: center;
  }

 
@media screen and (min-width: 768px) {
  .product-attribute-section {
    height: 200px;
    overflow: auto;
  }
}

mat-panel-title {
  font-weight: bold;
}