.invite-plat-details {
    width: 900px;

    .invite-title {
        background-color: #A2C6E9;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 6px 0;

        h6 {
            margin-bottom: 0;
            font-weight: 500
;            font-size: 14px;
            line-height: 20px;
            color: var(--sidebar-bg);
        }
    }

    .invite {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .cross {
        float: right;
        position: relative;
        bottom: 15px;
        left: 24px;

        ::ng-deep button img {
            width: 30px
        }
    }

    .no-invite {
        display: flex;
        justify-content: center;
        font-weight: 500;
        margin-top: 10px;
        color: #03256C;
    }

    .odr-value {
        color: #179474 !important;
    }

    .order-details-table {
        .table-details {
            thead {
                font-weight: 500;
                font-size: 12px;
                line-height: 36px;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                background-color: #F1F5F9;
                padding: 5px 10px;
                border-bottom: 1px #D5E7FA !important;
                border-color: inherit !important;
                border-style: initial !important;
                border-width: 0 !important;

                tr {
                    border-bottom: 1px solid #D5E7FA !important;

                    border-color: inherit !important;
                    border-style: initial !important;

                    th {
                        padding: 0 10px;
                        color: #03256C;
                    }
                }
            }

            tbody {

                tr {
                    &:nth-of-type(even) {
                        border-color: transparent;
                        background-color: #F1F5F9;
                        --bs-table-accent-bg: #F1F5F9;
                    }

                    &:nth-of-type(odd) {
                        border-color: transparent;
                        background-color: transparent;
                        --bs-table-accent-bg: transparent;
                    }

                    td {
                        padding: 0 10px;
                        text-align: center;
                        padding: 6px 10px;
                        text-align: center;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #444;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}