<div class="app-container">
    <mat-tab-group class="mat-steps" [(selectedIndex)]="currentStepIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab *ngFor="let link of tabs">
            <ng-template mat-tab-label>
                <span [matBadge]="link.badge" [matBadgeHidden]="link.badge === 0" [matBadgeOverlap]="false">{{
                    link.title }}</span>
            </ng-template>
            <ng-template matTabContent>
                <app-active-business-list *ngIf="link.index == 0"></app-active-business-list>
                <app-inactive-business-list *ngIf="link.index == 1"></app-inactive-business-list>
                <app-all-business-list *ngIf="link.index == 2"></app-all-business-list>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>