@import "typography.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
$columns: 200;

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "swiper/scss/scrollbar";

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-dark-bg);
}

.swiper-pagination-bullet-active {
  background: var(--primary-dark-bg);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 25px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
  font-family: "Urbanist", sans-serif;
}

.card,
input,
mat-expansion-panel {
  border-radius: 6px !important;
}

mat-icon {
  font-family: "Material Icons" !important;
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right !important;
}

.primary-text {
  color: var(--text-primary) !important;
}

.text-dark {
  color: var(--text-dark) !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

.danger-text {
  color: var(--text-danger) !important;
}

.price-text {
  color: var(--success-color) !important;
}

@mixin icon-x {
  @for $i from 1 through $columns {
    .icon-#{$i} {
      font-size: #{$i}px;
    }

    .font-size-#{$i} {
      font-size: #{$i}px !important;
    }
  }
}

@include icon-x;

$columns: 50;

@mixin pad-x {
  @for $i from 1 through $columns {
    .pad-#{$i} {
      padding: #{$i}px !important;
    }
  }
}

@include pad-x;

@mixin pad-top-x {
  @for $i from 1 through $columns {
    .pad-top-#{$i} {
      padding-top: #{$i}px !important;
    }
  }
}

@include pad-top-x;

@mixin pad-bottom-x {
  @for $i from 1 through $columns {
    .pad-bottom-#{$i} {
      padding-bottom: #{$i}px !important;
    }
  }
}

@include pad-bottom-x;

@mixin pad-left-x {
  @for $i from 1 through $columns {
    .pad-left-#{$i} {
      padding-left: #{$i}px !important;
    }
  }
}

@include pad-left-x;

@mixin pad-right-x {
  @for $i from 1 through $columns {
    .pad-right-#{$i} {
      padding-right: #{$i}px !important;
    }
  }
}

@include pad-right-x;

$mart: 50;

@mixin mar-top-x {
  @for $i from 1 through $mart {
    .mar-top-#{$i} {
      margin-top: #{$i}px !important;
    }
  }
}

@include mar-top-x;

$marr: 50;

@mixin mar-right-x {
  @for $i from 1 through $marr {
    .mar-right-#{$i} {
      margin-right: #{$i}px !important;
    }
  }
}

@include mar-right-x;

$marb: 50;

@mixin mar-bottom-x {
  @for $i from 1 through $marb {
    .mar-bottom-#{$i} {
      margin-bottom: #{$i}px !important;
    }
  }
}

@include mar-bottom-x;

$marl: 50;

@mixin mar-left-x {
  @for $i from 1 through $marl {
    .mar-left-#{$i} {
      margin-left: #{$i}px !important;
    }
  }
}

@include mar-left-x;

$width: 100;

@mixin width-perc-x {
  @for $i from 1 through $width {
    .width-perc-#{$i} {
      width: #{$i}#{"%"} !important;
    }
  }
}

@include width-perc-x;

$height: 50;

@mixin height-x {
  @for $i from 1 through $height {
    .height-#{$i} {
      height: #{$i}#{"px"} !important;
    }
  }
}

@include height-x;

@mixin width-x {
  @for $i from 1 through $width {
    .width-#{$i} {
      width: #{$i}px !important;
    }
  }
}

@include width-x;

:root {
  --body-bg: #f3f9fd;
  --background-btn-yellow: rgb(255, 213, 0);
  --primary-color: #0065f4;
  --sidebar-color: #0065f4;
  --sidebar-bg: #ffffff;
  --primary-dark-bg: #0065f4;
  --primary-light: #d5e7fa;
  --card-header-bg: #dfeffb;
  --text-primary: #0065f4;
  --text-dark: #6f7180;
  --secondary-color: #f3f9fd;
  --secondary-dark: #dfeffb;
  --secondary-light: #9bbdde;
  --text-primary-light: #0065f4;
  --text-danger: #f80404;
  --danger: #fbedee;
  --success-light: #e1faf8;
  --success-color: #169474;
  --disabled-color: #d4d6e0;
  --disabled-text-color: #40424d;
  --light-text-color: #9da2b4;
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

body {
  background: var(--body-bg);
}

.text-light {
  color: var(--light-text-color) !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--disabled-color) !important;
  color: var(--disabled-text-color) !important;
  border: unset !important;
  opacity: 1 !important;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: var(--disabled-color) !important;
  color: var(--disabled-text-color) !important;
  border: unset !important;
  opacity: 1 !important;
}

.mat-form-field {
  font-size: 12px;
}

.mat-header-cell {
  font-size: 10px;
}

.mat-header-row,
.mat-row,
.mat-footer-row {
  min-height: 35px;
}

.mat-body,
.mat-body-1,
.mat-typography {
  font: 400 12px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.mat-option-text {
  font-size: 12px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.mat-cell,
.mat-footer-cell {
  font-size: 12px;
}

.template-container {
  background: white;
  padding: 20px 60px 60px 60px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.cursor {
  cursor: pointer;
}

.cursor-zoom {
  cursor: zoom-in;
}

.edit-icon {
  // margin-right: 10px;
  cursor: pointer;
  height: 28px !important;
}

.panel-title {
  border: 1px solid var(--secondary-color);
  height: 34px;
  color: black;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 32px;
  font-size: 10px;
  margin-bottom: 7px;
}

.attribute-title {
  display: flex;
}

.panel-container {
  background: white;
  padding: 20px 10px 60px 15px;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

@media screen and (max-width: 768px) {
  .note-dialog {
    width: 100% !important;
    max-width: 90vw !important;
    overflow: auto;
  }

  .reminder-dialog {
    width: 100% !important;
    max-width: 90vw !important;
    overflow: auto;
  }

  mat-dialog-container {
    min-width: unset !important;
  }

  .width-perc-27 {
    width: 100% !important;
  }

  .header-wrapper {
    overflow: auto;
  }
}

.mat-dialog-content {
  overflow: visible !important;
}

.dialog-container {
  display: grid;
}

.dialog-title {
  justify-self: center;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 17px;
}

.delete-icon {
  color: var(--text-danger);
  cursor: pointer;
}

mat-form-field.mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix {
  padding: 0.4em;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: unset;
  margin-top: unset;
}

.mat-form-field-label-wrapper {
  overflow: unset !important;
}

.mat-form-field-outline-start,
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-end,
.mat-form-field-appearance-outline
  .mat-form-field-outline-thick
  .mat-form-field-outline-gap {
  border-width: 1px !important;
  border-color: var(--secondary-color) !important;
}

.mat-form-field-subscript-wrapper {
  margin-top: -0.7em;
  display: flex;
  justify-content: flex-end;

  .mat-error,
  .mat-hint {
    display: block;
    width: fit-content;
    background: white;
    padding: 0 5px;
  }
}

.flex {
  display: flex;

  &.columns {
    flex-direction: column;
    row-gap: 5px;

    &.align-center {
      align-items: center;
    }

    &.justify-center {
      justify-content: center;
    }

    &.space-between {
      justify-content: space-between;
    }
  }

  &.rows {
    flex-direction: row;
    column-gap: 5px;

    &.wrap {
      flex-wrap: wrap;
    }

    &.align-center {
      align-items: center;
    }

    &.align-start {
      align-items: flex-start;
    }

    &.justify-end {
      justify-content: flex-end;
    }

    &.space-between {
      justify-content: space-between;
    }
  }

  &.row-wrap {
    flex-wrap: wrap;
  }

  $flexLimit: 10;

  @mixin flex-x {
    @for $i from 1 through $flexLimit {
      .flex-#{$i} {
        flex: #{$i};
      }
    }
  }

  @include flex-x;
}

$growColumns: 10;

@mixin flex-grow-x {
  @for $i from 1 through $growColumns {
    .flex-grow-#{$i} {
      flex-grow: #{$i};
    }
  }
}

@include flex-grow-x;

.cursor-pointer {
  cursor: pointer;
}

mat-label {
  background: white;
  z-index: 10;
  padding: 0px 4px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--light-text-color);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--light-text-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--light-text-color);
}

// .fs-12 b{
//   font-size: 14px;
// }

.datatable-container-editable {
  mat-cell {
    div {
      width: 100%;
    }
  }

  input {
    padding: 2px !important;
    font-size: 12px;
  }
}

input {
  padding: 5px !important;
}

button:focus {
  box-shadow: none !important;
}

.mat-form-field-outline {
  background: white;
  color: var(--primary-light) !important;
}

.mat-expansion-panel-body {
  padding: 10px 10px 10px 10px !important;
}

input,
select,
textarea {
  font-size: 12px;
  border: none;
  outline: none !important;

  &:focus {
    outline: none;
  }
}

table {
  width: 100%;
}

.b-round {
  border-radius: 6px;
}

.b-red {
  border-left: solid 2px var(--text-danger) !important;
}

.b-all-red {
  border: solid 1px var(--text-danger) !important;
}

.b-warning {
  border: solid 2px rgb(255, 143, 58) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background: #f0f0f0 !important;
}

.delete-btn {
  background-color: var(--text-danger) !important;
  border: none !important;
}

.delete-icon {
  color: var(--text-danger) !important;

  mat-icon {
    color: var(--text-danger) !important;
  }
}

.mat-form-field input {
  height: 11px !important;
}

.mat-form-field select {
  height: 32px !important;
}

.mat-form-field-label-wrapper {
  top: -4px;
}

.main-title-head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--card-header-bg);
  padding: 5px 10px;
  text-transform: capitalize;
}

select:disabled {
  opacity: 0.4 !important;
}

.attribute.two {
  min-width: 100%;
}

.attribute.three {
  min-width: 100%;

  select {
    width: 100%;
    background: transparent !important;
  }
}

.attribute.two.disabled {
  background: #f0f0f0;

  label {
    background: transparent;
  }
}

.attribute.tabular-sheet {
  border: none;

  input {
    min-width: 50px !important;
  }

  .toggle {
    border: 1px solid var(--primary-light);
    border-radius: 50px;
    display: flex;
    text-wrap: nowrap;
    padding: 0.25rem;
    button {
      background: transparent;
      border: none;
      min-width: 80px;
      height: 30px;
      font-size: 14px;
      justify-content: center;
      width: max-content;
    }

    button.active {
      background: #dfeffb;
      border-radius: 50px;
      color: var(--primary-color);
     
    }
  }
}

//new scss

.attribute {
  // margin-right: 32px;
  border: 1px solid var(--primary-light);
  border-radius: 6px;
  color: var(--light-text-color);
  position: relative;
  z-index: 1;

  label {
    color: var(--light-text-color);
    max-height: 14px;
    z-index: 999;
    position: absolute;
    top: -8px;
    left: 5px;
    background: white;
    border-radius: 6px;
    font-size: 11px !important;
    font-weight: 400 !important;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    font-style: italic !important;
    padding-right: 2px;
    padding-left: 2px;
    width: --webkit-fill-available;
  }

  .attribute-input {
    display: flex;
    align-items: center;

    .uom-label {
      font-size: 12px;
      background-color: var(--primary-light) !important;
      height: 30px;
      display: flex;
      align-items: center;
      width: 100%;
      width: fit-content;
      white-space: pre;
      min-width: 100px;
      border-radius: 6px;
    }

    mat-icon.more_vert {
      color: var(--card-header-bg);
      cursor: pointer;
    }

    input {
      width: 100%;
      background: white;
      border: none;
      padding: 6px !important;

      &:hover,
      &:focus {
        outline: none;
      }
    }

    textarea {
      width: 100%;
      background: transparent;
      border: none;
      padding: 3px 6px 3px 6px !important;

      &:hover,
      &:focus {
        outline: none;
      }
    }

    select {
      // padding: 8px 0px 8px 0px;
      // min-width: 100px;
      width: fit-content;
      background: var(--primary-light);
      color: #444444;
      border: none;
      border-radius: 6px;
      z-index: 101;
      min-width: 100px;

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }

  .attribute-select {
    select {
      width: 100%;
      background: transparent;
      color: #444444;
      border: none;
      border-radius: 6px;

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }

  mat-icon.cancel_outline {
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    top: -10px;
    right: -20px;
    font-size: 18px;
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 100%;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 22px;
      height: 22px;
      position: absolute;
      left: -14.8px;
      top: -2.6px;
      z-index: 200;
    }
  }

  i.cancel_outline {
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    top: -10px;
    right: -20px;
    font-size: 18px;
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 100%;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Material Icons" !important;

    img {
      width: 22px;
      height: 22px;
      position: absolute;
      left: -14.8px;
      top: -2.6px;
      z-index: 200;
    }
  }
}

i.cancel_outline_new {
  position: absolute;
  top: -10px;
  font-size: 14px;
  left: 99%;
  height: 14px;
  z-index: 105;
  color: var(--text-primary);
  cursor: pointer;
  font-family: "Material Icons" !important;
  font-style: normal;
}

mat-icon.cancel_outline_new {
  position: absolute;
  top: -10px;
  font-size: 14px;
  right: -6px;
  height: 14px;
  width: 15px;
  z-index: 105;
  color: var(--text-primary);
  cursor: pointer;
}

.mb-0 {
  .attr-b {
    margin-bottom: 0px !important;
  }

  margin-bottom: 0px !important;
}

.attr-b {
  margin-bottom: 16px !important;
}

.attr-top {
  margin-top: 16px !important;
}

.process-table {
  font-size: 12px !important;

  table {
    table-layout: fixed;

    thead {
      background: var(--primary-light);
      width: 100%;

      text-transform: uppercase;
      height: 30px !important;

      tr {
        th {
          text-align: left;
          font-size: 12px;
          color: var(--text-dark);
          font-weight: 500;
          padding-left: 7px;
          border-left: 1px solid var(--primary-light) !important;
          height: 30px !important;
          text-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          // max-width: 40px ;
          // min-width: 40px ;
          // width:40px;
          //  padding: 1px 3px 1px 3px !important;

          .group {
            display: flex;
            align-items: center;
            justify-content: center;

            select {
              background: transparent;
              border: none;
              font-size: 12px;
              text-decoration: underline;
              color: var(--primary-color);

              &:focus {
                outline: none;
              }
            }
          }
        }

        td {
          text-align: left;
          font-size: 12px;
          color: var(--primary-color);
          font-weight: 400;
          height: 30px !important;
          // max-width: 40px ;
          // min-width: 40px ;
          // width:40px;
          padding: 0px !important;
        }

        th.number-column {
          text-align: end;
          padding-right: 0.2rem;

          div {
            text-align: end;
          }

          section {
            text-align: end;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          height: 29px !important;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          input,
          select,
          div {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            border: 1px solid var(--primary-light);
            padding: 4px;
            color: #444444;
            text-align: left;
            border-radius: 6px;
            height: 28px !important;
            white-space: nowrap;
            background: white;

            &::-webkit-input-placeholder {
              /* WebKit, Blink, Edge */
              color: var(--light-text-color);
            }

            &:-moz-placeholder {
              /* Mozilla Firefox 4 to 18 */
              color: var(--light-text-color);
              opacity: 1;
            }

            *::-moz-placeholder {
              /* Mozilla Firefox 19+ */
              color: var(--light-text-color);
              opacity: 1;
            }

            &:-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: var(--light-text-color);
            }

            &::-ms-input-placeholder {
              /* Microsoft Edge */
              color: var(--light-text-color);
            }

            &::placeholder {
              /* Most modern browsers support this now. */
              color: var(--light-text-color);
            }
          }

          dadyin-searchable-select {
            div {
              height: 30px !important;
              padding: 0 !important;
            }
          }
        }

        th {
          height: 30px !important;
          text-align: left;
        }

        td.actions {
          display: flex;
          align-items: center;
          height: 38px !important;
          column-gap: 5px;
          // margin-top: 4px;
        }

        td.countrycode-column {
          overflow: unset !important;
          display: inline-flex !important;
          column-gap: 2px;
          width: 100%;
        }

        td.countrycode-column {
          div {
            border: none !important;
          }
        }

        td.number-column {
          text-align: end;
          font-weight: bold;
          padding-right: 0.2rem;

          div,
          input {
            text-align: end;
            text-align: end;
            font-weight: bold;
          }

          section {
            text-align: end;
            padding-left: 0.2rem;
            width: 100%;
          }
        }
      }
    }
  }

  // td:nth-child(1) {
  //   width: 50px;
  // }

  th:nth-child(1) {
    width: 50px;
    border-left: none !important;
  }

  td:last-child {
    width: 125px;
  }

  th:last-child {
    width: 100px;
  }

  td.weight {
    div {
      background-color: var(--primary-light);
      color: var(--danger-color) !important;
      border: 1px solid var(--primary-light) !important;
    }
  }

  td.volume {
    div {
      background-color: var(--primary-light);
      color: var(--purple-color) !important;
      border: 1px solid var(--primary-light) !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .process-table {
    overflow-x: auto;
  }
}

.no-padding-th {
  th {
    padding-left: unset !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input,
select {
  // font-size: 12px !important;
  height: 28px !important;
}

// Conversion Cost
section.conversionCost {
  padding: 10px 20px;
  display: flex;

  ul {
    button {
      background: transparent;
      border: none;

      &:focus {
        outline: none;
      }

      mat-icon {
        font-size: 1.4rem;
      }
    }

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      margin-right: 28px;
      margin-bottom: 10px;
      width: 300px;
      position: relative;
      display: flex;
      align-items: center;

      .cnvrsn-frm {
        display: flex;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #dbeafa;

        input,
        select {
          border: none;
          padding: 5px;
          color: var(--primary-color);
          font-size: 12px;

          &:focus {
            outline: none;
          }
        }

        select.conversion-cost {
          background: white;
          border-radius: 6px;
        }

        input.currency {
          // background: #f1f1f1 !important;
          width: 60px;
          padding: 0 10px;
        }

        select.unit {
          width: 80px;
          height: 100%;
          padding: 5px 5px;
          border: none;
          border-radius: 6px;
          background: var(--primary-light);
        }
      }

      button {
        position: absolute;
        top: -14px;
        right: 0px;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;

        mat-icon {
          font-size: 1rem;
        }
      }
    }
  }
}

mat-expansion-panel {
  background: white;
  border-radius: 0;
  border: 1px solid #dfedfb;
  margin-bottom: 5px !important;
  box-shadow: none !important;

  section.section-card {
    // border: 1px solid #dfedfb;
    background: white;
    margin: 0px 0;
  }

  mat-expansion-panel-header {
    background: var(--card-header-bg) !important;
    height: 40px !important;
    width: 100%;
    padding: 5px 10px 5px 5px !important;

    &:hover,
    &:focus {
      background: var(--card-header-bg);
      color: var(--card-header-color);
    }

    mat-panel-description {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 0;
      padding: 0;
      padding-right: 10px;

      div {
        text-align: left !important;
        font-weight: bold !important;
      }
    }
  }
}

.card {
  // margin-bottom: 10px;
  background: white;
  // border: 1px solid #dfedfb;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;

  .card-header {
    background: var(--card-header-bg);
    color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    box-sizing: border-box;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 20px !important;

    .card-header-option {
      text-align: left;
      position: absolute;
      left: 15px;
      top: 4px;
    }
  }

  .card-header.card-info {
    background-color: var(--secondary-color);
  }

  .collapsable {
    color: rgba(0, 0, 0, 0.87);
    opacity: 0.4;
  }

  .card-body {
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
  }

  .process-table {
    overflow: auto;
  }
}

.card-header-action {
  color: var(--card-header-color) !important;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.header-light {
  background: var(--primary-light);
  border: 1px solid #d4e8fb;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  position: relative;
  height: 35px;
  padding: 5px 10px 5px 20px;

  .action-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .opt button.btn {
      border: 1px solid var(--card-header-bg);
      color: var(--card-header-bg);
      background: transparent;
      padding: 5px 5px;
      display: grid;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 35px;
    }

    .add-new-process button.btn.add-process-btn {
      width: 100%;
      background: var(--primary-color);
      color: white;
      padding: 5px 20px;
      border-color: var(--primary-color);
    }

    .opt {
      button.btn {
        border-radius: 2px;
        margin: 0 2px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      button.btn.active {
        border-color: var(--primary-color);
      }
    }
  }
}

.panel-header {
  width: 100%;
  display: grid;
  align-items: center;
  color: var(--text-primary);
  background: transparent;
  border: none;
  margin-right: 5px;
  height: 35px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  border-radius: 6px;

  .process-input-output {
    display: grid;

    select,
    input {
      width: 100%;

      border: none;
      margin-right: 5px;
    }

    .input {
      border-right: 1px solid var(--text-primary);
      padding: 0px 20px;
    }

    .output {
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .process-calculation {
    display: grid;
    align-items: center;

    .products-and-conversion-counts {
      width: 100%;
      display: grid;
      font-size: 12px;
      line-height: 16px;
    }

    .units {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px !important;
      line-height: 16px;

      .currency-value {
        display: grid;
      }

      .unit-value {
        display: grid;

        select {
          height: 100% !important;
          background: transparent;
          text-decoration: underline;
          border: none;
          color: var(--primary-color);
          font-size: 12px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .action-btn {
      width: 100%;
      justify-content: center;
    }
  }
}

.text-align-end {
  text-align: end !important;
}

section.material-cost-calculation,
section.conversion-cost-calculation,
.raw-material {
  border-radius: 6px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);
    padding: 5px 10px 5px 20px;

    .title {
      display: flex;
      align-items: center;

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 35px;
        letter-spacing: 0.02em;
        color: var(--text-primary);
      }

      button {
        background: transparent;
        border: none;
        font-size: 1.2rem !important;
      }
    }

    .optional-values {
      display: flex;
      align-items: center;
      margin-right: 20px;

      .density {
        margin-right: 80px;
        display: flex;
        align-items: center;

        .value {
          display: flex;
          align-items: center;
          margin-left: 20px;

          select {
            background: transparent;
            border: none;
            color: var(--text-primary);
            text-decoration: underline;

            &:focus {
              outline: none;
            }
          }
        }
      }

      .units {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px !important;
        line-height: 16px;

        .currency-value {
          display: grid;
          color: #34a083;
        }

        .unit-value {
          margin-left: 20px;
          display: grid;
          color: var(--primary-color);

          select {
            height: 100% !important;
            background: transparent;
            border: none;
            color: var(--primary-color);
            font-size: 12px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}

td.product__img {
  cursor: pointer;
  position: relative;

  .display__product__img {
    position: absolute;
    top: 10px;
    left: 25px;
    display: none;
    background: white;
    border: 1px solid var(--primary-color);
    padding: 5px;
    border-radius: 2px;
    transition: all 2s;

    img {
      width: 60px;
      height: 60px;
      // object-fit: cover;
    }
  }

  img.product-img:hover + .display__product__img {
    display: block;
    transition: all 2s;
  }
}

.padding-bar {
  padding: 5px 10px 5px 10px;
}

.toolbar {
  text-wrap: nowrap;
  display: grid;
  justify-content: space-between;
  align-items: center;
  background: var(--card-header-bg) !important;

  height: 38px;

  .options {
    display: grid;
    align-items: center;
    justify-content: flex-end;
  }
}

mat-dialog-container {
  background: white;
  padding: 0 !important;
  min-width: 400px;
}

section.card {
  padding: 20px 20px 0px 20px;

  ul.attribute-groups {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    li.attribute-group {
      list-style: none;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .relative.row {
      .labeltype-attribute {
        font-size: 12px;
        position: absolute;
        top: -10px;
        background: white;
        width: fit-content;
        font-weight: 500;
        color: var(--text-primary);
      }
    }
  }
}

.min-h-label {
  min-height: 50px;
}

.package-attributes {
  .relative.row {
    .labeltype-attribute {
      font-size: 12px;
      position: absolute;
      top: -10px;
      background: white;
      width: fit-content;
      font-weight: 500;
      color: var(--text-primary);
    }
  }
}

.selection-area {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  font-size: 14px;

  .selection-area-heading,
  .selection-area-sub-heading {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
  }

  .selection-area-heading {
    margin-right: 5%;
  }
}

.selection-area-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  table {
    width: 200px;
    border: 1px solid var(--primary-light);
    border-radius: 4px;
    margin: 2px 2px;

    thead {
      tr {
        th {
          background: #a2c6e9;
          padding: 5px 20px;
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        background: white;

        td {
          padding: 5px;
          border: 1px solid #d8d9eb;
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.label-attribute {
  label {
    color: var(--primary-color);
  }

  .parent-div {
    border: 1px solid #d9e9fb;
    padding: 14px 10px;
  }
}

.radio-selection {
  display: flex;
  align-items: center;

  label {
    margin: 0 10px;
    font-size: 14px;
  }
}

.b-top-primary {
  border-top: solid 1px var(--primary-color);
}

.b-all {
  border: solid 1px var(--primary-light);
}

.b-primary-all {
  border: solid 1px var(--primary-color) !important;
}

.b-light {
  border: 1px solid var(--primary-light);
}

.b-round-left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.b-round-right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.b-bottom-light {
  border-bottom: solid 1px var(--primary-light) !important;
}

.b-bottom-secondary {
  border-bottom: solid 1px var(--secondary-color) !important;
}

.b-bottom-primary {
  border-bottom: solid 1px var(--primary-color) !important;
}

.b-primary-all-dark {
  border: solid 2px var(--primary-color) !important;
}

.relative {
  position: relative;
}

.check {
  align-items: center;

  span {
    margin-left: 5px;
    font-size: 12px;
  }
}

#pAttribute {
  padding: 3px;
  border: 1px solid #d9e9fb;
  color: var(--primary-color);
}

.title-text {
  color: black;
  font-weight: 500;
  font-size: 14px;
  width: max-content;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-secondary-light {
  background-color: var(--secondary-light) !important;
}

.bg-light {
  background-color: var(--body-bg) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-primary-light {
  background-color: var(--primary-light) !important;
}

.bg-blue {
  background-color: tab;
}

.cost-table {
  // table
  table {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    color: var(--primary-color);
    border: 1px solid var(--primary-light);
    padding-right: 4px;
    padding-left: 4px;
    text-align: right;

    select {
      outline: none;
      background: none;
      border: none;
    }
  }

  td {
    border: 1px solid var(--primary-light);
    padding-left: 20px;
    height: 30px;
    text-align: right;

    input {
      // border: 1px solid var(--primary-light) !important;
      color: var(--primary-color);
      text-align: end;
      font-weight: bold;
    }

    div {
      padding-right: 4px;
      padding-left: 20px;
      font-weight: bold;
      text-align: right;
    }
  }

  .tab {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

td .status {
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: max-content !important;
}

.status {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: var(--success-color);
  border-radius: 24px;
  text-wrap: nowrap;
  align-content: center;
}

// May be Global styles - Start
.wizard-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  padding-bottom: 12px;
  border-radius: 6px;
  // padding-top: 12px;
  column-gap: 15px;
  width: -webkit-fill-available;
  overflow: auto;
  margin-bottom: 10px;
  text-wrap: nowrap;

  .status {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    color: #0ca523;
    background-color: #dbffd6;
    border-radius: 6px;
    text-wrap: nowrap;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
  }

  .wizard-heading {
    font-size: 18px;
    line-height: 14px;
    color: #444444;
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  .content-title {
    color: black;
    font-size: 18px;
    font-weight: 800;
  }

  .content-info {
    color: var(--text-primary);
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1rem;
  }
}

.invisible-tabs > .mat-tab-header {
  display: none;
}

.mat-steps {
  // margin-top:-42px;
  .mat-tab-label-active {
    background: var(--primary-color) !important;
    color: white !important;
  }

  .mat-tab-label {
    margin: 2px !important;
    height: 32px !important;
    padding: 5px !important;
    opacity: 1 !important;
    border-radius: 6px !important;
    background: white;
    border: 1px solid var(--secondary-dark) !important;
    color: var(--text-dark);
    font-weight: 600;
    min-width: 140px !important;
  }

  .mat-tab-header {
    margin-bottom: 10px;
    border-bottom: none !important;
  }

  .mat-ink-bar {
    display: none !important;
  }
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  border: 2px solid var(--bs-success);
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary .mat-chip-remove {
  color: rgba(0, 0, 0, 0.87);
}

.app-container {
  // padding: 5px 5px;
  padding-top: 10px;
  background: var(--body-bg);
  height: 95vh;
  overflow-x: auto;
  overflow-y: auto;
}

mat-expansion-panel.panel-no-padding {
  .mat-expansion-panel-body {
    padding: 0px 0px 60px !important;
  }
}

.bg-card-header {
  background-color: var(--card-header-bg) !important;
}

.b-none {
  border: none !important;
}

.radio-selection {
  margin: 5px;
  font-weight: 700;
}

input[type="radio"] {
  -webkit-appearance: none !important;
  outline: 0.1em solid var(--primary-dark-bg) !important;
  outline-offset: 0.12em;
  padding: 3px !important;
  width: 15px !important;
  height: 15px !important;
}

input[type="radio"]:checked {
  display: inline-block;
  background-color: var(--primary-dark-bg) !important;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px !important;
  height: 18px !important;
  border: 1px solid var(--text-primary) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 10px !important;
  background-color: white;
  outline: none;
  border-radius: 5px !important;
}

input[type="checkbox"]:checked {
  background-image: url("../assets/nicons/checkbox.png") !important;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-text-color);
  border-radius: 6px;
}

.mat-autocomplete-panel {
  mat-option {
    height: 28px;
  }

  box-shadow: none;

  mat-option:focus {
    background-color: var(--primary-color) !important;
    color: var(--primary-light) !important;
  }
}

.tab-common {
  .mat-tab-body-wrapper {
    padding-bottom: 0% !important;
  }
}

.mat-tab-body-wrapper {
  // padding-bottom: 5%;
  // min-width: 1000px;
  overflow: auto;
}

.prefer-uom-grid-scroll {
  display: flex;
  overflow: scroll;
  width: 550px;
}

.package-attributes {
  padding: 10px 10px 0px 10px;
}

// related to print templates

app-print-templates {
  /* hide the printing component from @media screen */
  display: none;
}

@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */

  app-print-templates {
    display: block;
  }

  .view-content {
    display: none;
  }
}

.mat-tab-body-content {
  width: 100% !important;
  height: unset !important;
  overflow: unset !important;
}

.ng-select.custom {
  border: 0px;
  min-height: 30px;
  height: 30px;
  min-width: 100px;
}

.ng-select.custom-home {
  height: 100% !important;
}

.custom-home {
  .attribute {
    height: 100% !important;
  }
}

.ng-select.custom-home .ng-select-container {
  border-radius: 24px !important;
  height: 100% !important;
}

.ng-select.custom-multiple-table.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  margin-bottom: 2px !important;
  margin-right: unset !important;
  margin-left: unset !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  z-index: 1;
}

.ng-select.custom-multiple-table.ng-select-multiple
  .ng-select-container
  .ng-value-container {
  flex-wrap: unset !important;
}

.disabled-option {
  color: var(--card-header-color);
}

.ng-select.typeahead {
  width: 100% !important;

  .ng-select-container {
    width: 100% !important;
    max-width: unset !important;
  }
}

.ng-select.custom .ng-select-container {
  height: 30px;
  border: 1px solid var(--primary-light) !important;
  overflow: hidden;
  min-height: 30px;
  font-size: 12px;
  border-radius: 6px;
  z-index: 998 !important;

  input {
    padding: unset !important;
  }
}

.ng-select.country-custom .ng-select-container {
  height: 50px;
}

.process-table {
  td.b-none {
    .ng-select {
      div.ng-select-container,
      .ng-placeholder {
        border: none !important;
        min-height: 24px !important;
      }
    }
  }
}

.ng-select.custom-table .ng-select-container {
  height: 30px !important;
  border: 1px solid var(--primary-light) !important;
  overflow: inherit;
  min-height: 28px;
  font-size: 12px;
  border-radius: 6px;
  min-width: 90px;
  max-width: 90px;
  z-index: 998 !important;

  input {
    padding: unset !important;
  }
}

.ng-select.custom .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: 12px;
  padding: 5px;
}

.ng-select.custom .ng-select-container .ng-value-container .ng-input {
  top: unset !important;
}

.ng-select.custom-table .ng-select-container .ng-value-container .ng-input {
  top: unset !important;
}

.uom-config-section {
  position: absolute;
  right: -24px;
  bottom: 14vh;
  z-index: 100;
  display: inline-block;

  button {
    transform: rotate(90deg);
    background-color: var(--card-header-bg) !important;
    color: var(--primary-color);
    position: relative;
    z-index: 101;
  }

  .uom-card {
    position: absolute;
    top: 0;
    left: -188px;
    margin-top: 10px;
    min-width: 220px;
    z-index: 100;
  }
}

.mat-icon {
  font-size: 20px;
  width: 20px !important;
  height: 20px !important;
}

i.mat-icon {
  font-family: "Material Icons" !important;
  font-style: unset;
  color: var(--text-primary);
  font-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

i.material-icon {
  font-family: "Material Icons" !important;
  font-style: unset;
  color: var(--text-primary);
  font-size: 20px;
  width: 20px;
  cursor: pointer;
  vertical-align: bottom;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.bg-disable {
  background: #f2f4f9 !important;
}

.mat-expansion-padding {
  padding: 20px 10px 0px 20px !important;
}

.pl-1 {
  padding-left: 0.8rem;
}

//related to table

.custom-header {
  .mat-sort-header-container {
    width: 100%;
  }

  .mat-sort-header-content {
    width: 100%;
    text-align: left !important;
    // color: black;
  }
}

.mat-sort-header-content {
  text-align: left !important;
  min-width: max-content;
  color: black;
}

.tile-layout {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.tile-container {
  display: grid;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  height: 120px;

  line-height: 120px;
  font-size: large;
  border: 1px solid var(--primary-light);
  background: #f1f5f9;
  align-content: center;

  .title-span {
    line-height: 20px;
    color: var(--text-color);
    text-decoration: none !important;

    span {
      margin-top: 10px;
      font-weight: 400;
      font-size: 14px;
    }
  }

  img {
    filter: brightness(0) saturate(100%) invert(13%) sepia(25%) saturate(6349%)
      hue-rotate(212deg) brightness(93%) contrast(106%);
  }
}

.h-30 {
  height: 30px;
}

// mat table styles

.header-wrapper {
  // max-width: 89vw;
  padding-bottom: 5px;

  .row {
    row-gap: 10px;
  }
}

mat-table {
  background: transparent !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--card-header-color);
}

mat-header-row,
mat-row {
  border-bottom-width: 0 !important;
  margin: 0;
}

mat-header-row {
  border-radius: 0;
  background: var(--card-header-bg);
  color: var(--card-header-color);
}

mat-row {
  border: 1px solid #f4f5f6 !important;
  border-radius: 0;
  background: #fafafa;
}

mat-row:nth-child(2n) {
  background: white;
}

.tooltip .tooltip-arrow {
  display: none !important;
}

.tooltip.show {
  opacity: 1 !important;
  font-size: 14px !important;
}

.tooltip-inner {
  max-width: 300px;
  color: black !important;
  text-align: left;
  background-color: white !important;
  border-radius: 0rem;
  padding: 5px;
  font-size: 14px !important;
  z-index: 10000;
  border: solid 1px var(--background-btn-secondary);
}

.cdk-overlay-container {
  z-index: 1000 !important;
  /* Ensure tooltip is above other components */
}

.vendor-steps {
  .mat-tab-body-wrapper {
    padding-bottom: unset !important;
  }
}

// related to color coding for product type

.master-product {
  background-color: rgb(214, 246, 217);
  color: rgb(14, 85, 12);
  width: 20px !important;
  min-width: 20px !important;
  border-radius: 6px;
  margin-right: 8px;
  font-size: 12px;
}

.self-product {
  background-color: rgb(239, 203, 193);
  color: var(--text-danger);
  width: 20px !important;
  min-width: 20px !important;
  border-radius: 6px;
  margin-right: 8px;
  font-size: 12px;
}

.third-product {
  background-color: var(--primary-color);
  color: white;
  width: 18px !important;
  height: 18px !important;
  min-width: 18px !important;
  border-radius: 6px;
  margin-right: 8px;
  font-size: 12px;
}

.master-product-row {
  background-color: #f4fef5 !important;
  border: solid 2px white;
}

.self-product-row {
  background-color: #faf1ee !important;
  border: solid 2px white;
}

.third-product-row {
  background-color: var(--primary-light) !important;
  border: solid 2px white;
}

.tooltip-white {
  background: white;
  position: absolute;
  margin-top: 35px;
  height: 80px;
  width: 300px;
  z-index: 1002;
  padding: 10px;
  overflow-y: auto;
  overflow-x: clip;
}

.file-box {
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.star-icon-size {
  color: var(--background-btn-yellow) !important;
}

@media screen and (max-width: 767px) {
  .mobile-view-dialog {
    width: 80% !important;
    max-width: unset !important;

    mat-dialog-container {
      min-width: unset !important;
    }
  }

  .qc-detail-dialog {
    height: 90vh;
    overflow: hidden;
    width: 100% !important;
    max-width: unset !important;
  }

  .guideline-dialog {
    height: 90vh;
    overflow: auto;
    width: 100% !important;
    max-width: unset !important;
  }

  .slider-dialog {
    height: 90vh;
    overflow: hidden;
    width: 100% !important;
    max-width: unset !important;
  }

  .app-container {
    padding: 5px 10px;
    width: unset !important;
  }
}

.qc-detail-dialog {
  height: 90vh;
  overflow: hidden;
  width: 80%;
  max-width: unset !important;
}

input.ng-invalid.ng-touched {
  border: var(--text-danger) solid 1px;
}

select.ng-invalid.ng-touched {
  border: var(--text-danger) solid 1px;
}

textarea.ng-invalid.ng-touched {
  border: var(--text-danger) solid 1px;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #f0f0f0;
}

.mat-column-rfQuotationId,
.mat-column-status,
.mat-column-paymentStatus {
  max-width: 150px !important;
}

.mat-column-saleBy {
  max-width: 80px !important;
}

.mat-column-requestFromName {
  min-width: 150px !important;
}

.mat-column-productTypeDescription {
  min-width: 220px !important;
}

.mat-column-productSubTypeDescription {
  min-width: 230px !important;
}

.mat-column-relationAccountName {
  min-width: 150px !important;
}

.mat-column-relationStatusId {
  max-width: 150px !important;
}

.mat-column-addressLine {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-phoneNumber {
  max-width: 130px !important;
}

.mat-column-cost {
  min-width: 170px !important;
}

.mat-column-transactionId {
  min-width: 150px !important;
}

.mat-column-productCode {
  div {
    justify-content: start !important;
  }

  min-width: 220px !important;
}

.mat-column-lastModifiedByName {
  max-width: 60px !important;
}

.mat-column-addressZipCode {
  max-width: 80px !important;
}

.text-ellipse {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.mat-column-date,
.mat-column-requiredByDate,
.mat-column-salesRepName,
.mat-column-createdDate,
.mat-column-code {
  max-width: 120px !important;
}

.mat-column-productTemplateName {
  min-width: 250px !important;
}

.mat-column-action {
  justify-content: flex-end;
  display: flex !important;
  max-width: 100px !important;

  .mat-sort-header-content {
    width: 100%;
    text-align: end;
  }
}

.mat-cell.mat-column-action {
  padding-right: 0.2rem !important;
}

.mat-tab-label {
  justify-content: left !important;
  padding: unset !important;
}

.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 9999;
  /* Make sure it's on top */
}

.mat-paginator-container {
  width: unset !important;
  padding: unset !important;
  flex-wrap: nowrap !important;
  white-space: nowrap !important;

  .mat-icon-button {
    width: 30px !important;
  }
}

.mat-paginator-range-label {
  margin: unset !important;
}

.close-icon-option {
  display: none;
}

.ng-option-selected {
  .close-icon-option {
    display: block;
  }
}

.mat-drawer-container {
  height: calc(100vh - 50px);
}

.dashed-border {
  border: dashed 1px var(--card-header-bg);
  border-radius: 6px;
}

.min-width-75 {
  min-width: 75px !important;
}

.min-width-100 {
  min-width: 100px !important;
}

.min-width-125 {
  min-width: 125px !important;
}

.width-150 {
  width: 150px !important;
}

// new ui css

@media screen and (max-width: 768px) {
  .signin-form {
    margin-top: 80px;
  }
}

.signin-form {
  margin-top: 100px;
  font-weight: 500;

  p {
    font-size: 14px !important;
  }

  .heading {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 800;
  }
}

.signin-section {
  padding: 30px;

  .logo {
    // padding: 5%;
  }

  .img-slide {
    object-fit: contain;
    width: 100%;
  }

  .step-nav {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    z-index: 10;
  }

  .step-nav button {
    border: 1px solid var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    height: 10px;
    width: 30px;
  }

  .step-nav button:hover {
    background-color: var(--primary-color);
  }
}

.round {
  border-radius: 50% !important;
}

.mat-badge-content {
  color: #fff;
  background: var(--primary-color);
  width: 18px !important;
  height: 18px !important;
  display: flex;
  align-items: center;
  font-size: 10px;
  justify-content: center;
  right: -13px !important;
}

.mat-expansion-panel-header {
  border-radius: 0px !important;
  padding: 10px 10px 10px 10px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: white;
  border: 1px solid var(--primary-light);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--primary-color);
  top: 0px !important;
}

.map {
  height: 30px;
  text-align: center;
  color: #d5e7fa;
  border-radius: 5px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  .material-icons {
    color: var(--primary-color);
  }
}

.map-grid {
  display: flex;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1650px;
  }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--primary-color) !important;
}

.swiper-login {
  background: white;
  border-radius: 6px;
  padding-top: 100px;

  h4 {
    color: var(--text-dark);
    font-size: 16px;
    width: 80%;
  }

  .tab {
    background: var(--primary-light);
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20px;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 14px;
    margin-left: 50px;
  }

  .tab-content {
    margin-left: 50px;
  }
}

small {
  font-size: 12px;
}

.mat-tab-body.mat-tab-body-active {
  bottom: 90px;
  // max-height: 75vh;
}

.map-grid {
  dadyin-searchable-select {
    // width: 90% !important;
  }
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  margin-right: unset !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 1000 !important;
}

::ng-deep .mat-tooltip {
  z-index: 2000 !important;
}

.ng-select .ng-select-container .ng-value-container {
  padding-left: 8px;
  padding-right: 8px;
}
