.close-dialog {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .dialog-container {
    position: relative;
    min-width: 1000px;
    height: 95vh;
    padding: 20px;
    overflow: auto;

    .dialog-card-header {
      margin-top: 2%;
      width: 100%;
      height: fit-content;
      background: #a2c6e9;
      border-radius: 2px;
      text-align: center;
      h3 {
        color: var(--primary-color);
        font-weight: 500;
        margin: 0;
      }
    }

    .card-body {
      text-align: center;
      padding: 0;
      margin-top: 2px;

      
      table {
        width: 100%;
        thead {
          tr {
            th {
              text-align: left;
              color:var(--primary-color);
              border-radius: 2px;
            }
          }
        }
        tbody {
          tr {
            td {
              text-align: center;
              background: white;
              border-radius: 5px;
              padding:2px;
              div {
                background: #e5e5e5;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }


  .bg-none {
    background:none !important;
  }


  .process-table table th:nth-child(1) {
    width:unset !important;
  }


  .process-table table th:last-child {
    width:unset !important;
  }

  .content-header {
    // padding-bottom: 10px;
    padding-top: 10px;

    dadyin-button {
      ::ng-deep button {
        height: 38px;
      }
    }

    .content-title {
      background: #F1F5F9;
      border-radius: 2px;
      display: inline-flex;
      margin-left: 5px;
      width: auto;
      height: 39px !important;
      position: relative;
      bottom: 7px;
      padding: 0 20px 0 5px;

      label {
        max-width: 415px;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-block;
        white-space: nowrap;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: var(--text-primary);
        position: relative;
        top: 9px;
      }
    }
  }

  .producttitle{
    background-color: var(--card-header-bg) !important;
    color: var(--primary-color);
    text-align: center;
  }

  .inventorydetails{
    background: #F0F0F0 !important;
  }

  .content-title {
    background-color: var(--card-header-bg);;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

