<div class="app-container  ">
  <div class="justify-content-end d-flex">
    <dadyin-button
      [theme]="'default'"
      label="Cancel"
      (clicked)="jumpToDashboard()"
    >
    </dadyin-button
    >&nbsp;
    <dadyin-button [theme]="'primary'" label="Save" (clicked)="onSubmit()">
    </dadyin-button>
  </div>
  <mat-tab-group class="mat-steps" [(selectedIndex)]="currentMainIndex">
    <mat-tab label="Business Details">
      <ng-container *ngIf="currentMainIndex == 0">
        <div [formGroup]="businessRegistrationForm">
          <div>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-description class="d-flex justify-content-between">
                  <div class="title-text">Basic Details</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="basic-contains p-0">
                <div class="row p-0 mar-top-10">
                  <div class="col-lg-10 col-md-10 col-12">
                    <div class="row">
                      <div class="col-md-4">
                        <dadyin-input
                          inputType="string"
                          formControlName="name"
                          label="Business Name"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                      <div class="col-md-2">
                        <dadyin-input
                          inputType="string"
                          formControlName="firstName"
                          label="Owner First Name"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                      <div class="col-md-2">
                        <dadyin-input
                          inputType="string"
                          formControlName="lastName"
                          label="Owner Last Name"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                      <div class="col-md-2">
                        <dadyin-select
                          formControlName="language"
                          label="Language"
                          [emptyOption]="'Select language'"
                          [optionArr]="[{label:'English',value:'English'},{label:'Hindi',value:'Hindi'}]"
                        >
                        </dadyin-select>
                      </div>
                      <div class="col-md-1">
                        <dadyin-select
                          formControlName="currency"
                          label="Currency"
                          [emptyOption]="'Select Currency'"
                          [optionArr]="currencyList"
                        >
                        </dadyin-select>
                      </div>
                      <div class="col-md-1">
                        <dadyin-select
                          formControlName="currency2nd"
                          label="Currency Second"
                          [emptyOption]="'Select Currency'"
                          [optionArr]="currencyList"
                        >
                        </dadyin-select>
                      </div>
                    </div>
                    <div class="row mar-top-10">
                      <div class="col-md-4" formGroupName="primaryContact">
                        <dadyin-input
                          inputType="string"
                          formControlName="email"
                          label="Business Email"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                      <div class="col-md-4">
                        <dadyin-map-autocomplete
                          label="Search Address"
                          (address)="onAddressSelection($event,businessRegistrationForm.get('primaryContact').get('address'))"
                          [control]="businessRegistrationForm.get('primaryContact').get('address')"
                        ></dadyin-map-autocomplete>
                      </div>

                      <div class="col-md-4" formGroupName="primaryContact">
                        <ng-container formGroupName="address">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="attribute one attr-b">
                                <label class="bg-white" for="yesno"
                                  >Country</label
                                >
                                <input
                                  disabled
                                  formControlName="addressCountry"
                                  class="w-100"
                                  type="text"
                                />
                              </div>
                            </div>

                            <div class="col-md-4">
                              <div class="attribute one attr-b">
                                <label class="bg-white" for="yesno"
                                  >State</label
                                >
                                <input
                                  disabled
                                  formControlName="addressState"
                                  class="w-100"
                                  type="text"
                                />
                              </div>
                            </div>

                            <div class="col-md-4">
                              <div class="attribute one attr-b">
                                <label class="bg-white" for="yesno"
                                  >Zipcode</label
                                >
                                <input
                                  disabled
                                  formControlName="addressZipCode"
                                  type="text"
                                  class="w-100"
                                />
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>

                    <div class="row mar-top-10">
                      <div
                        class="col-md-4 d-flex"
                        formGroupName="primaryContact"
                      >
                        <ng-container formGroupName="phone">
                          <div class="width-perc-30 attribute b-none mx-1">
                            <label class="bg-white" for="yesno"
                              >Country Code</label
                            >
                            <ng-select
                              appendTo="body"
                              formControlName="countryId"
                              [searchFn]="customSearchFn"
                              [clearable]="false"
                              class="custom"
                              [items]="countries"
                              labelForId="yesno"
                              bindValue="id"
                            >
                              <ng-template ng-label-tmp let-item="item">
                                <div>
                                  <img
                                    width="10px"
                                    height="10px"
                                    src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                                  />
                                  {{item?.iso2}} {{(item?.phoneCode)}}
                                </div>
                              </ng-template>
                              <ng-template
                                ng-option-tmp
                                let-item="item"
                                let-index="index"
                              >
                                <div>
                                  <img
                                    width="10px"
                                    height="10px"
                                    src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                                  />
                                  {{item?.iso2}} {{(item?.phoneCode)}}
                                </div>
                              </ng-template>
                            </ng-select>
                            <span
                              class="required"
                              *ngIf="businessRegistrationForm.get('primaryContact').get('phone').get('countryId').invalid"
                              >Country Code is required.</span
                            >
                          </div>
                          <div class="width-perc-70">
                            <div class="attribute one attr-b">
                              <label for="">Phone</label>
                              <div class="attribute-input">
                                <input type="number" formControlName="number" />
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <div
                        class="col-md-4 d-flex"
                        formGroupName="primaryContact"
                      >
                        <ng-container formGroupName="fax">
                          <div class="width-perc-30 attribute b-none mx-1">
                            <label class="bg-white" for="yesno"
                              >Country Code</label
                            >
                            <ng-select
                              appendTo="body"
                              formControlName="countryId"
                              [searchFn]="customSearchFn"
                              [clearable]="false"
                              class="custom"
                              [items]="countries"
                              labelForId="yesno"
                              bindValue="id"
                            >
                              <ng-template ng-label-tmp let-item="item">
                                <div>
                                  <img
                                    width="10px"
                                    height="10px"
                                    src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                                  />
                                  {{item?.iso2}} {{(item?.phoneCode)}}
                                </div>
                              </ng-template>
                              <ng-template
                                ng-option-tmp
                                let-item="item"
                                let-index="index"
                              >
                                <div>
                                  <img
                                    width="10px"
                                    height="10px"
                                    src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                                  />
                                  {{item?.iso2}} {{(item?.phoneCode)}}
                                </div>
                              </ng-template>
                            </ng-select>
                            <span
                              class="required"
                              *ngIf="businessRegistrationForm.get('primaryContact').get('fax').get('countryId').invalid"
                              >Country Code is required.</span
                            >
                          </div>
                          <div class="width-perc-70">
                            <div class="attribute one attr-b">
                              <label for="">Fax</label>
                              <div class="attribute-input">
                                <input type="number" formControlName="number" />
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <div
                        class="col-md-4 d-flex"
                        formGroupName="primaryContact"
                      >
                        <ng-container formGroupName="landline">
                          <div class="width-perc-30 attribute b-none mx-1">
                            <label class="bg-white" for="yesno"
                              >Country Code</label
                            >
                            <ng-select
                              appendTo="body"
                              formControlName="countryId"
                              [searchFn]="customSearchFn"
                              [clearable]="false"
                              class="custom"
                              [items]="countries"
                              labelForId="yesno"
                              bindValue="id"
                            >
                              <ng-template ng-label-tmp let-item="item">
                                <div>
                                  <img
                                    width="10px"
                                    height="10px"
                                    src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                                  />
                                  {{item?.iso2}} {{(item?.phoneCode)}}
                                </div>
                              </ng-template>
                              <ng-template
                                ng-option-tmp
                                let-item="item"
                                let-index="index"
                              >
                                <div>
                                  <img
                                    width="10px"
                                    height="10px"
                                    src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                                  />
                                  {{item?.iso2}} {{(item?.phoneCode)}}
                                </div>
                              </ng-template>
                            </ng-select>
                            <span
                              class="required"
                              *ngIf="businessRegistrationForm.get('primaryContact').get('landline').get('countryId').invalid"
                              >Country Code is required.</span
                            >
                          </div>
                          <div class="width-perc-70">
                            <div class="attribute one attr-b">
                              <label for="">Landline</label>
                              <div class="attribute-input">
                                <input type="number" formControlName="number" />
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>

                    <div class="row mar-top-10">
                      <div class="col-md-2">
                        <dadyin-select
                          [emptyOption]="'Select Business Type'"
                          formControlName="businessLines"
                          [optionArr]="businessTypes"
                          label="Select Business Type"
                          optionLabel="description"
                          optionValue="id"
                        >
                        </dadyin-select>
                      </div>

                      <div class="col-md-2">
                        <dadyin-select
                          [emptyOption]="'Select Nearest Port'"
                          formControlName="portId"
                          [optionArr]="containerService.portsList"
                          label="Nearest Port"
                          optionLabel="description"
                          optionValue="id"
                        >
                        </dadyin-select>
                      </div>

                      <div
                        class="col-2"
                        *ngIf="addressCountry.value!='India' || addressCountry.value!='US'"
                      >
                        <dadyin-input
                          inputType="string"
                          formControlName="taxId"
                          label="Tax Id"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                      <div class="col-2" *ngIf="addressCountry.value=='India'">
                        <dadyin-input
                          inputType="string"
                          formControlName="gst"
                          label="GST"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                      <div class="col-2" *ngIf="addressCountry.value=='India'">
                        <dadyin-input
                          inputType="string"
                          formControlName="panCard"
                          label="Pan Card"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                      <div
                        class="col-2"
                        *ngIf="addressCountry.value=='United States'"
                      >
                        <dadyin-input
                          inputType="string"
                          formControlName="einNumber"
                          label="EIN Number"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                      <div
                        class="col-2"
                        *ngIf="addressCountry.value=='United States'"
                      >
                        <dadyin-input
                          inputType="string"
                          formControlName="ssnNumber"
                          label="SSN Number"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                      <div
                        class="col-2"
                        *ngIf="addressCountry.value=='United States'"
                      >
                        <dadyin-input
                          inputType="string"
                          formControlName="itinNumber"
                          label="ITIN Number"
                          [isClearable]="false"
                        >
                        </dadyin-input>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-12">
                    <div class="album b-all">
                      <div class="imgContainer">
                        <div class="row">
                          <div class="col px-2">
                            <div
                              *ngIf="!logoImage.value"
                              style="cursor: pointer"
                              class="d-flex p-1 justify-content-center"
                            >
                              <input
                                (change)="imageselected($event)"
                                type="file"
                                style="display: none !important"
                                #fileinp
                                accept=".jpg, .jpeg, .png"
                              />
                              <div
                                (click)="fileinp.click()"
                                class="width-perc-60"
                              >
                                <img
                                  src="../../../../../assets/img/business_logo.png"
                                  height="125px"
                                  width="100%"
                                  alt=""
                                />
                              </div>
                            </div>
                            <div
                              *ngIf="logoImage.value"
                              class="d-flex p-1 justify-content-center"
                              style="cursor: pointer"
                            >
                              <i
                                (click)="removeImage()"
                                class="material-icon"
                              >
                                close
                              </i>

                              <img
                                height="125px"
                                width="100%"
                                [src]="imgUrl + logoImage.value"
                                alt=""
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
          <div
            *ngIf="businessLines?.value!='DISTRIBUTOR' && businessLines?.value!='RETAILER'"
          >
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-description>
                  <div class="w-100 title-text">
                    Industry Type/ Sub type / Product Type
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="basic-contains p-0">
                <div class="row p-0 mar-top-30">
                  <div class="col-6">
                    <dadyin-search-select-new
                      [maxSelectedItems]="2"
                      [typeahead]="false"
                      bindValue="id"
                      label="{{'Select Industry Type(' + (industryTypeIds?.value?.length ?? 0) + '/2)'}}"
                      [fullItems]="apiService.allIndustryTypes"
                      [selectedItems]="industryTypeIds"
                    >
                    </dadyin-search-select-new>
                  </div>
                  <div class="col-6">
                    <dadyin-search-select-new
                      [maxSelectedItems]="5"
                      [typeahead]="false"
                      bindValue="id"
                      label="{{'Select Industry Sub Type(' + (industrySubTypeIds?.value?.length ?? 0) + '/5)'}}"
                      [fullItems]="industrySubTypes"
                      [selectedItems]="industrySubTypeIds"
                    >
                    </dadyin-search-select-new>
                  </div>
                </div>
                <div class="row p-0 mar-top-30">
                  <div class="col-6">
                    <div class="attribute b-none mx-1 attr-b">
                      <dadyin-search-select-new
                        [maxSelectedItems]="15"
                        bindValue="id"
                        [typeahead]="false"
                        label="{{'Select Product Type(' + (productTypeIds?.value?.length ?? 0) + '/15)'}}"
                        [fullItems]="apiService.productTypes"
                        [selectedItems]="productTypeIds"
                      >
                      </dadyin-search-select-new>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
          <div
            *ngIf="businessLines?.value=='DISTRIBUTOR' || businessLines?.value=='RETAILER'"
          >
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-description>
                  <div class="w-100 title-text">Retail Categories</div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="basic-contains p-0">
                <div class="row mar-top-30 p-0">
                  <div class="col-6">
                    <div class="attribute b-none attr-b">
                      <dadyin-search-select-new
                        [maxSelectedItems]="5"
                        [typeahead]="false"
                        label="{{'Select Retail Categories(' + (productCategoryIds?.value?.length ?? 0) + '/5)'}}"
                        [fullItems]="apiService.productCategoriesList"
                        bindValue="id"
                        [selectedItems]="productCategoryIds"
                      ></dadyin-search-select-new>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
          <div>
            <mat-expansion-panel class="panel-no-padding" expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-description>
                  <div class="w-100 title-text">
                    Business Addresses (Branches)
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="process-table">
                <table id="example">
                  <thead>
                    <tr>
                      <th style="padding-left: 20px">SR #</th>
                      <th class="branch-name-col-width">Branch Name</th>
                      <th class="branch-name-col-width">Branch MANAGER</th>
                      <th class="phone-number-col-width" style="width: 200px">
                        PHONE NUMBER
                      </th>
                      <th class="email-col-width">EMAIL ID</th>
                      <th class="working-hour-col-width">Working Hours</th>
                      <th class="timezone-col-width">Timezone</th>
                      <th class="address-col-width">ADDRESS</th>
                      <th class="country-col-width">COUNTRY</th>
                      <th class="state-col-width">STATE</th>
                      <th class="country-col-width">TOWN/CITY</th>
                      <th class="zip-code-col-width">ZIP CODE</th>
                      <th class="action-col-width">ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="branchDetails.controls?.length==0">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <dadyin-button
                          (clicked)="addBranchLineItem()"
                          [theme]="'borderless-primary'"
                          type="icon"
                          [typeval]="'add_circle_outline'"
                        >
                        </dadyin-button>
                      </td>
                    </tr>
                    <tr
                      [formGroup]="business"
                      *ngFor=" let business of branchDetails.controls | sortFormArray;; let i=index"
                    >
                      <ng-container>
                        <td style="padding-left: 20px">{{i+1}}.</td>
                        <td>
                          <input
                            type="text"
                            formControlName="name"
                            class="bg-transparent"
                            [required]="branchDetails.controls[i].get('name')"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            formControlName="managerName"
                            class="bg-transparent"
                          />
                        </td>
                        <td formGroupName="phone" class="countrycode-column">
                          <ng-select
                            appendTo="body"
                            formControlName="countryId"
                            [searchFn]="customSearchFn"
                            [clearable]="false"
                            class="custom-table"
                            [items]="countries"
                            labelForId="yesno"
                            bindValue="id"
                          >
                            <ng-template ng-label-tmp let-item="item">
                              <section>
                                <img
                                  width="10px"
                                  height="10px"
                                  src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                                />
                                {{item?.iso2}} {{(item?.phoneCode)}}
                              </section>
                            </ng-template>
                            <ng-template
                              ng-option-tmp
                              let-item="item"
                              let-index="index"
                            >
                              <section>
                                <img
                                  width="10px"
                                  height="10px"
                                  src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                                />
                                {{item?.iso2}} {{(item?.phoneCode)}}
                              </section>
                            </ng-template>
                          </ng-select>
                          <span
                            class="required"
                            *ngIf="branchDetails.controls[i].get('phone').get('countryId').invalid"
                            >*</span
                          >
                          <input
                            type="number"
                            formControlName="number"
                            onKeyPress="if(this.value.length==10) return false;"
                            class="w-100 bg-transparent"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            formControlName="email"
                            class="bg-transparent"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            formControlName="workingHr"
                            class="bg-transparent"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            formControlName="timezone"
                            class="bg-transparent"
                          />
                        </td>
                        <td>
                          <dadyin-map-autocomplete
                            (address)="onAddressSelection($event,business.get('address'))"
                            [control]="business.get('address')"
                          ></dadyin-map-autocomplete>
                        </td>

                        <td>
                          <input
                            type="text"
                            [formControl]="business.get('address').get('addressCountry')"
                            disabled
                            class="bg-transparent"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [formControl]="business.get('address').get('addressState')"
                            disabled
                            class="bg-transparent"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [formControl]="business.get('address').get('addressCity')"
                            disabled
                            class="bg-transparent"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            [formControl]="business.get('address').get('addressZipCode')"
                            disabled
                            class="bg-transparent"
                          />
                        </td>
                        <td class="actions">
                          <ng-container
                            *ngIf="branchDetails.controls?.length==i+1"
                          >
                            <dadyin-button
                              (clicked)="addBranchLineItem()"
                              [theme]="'borderless-primary'"
                              type="icon"
                              [typeval]="'add_circle_outline'"
                            >
                            </dadyin-button>
                          </ng-container>
                          <dadyin-button
                            (clicked)="deleteBranchLineItem(i)"
                            [theme]="'borderless-danger'"
                            type="icon"
                            [typeval]="'delete_outline'"
                          >
                          </dadyin-button>
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="Employees">
      <ng-container *ngIf="currentMainIndex == 1">
        <mat-expansion-panel class="panel-no-padding" expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-description>
              <div class="w-100 title-text">Employee Details</div>
              <div
                style="white-space: nowrap"
                class="text-primary font-size-14"
              >
                Add Employee
                <i
                  (click)="addEmployeeItem();$event.stopPropagation()"
                  class="material-icon mx-1"
                >
                  add_circle_outline
                </i>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="process-table">
            <table id="example">
              <thead>
                <tr>
                  <th style="padding-left: 20px">SR #</th>
                  <th class="width-125">First Name</th>
                  <th class="width-125">Last Name</th>
                  <th style="width: 100px">Position</th>
                  <th style="width: 130px">Branch</th>
                  <th style="width: 130px">ID#</th>
                  <th style="width: 250px">Phone</th>
                  <th>Email</th>
                  <th class="width-125 number-column">Assigned Leads</th>
                  <th class="width-100">Invite Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="employeeDetails.controls?.length==0">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr
                  [formGroup]="employee"
                  *ngFor=" let employee of employeeDetails.controls | sortFormArray; let i=index"
                >
                  <ng-container>
                    <td style="padding-left: 20px">{{i+1}}.</td>
                    <td>
                      <input
                        type="text"
                        formControlName="firstName"
                        class="bg-transparent"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="lastName"
                        class="bg-transparent"
                      />
                    </td>
                    <td>
                      <select formControlName="roleId" class="h-25">
                        <option *ngFor="let value of roles" [value]="value.id">
                          {{value.name}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select
                        (change)="onSelectBranch(employee,$event)"
                        formControlName="branchId"
                        class="h-25"
                      >
                        <option [value]="null">None</option>
                        <option
                          *ngFor="let value of branchDetails?.value"
                          [value]="value.id"
                        >
                          {{value.name}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="externalRefId"
                        class="bg-transparent"
                      />
                    </td>
                    <td formGroupName="phone" class="countrycode-column">
                      <ng-select
                        appendTo="body"
                        formControlName="countryId"
                        [searchFn]="customSearchFn"
                        [clearable]="false"
                        class="custom-table"
                        [items]="countries"
                        labelForId="yesno"
                        bindValue="id"
                      >
                        <ng-template ng-label-tmp let-item="item">
                          <section>
                            <img
                              width="10px"
                              height="10px"
                              src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                            />
                            {{item?.iso2}} {{(item?.phoneCode)}}
                          </section>
                        </ng-template>
                        <ng-template
                          ng-option-tmp
                          let-item="item"
                          let-index="index"
                        >
                          <section>
                            <img
                              width="10px"
                              height="10px"
                              src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}"
                            />
                            {{item?.iso2}} {{(item?.phoneCode)}}
                          </section>
                        </ng-template>
                      </ng-select>
                      <input
                        type="number"
                        formControlName="number"
                        onKeyPress="if(this.value.length==10) return false;"
                        class="w-100 bg-transparent"
                      />
                    </td>

                    <td>
                      <input
                        type="text"
                        formControlName="email"
                        class="bg-transparent"
                      />
                    </td>
                    <td class="number-column">
                      <div
                        class="cursor"
                        (click)="viewAssignedLeadsToEmployee(employee?.value?.id)"
                      >
                        {{employee?.value?.assignedLeads}}
                      </div>
                    </td>
                    <td class="text-primary" formGroupName="invite">
                      <div
                        class="text-center"
                        *ngIf="employee?.value?.id && employee?.value?.invite"
                      >
                        {{employee?.value?.invite?.status}}
                      </div>
                      <!-- <span class="p-1 bg-light" >{{employee?.value?.invite?.status}}</span> -->
                    </td>

                    <td class="actions">
                      <ng-container
                        *ngIf="employee?.value?.invite?.status!='COMPLETED'"
                      >
                        <dadyin-button
                          matTooltip="Send Invite to Employee"
                          [isDisabled]="employee?.invalid"
                          *ngIf="employee?.value?.id && !employee?.value?.invite"
                          (clicked)="sendInvite(employee?.value)"
                          [theme]="'borderless-primary'"
                          type="icon"
                          [typeval]="'send'"
                        >
                        </dadyin-button>

                        <dadyin-button
                          matTooltip="Resend Invite to Employee"
                          *ngIf="employee?.value?.id && employee?.value?.invite"
                          (clicked)="sendInvite(employee?.value)"
                          [theme]="'borderless-primary'"
                          type="icon"
                          [typeval]="'send'"
                        >
                        </dadyin-button>

                        <input
                          matTooltip="Send Invite on Save"
                          *ngIf="!employee?.value?.id"
                          style="
                            min-height: 18px !important;
                            width: 20px !important;
                          "
                          formControlName="sendInvite"
                          type="checkbox"
                        />
                      </ng-container>

                      <dadyin-button
                        matTooltip="Assign more Leads"
                        *ngIf="employee?.value?.id && employee?.value?.invite"
                        (clicked)="assignLeadsToEmployee(employee?.value)"
                        [theme]="'borderless-primary'"
                        type="icon"
                        [typeval]="'assignment_add'"
                      >
                      </dadyin-button>

                      <dadyin-button
                        (clicked)="deleteEmployeeItem(i)"
                        [theme]="'borderless-danger'"
                        type="icon"
                        [typeval]="'delete_outline'"
                      >
                      </dadyin-button>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-tab>
    <mat-tab label="Subscription Details">
      <ng-container *ngIf="currentMainIndex == 2">
        <div class="subscription-tab-container">
          <div class="row p-4">
            <div class="col-6 plan-container">
              <div class="plan-details">
                <div class="divider-content w-30">
                  <div class="w-80">
                    <div class="plan-text">Plan Details</div>
                    <div>
                      <img src="{{selectedSubscription?.logo}}">
                    </div>
                  </div>
                  <div class="side-border"></div>
                </div>
                <div class="divider-content w-30">
                  <div class="w-80">
                    <div class="plan-text">Pricing Details</div>
                    <div class="cost-text">{{subscriptionDetails?.subscriptionType === 'YEARLY' ? selectedSubscription?.yearCostText : selectedSubscription?.monthCostText}}</div>
                    <div class="plan-text">Per {{subscriptionDetails?.subscriptionType === 'YEARLY' ? 'Year' : 'Month'}}</div>
                  </div>
                  <div class="side-border"></div>
                </div>
                <div class="setup">
                  <div class="plan-text">Setup Cost</div>
                  <div class="cost-text">${{selectedSubscription?.setupCostValue | number:'1.2-2'}}</div>
                  <div class="plan-text">One time fees</div>
                </div>
              </div>
              <div class="subscription-details">
                <div class="w-30 divider-content">
                  <div class="w-80">
                    <div class="plan-text">Subscription Start Date</div>
                    <div class="date-text">{{subscriptionDetails?.subscriptionStart | date:'dd MMM yyyy'}}</div>
                  </div>
                  <div class="subs-bar"></div>
                </div>
                <div class="w-30 divider-content">
                  <div class="w-80">
                    <div class="plan-text">Subscription End Date</div>
                    <div class="date-text">{{subscriptionDetails?.subscriptionEnd | date:'dd MMM yyyy'}}</div>
                  </div>
                  <div class="subs-bar"></div>
                </div>
                <div>
                  <div class="plan-text">Auto Renews on</div>
                  <div class="date-text">{{getAutoRenewsDate() | date:'dd MMM yyyy'}}</div>
                </div>
              </div>
            </div>
            <div class="col-6" *ngIf="nextSubscription">
              <div class="grow-box">
                <div>
                  <div class="grow-text">Grow Beyond Limits</div>
                  <div class="grow-description mt-2">We’re glad to see you making the most out of your current plan! As your
                    business
                    grows, upgrading to the next tier could help you unlock even more value</div>
                </div>
                <div class="upgrade-content">
                  <div class="w-70 split-content">
                    <div class="upgrade-desc">
                      <div class="w-90">
                        <div class="up-text">Upgrade to</div>
                        <div><img src="{{nextSubscription?.logo}}" class="grow-img"></div>
                      </div>
                      <div class="subs-bar"></div>
                    </div>
                    <div>
                      <div class="up-text">For the price of </div>
                      <div>
                        <span class="price-cost">{{subscriptionDetails?.subscriptionType === 'YEARLY' ? nextSubscription?.yearCostText : nextSubscription?.monthCostText}}</span> <span class="price-date">/{{subscriptionDetails?.subscriptionType === 'YEARLY' ? 'Year' : 'Month'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <dadyin-button [theme]="'primary'" label="{{nextSubscription?.buttonText}}" [width]="'147px'" [fontSize]="'16px'" (clicked)="navigateToSubscriptionPage()">
                    </dadyin-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-expansion-panel class="panel-no-padding mb-4" expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div class="w-100 title-text">Your plan Includes</div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="process-table">
              <div class="table-box">
                <div class="prog-container" [ngClass]="{'w-60': nextSubscription, 'w-100': !nextSubscription}">
                  <div class="d-flex justify-content-between">
                    <div class="prog-title">DadyIn QC Fees ({{selectedSubscription?.quickCheckoutFees}}%)</div>
                      <div>
                        <span class="prog-info-text me-2">Fees Paid till now :</span>
                        <span [ngClass]="(subscriptionDetails?.quickCheckoutFees / selectedSubscription?.quickCheckoutFees) >= 1 ? 'prog-sec-value' : 'prog-prim-value'">
                          ({{subscriptionDetails?.quickCheckoutFees}}%)
                        </span>
                      </div>
                  </div>
                    <div>
                      <mat-progress-bar mode="determinate"
                        [ngClass]="(subscriptionDetails?.quickCheckoutFees / selectedSubscription?.quickCheckoutFees) >= 1 ? 'my-custom-sec-progress-bar' : 'my-custom-primary-progress-bar'"
                        [value]="(subscriptionDetails?.quickCheckoutFees / selectedSubscription?.quickCheckoutFees) * 100">
                      </mat-progress-bar>
                    </div>
                </div>
                <ng-container *ngIf="nextSubscription">
                <div class="table-bar"></div>
                <div>
                  <div class="prog-info-text">Next Tier QC Fees</div>
                  <div><span class="pog-count">{{nextSubscription?.quickCheckoutFees}}%</span> <span class="prog-sub-count-text">of order value</span></div>
                </div>
                </ng-container>
              </div>
              <div class="table-box">
                <div class="prog-container" [ngClass]="{'w-60': nextSubscription, 'w-100': !nextSubscription}">
                  <div class="d-flex justify-content-between">
                    <div class="prog-title">Order Management Documents ({{selectedSubscription?.allowedTransactionsByMonth == -1 ? 'Unlimited' : selectedSubscription?.allowedTransactionsByMonth}}/month) </div>
                      <div>
                        <span class="prog-info-text me-2">Limit Reached:</span>
                        <span [ngClass]="(subscriptionDetails?.allowedTransactionsByMonth / selectedSubscription?.allowedTransactionsByMonth) >= 1 ? 'prog-sec-value' : 'prog-prim-value'" *ngIf="selectedSubscription?.allowedTransactionsByMonth != -1">
                          {{subscriptionDetails?.allowedTransactionsByMonth}}/{{selectedSubscription?.allowedTransactionsByMonth}}
                        </span>
                        <span [ngClass]="(subscriptionDetails?.allowedTransactionsByMonth / selectedSubscription?.allowedTransactionsByMonth) >= 1 ? 'prog-sec-value' : 'prog-prim-value'" *ngIf="selectedSubscription?.allowedTransactionsByMonth == -1">
                          Unlimited
                        </span>
                      </div>
                  </div>
                    <div>
                      <mat-progress-bar mode="determinate"
                        [ngClass]="(subscriptionDetails?.allowedTransactionsByMonth / selectedSubscription?.allowedTransactionsByMonth) >= 1 ? 'my-custom-sec-progress-bar' : 'my-custom-primary-progress-bar'"
                        [value]="(subscriptionDetails?.allowedTransactionsByMonth / selectedSubscription?.allowedTransactionsByMonth) * 100">
                      </mat-progress-bar>
                    </div>
                </div>
                <ng-container *ngIf="nextSubscription">
                <div class="table-bar"></div>
                <div class="d-flex gap-4">
                  <div>
                    <div class="prog-info-text">Upgrade to next Tier</div>
                    <div><span class="pog-count">{{nextSubscription?.allowedTransactionsByMonth == -1 ? 'Unlimited' : nextSubscription?.allowedTransactionsByMonth}}</span> <span class="prog-sub-count-text">Documents per
                        month</span></div>
                  </div>
                  <div class="table-bar"></div>
                  <div>
                    <div class="prog-info-text">Limit Renews on</div>
                    <div class="pog-count">{{getAutoRenewsDate() | date:'dd MMM yyyy'}}</div>
                  </div>
                </div>
                </ng-container>
              </div>
              <div class="table-box">
                <div class="prog-container" [ngClass]="{'w-60': nextSubscription, 'w-100': !nextSubscription}">
                  <div class="d-flex justify-content-between">
                    <div class="prog-title">Container Management ({{selectedSubscription?.containerManagementByYear == -1 ? 'Unlimited' : selectedSubscription?.containerManagementByYear}}/year)</div>
                      <div>
                        <span [ngClass]="(subscriptionDetails?.containerManagementByYear / selectedSubscription?.containerManagementByYear) >= 1 ? 'prog-sec-value' : 'prog-prim-value'" *ngIf="selectedSubscription?.containerManagementByYear != -1">
                          {{subscriptionDetails?.containerManagementByYear}}/{{selectedSubscription?.containerManagementByYear}}
                        </span>
                        <span [ngClass]="(subscriptionDetails?.containerManagementByYear / selectedSubscription?.containerManagementByYear) >= 1 ? 'prog-sec-value' : 'prog-prim-value'" *ngIf="selectedSubscription?.containerManagementByYear == -1">
                          Unlimited
                        </span>
                      </div>
                  </div>
                    <div>
                      <mat-progress-bar mode="determinate"
                        [ngClass]="(subscriptionDetails?.containerManagementByYear / selectedSubscription?.containerManagementByYear) >= 1 ? 'my-custom-sec-progress-bar' : 'my-custom-primary-progress-bar'"
                        [value]="(subscriptionDetails?.containerManagementByYear / selectedSubscription?.containerManagementByYear) * 100">
                      </mat-progress-bar>
                    </div>
                </div>
                <ng-container *ngIf="nextSubscription">
                <div class="table-bar"></div>
                <div>
                  <div class="prog-info-text">Next Tier limit</div>
                  <div><span class="pog-count">{{nextSubscription?.containerManagementByYear == -1 ? 'Unlimited' : nextSubscription?.containerManagementByYear}} </span> <span class="prog-sub-count-text">per year</span></div>
                </div>
                </ng-container>
              </div>
              <div class="table-box">
                <div class="prog-container" [ngClass]="{'w-60': nextSubscription, 'w-100': !nextSubscription}">
                  <div class="d-flex justify-content-between">
                    <div class="prog-title">Branches ({{selectedSubscription?.allowedNoOfBranches}})</div>
                      <div>
                        <span class="prog-info-text me-2">Limit Reached:</span>
                        <span [ngClass]="(subscriptionDetails?.allowedNoOfBranches / selectedSubscription?.allowedNoOfBranches) >= 1 ? 'prog-sec-value' : 'prog-prim-value'">
                          {{subscriptionDetails?.allowedNoOfBranches}}/{{selectedSubscription?.allowedNoOfBranches}}
                        </span>
                      </div>
                  </div>
                    <div>
                      <mat-progress-bar mode="determinate"
                        [ngClass]="(subscriptionDetails?.allowedNoOfBranches / selectedSubscription?.allowedNoOfBranches) >= 1 ? 'my-custom-sec-progress-bar' : 'my-custom-primary-progress-bar'"
                        [value]="(subscriptionDetails?.allowedNoOfBranches / selectedSubscription?.allowedNoOfBranches) * 100">
                      </mat-progress-bar>
                    </div>
                </div>
                <ng-container *ngIf="nextSubscription">
                <div class="table-bar"></div>
                <div>
                    <div class="prog-info-text">Next Tier limit</div>
                    <div><span class="pog-count">{{nextSubscription?.allowedNoOfBranches}}</span> <span class="prog-sub-count-text">Branches</span></div>
                  </div>
                </ng-container>
              </div>
              <div class="table-box">
                <div class="prog-container" [ngClass]="{'w-60': nextSubscription, 'w-100': !nextSubscription}">
                  <div class="d-flex justify-content-between">
                    <div class="prog-title">Product adding support</div>
                      <div>
                        <span [ngClass]="getPendingDays() <= 0 ? 'prog-sec-value' : 'prog-prim-value'">
                          {{getPendingDays()}} Days left
                        </span>
                      </div>
                      </div>
                      <div>
                        <mat-progress-bar mode="determinate"
                          [ngClass]="getPendingDays() <= 0 ? 'my-custom-sec-progress-bar' : 'my-custom-primary-progress-bar'"
                          [value]="getSupportProgressValue()">
                        </mat-progress-bar>
                      </div>
                      </div>
                <ng-container *ngIf="nextSubscription">
                <div class="table-bar"></div>
                <div class="d-flex gap-4">
                  <div>
                    <div class="prog-info-text">Next Tier limit</div>
                    <div><span class="pog-count">{{nextSubscription?.productSupportValue}}</span> <span class="prog-sub-count-text">Months</span></div>
                  </div>
                  <div class="table-bar"></div>
                  <div>
                    <div class="prog-info-text">{{getPendingDays() <= 0 ? 'Support ended on' : 'Support available till'}}</div>
                    <div class="pog-count">{{getCompletionDate() | date: 'dd MMM yyyy'}}</div>
                  </div>
                </div>
                </ng-container>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="paymentSuccess" class="congrats-overlay">
  <div class="congrats-content">
    <button class="close-btn" (click)="hideSuccessToast()">×</button>
    <br/>
    <h1>Subscription successful!! <br/>Step into the future of 
      <br/>bulk buying & selling.</h1>
    <img src="../../../../../assets/img/subscription/payment-success.gif" 
         alt="Congratulations!"
         class="congrats-gif" />
    <h2>Payment Received! 🎉</h2>
  </div>
</div>
</div>
