<div class="header-wrapper mt-2">
    <div class="row">
        <div class="col-6">
            <div class="filters">
                <search-filter (inputChange)="onInput($event)"
                    [placeholder]="'Search Enquiries based on name & code'"></search-filter>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper mt-2">
    <data-table [data]="allBusinessList" [headers]="headers" [pageConfig]="pageConfig"
        (editData)="viewRecord($event)" (sortChange)="sort($event)" [actions]="tabelActions"
        (pageChange)="pageChange($event)" (actionClick)="onActionClick($event)">
    </data-table>
</div>