

.toolbar {
  display: flex;
  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .new-filed {
      display: flex;
      align-items: center;
    }
  }

  input,select {
    margin-right: 4px;
    width:100%;
  }
}

.toolbar-2 {
  display: grid;
  grid-template-columns: 33% 30% 33%;
}

.formula-autocomplete {

  width: 100%;
  position: absolute;
  top: 100%;
  background: white;
  padding: 20px;
  height: 297px;
  z-index: 1002;
  overflow: auto;
}



.label-icon {
  top: -10%;
  position: absolute;
  right: 0px;
  background: white;
  width: 4px;
  height: 4px;
  cursor: pointer;
  img {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 7.2px;
    top: -2.6px;
  }
}

.formula-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 15px;
  // background: #a2c6e9;
  input {
    width: 100%;
    border: none;
    text-align: left;
    // background: transparent;
    outline: none;

  }
  input:focus {
    outline: none;
    border: solid 1px lightblue;
  }

  button {
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }

  }
  .highlight {
    background: lightgoldenrodyellow !important;
  }

  label {
    cursor: pointer;
  }
  .one{
  display: flex;
  select{
    margin-right: 10px;
    background-color: var(--body-bg);
  }
}