<form>
  <mat-expansion-panel expanded="true" #expansionPanel1>
    <mat-expansion-panel-header (click)="expandPanel(expansionPanel1, $event)">
      <mat-panel-description class="d-flex justify-content-between">
        <div class="primary-text font-size-12 d-flex align-items-center">
          <div class="title-text me-3">Container Details</div>
          <b> Filled Odometer : </b>
          <div
            class="bg-white mar-left-2"
            style="min-width: 100px"
            [ngStyle]="{
              color:
                containerForm.get('filledOdometer').get('odometerType').value ==
                'Weight'
                  ? '#03266d'
                  : '#3E7FFF'
            }"
          >
            {{
              containerForm.get("filledOdometer").get("odometerType").value
                | slice : 0 : 1
            }}{{ containerForm.get("filledOdometer").get("value").value }}
          </div>
        </div>

        <div class="primary-text font-size-12 d-flex align-items-center">
          <b> Remaining Odometer : </b>
          <div
            class="bg-white mar-left-2"
            style="min-width: 100px"
            [ngStyle]="{
              color:
                containerForm.get('filledOdometer').get('odometerType').value ==
                'Weight'
                  ? '#03266d'
                  : '#3E7FFF'
            }"
          >
            {{
              containerForm.get("remainingOdometer").get("odometerType").value
                | slice : 0 : 1
            }}{{ containerForm.get("remainingOdometer").get("value").value }}
          </div>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div [formGroup]="containerForm">
        <div class="input-order">
          <div class="inp">
            <dadyin-input
              inputType="text"
              formControlName="localContainerNumber"
              label="Local Container #"
            >
            </dadyin-input>
          </div>
          <div class="inp">
            <dadyin-input
              inputType="text"
              formControlName="containerNumber"
              label="Container #"
            >
            </dadyin-input>
          </div>
          <div class="inp">
            <dadyin-input
              inputType="text"
              formControlName="ssealNumber"
              label="S. seal #"
            >
            </dadyin-input>
          </div>
          <div class="inp">
            <dadyin-input
              inputType="text"
              formControlName="csealNumber"
              label="C. seal #"
            >
            </dadyin-input>
          </div>
          <div class="inp">
            <dadyin-input
              inputType="text"
              formControlName="bolNumber"
              label="BOL #"
            >
            </dadyin-input>
          </div>
          <div class="inp">
            <dadyin-input
              inputType="text"
              formControlName="mblNumber"
              label="MBL #"
            >
            </dadyin-input>
          </div>
          <div class="inp">
            <dadyin-input
              inputType="text"
              formControlName="hblNumber"
              label="HBL #"
            >
            </dadyin-input>
          </div>
          <div class="inp">
            <div class="attribute one">
              <label for="">Total Orders</label>
              <div class="attribute-input">
                <input
                  disabled
                  formControlName="totalOrders"
                  type="text"
                  placeholder="Enter your value"
                />
              </div>
            </div>
          </div>
          <div class="inp">
            <div class="attribute one">
              <label for="">Total SKUs</label>
              <div class="attribute-input">
                <input
                  disabled
                  formControlName="totalSKUs"
                  type="text"
                  placeholder="Enter your value"
                />
              </div>
            </div>
          </div>
          <div class="inp">
            <div class="attribute one">
              <label for="">Total Weight</label>
              <div class="attribute-input" formGroupName="weight">
                <input
                  disabled
                  min="0"
                  formControlName="attributeValue"
                  type="number"
                  placeholder="Enter your value"
                />
                <select
                  disabled
                  formControlName="userConversionUom"
                  id="NetWtUnit"
                >
                  <ng-container
                    *ngFor="let item of uomService?.availableNetWeightUoms"
                  >
                    <option [value]="item.description">
                      {{ item?.description }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="inp">
            <div class="attribute one">
              <label for="">Total Volume</label>
              <div class="attribute-input" formGroupName="volume">
                <input
                  disabled
                  min="0"
                  formControlName="attributeValue"
                  type="number"
                  placeholder="Enter your value"
                />
                <select
                  disabled
                  formControlName="userConversionUom"
                  id="NetWtUnit"
                >
                  <ng-container
                    *ngFor="let item of uomService?.availableNormalVolumeUoms"
                  >
                    <option [value]="item.description">
                      {{ item?.description }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <!--
          <div class="inp">
            <dadyin-input inputType="text"  formControlName="totalPackages" label="Total Packages">
            </dadyin-input>
          </div> -->
          <div class="inp">
            <dadyin-select
              [optionArr]="[
                { id: 'PALLET', name: 'PALLET' },
                { id: 'FLOOR', name: 'FLOOR' },
                { id: 'MIXED', name: 'MIXED' }
              ]"
              label="Loading Type"
              formControlName="loadingType"
              optionLabel="name"
              optionValue="id"
              [emptyOption]="'Select Loading Type'"
            >
            </dadyin-select>
          </div>
          <div class="inp" *ngIf="!isExport" formGroupName="importCost">
            <div class="attribute one">
              <label for="">Order Value</label>
              <div class="attribute-input">
                <input
                  disabled
                  min="0"
                  formControlName="attributeValue"
                  type="number"
                  placeholder="Enter your value"
                />
                <select
                  disabled
                  formControlName="userConversionUom"
                  id="importCost"
                >
                  <ng-container
                    *ngFor="let item of uomService?.availableCostUoms"
                  >
                    <option [value]="item.description">
                      {{ item?.description }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div *ngIf="isExport" class="inp" formGroupName="exportCost">
            <div class="attribute one">
              <label for="">Order Value</label>
              <div class="attribute-input">
                <input
                  disabled
                  min="0"
                  formControlName="attributeValue"
                  type="number"
                  placeholder="Enter your value"
                />
                <select
                  disabled
                  formControlName="userConversionUom"
                  id="exportCost"
                >
                  <ng-container
                    *ngFor="let item of uomService?.availableCostUoms"
                  >
                    <option [value]="item.description">
                      {{ item?.description }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="inp">
            <div class="attribute one">
              <label for="">Vessel Name</label>
              <div class="attribute-input">
                <input
                  disabled
                  formControlName="vesselName"
                  type="text"
                  placeholder="Enter your value"
                />
              </div>
            </div>
          </div>
          <div class="inp">
            <div class="attribute one mb-2">
              <label for="">Vessel #</label>
              <div class="attribute-input">
                <input
                  disabled
                  formControlName="vesselNumber"
                  type="text"
                  placeholder="Enter your value"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel
    class="panel-no-padding mt-4"
    expanded="true"
    #expansionPanel3
  >
    <mat-expansion-panel-header (click)="expandPanel(expansionPanel3, $event)">
      <mat-panel-description>
        <div class=" w-100 title-text">Final Contact Details</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="process-table table-padding">
        <!-- Material Cost -->
        <table>
          <thead>
            <tr>
              <th style="padding-left: 20px">SR#</th>
              <th>SERVICE</th>
              <th>SERVICE PROVIDER</th>
              <th>PHONE NUMBER</th>
              <th>EMAIL</th>
              <!-- <th>AMOUNT PAYABLE ({{isExport ? getUomByName('exportCost') : getUomByName('importCost')  }}) </th>
              <th>PAYMENT STATUS</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="getFilteredFinalContactDetail()?.length == 0">
              <td style="padding-left: 20px"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <!-- <td></td>
              <td></td> -->
              <td>
                <dadyin-button
                  (clicked)="addInFinalContact()"
                  [theme]="'borderless-primary'"
                  type="icon"
                  [typeval]="'add_circle_outline'"
                ></dadyin-button>
              </td>
            </tr>
            <ng-container
              *ngFor="let item of finalContactDetails.controls; let i = index"
              [formGroup]="item"
            >
              <tr
                *ngIf="
                  item.get('addedByBusinessAccountId').value ==
                  this.currentBusinessAccount?.id
                "
              >
                <td style="padding-left: 21px">
                  {{
                    getFilteredFinalContactDetail()?.length -
                      (finalContactDetails.controls?.length - i) +
                      1
                  }}.
                </td>
                <td>
                  <select
                    (change)="item.get('amountPayableTo')?.reset()"
                    formControlName="containerExpenseTypeId"
                  >
                    <option value="null" disabled selected>
                      Select Expense Type
                    </option>
                    <ng-container
                      *ngFor="
                        let type of filterExpenseTypes(
                          containerService.expenseTypes,
                          i
                        )
                      "
                    >
                      <option [value]="type.id">{{ type.description }}</option>
                    </ng-container>
                  </select>
                </td>
                <td>
                  <input
                    type="text"
                    [readonly]="!item.get('containerExpenseTypeId').value"
                    formControlName="amountPayableTo"
                    (change)="
                      onSelectServiceProvider($event.target.value, item)
                    "
                    [matAutocomplete]="auto"
                    class="example-input"
                  />
                  <mat-autocomplete
                    autoActiveFirstOption
                    #auto="matAutocomplete"
                  >
                    <mat-option
                      (click)="
                        onSelectServiceProvider(type.amountPayableTo, item)
                      "
                      *ngFor="
                        let type of filterLabourList(
                          containerService.labourList,
                          item.get('containerExpenseTypeId').value
                        )
                      "
                      [value]="type.amountPayableTo"
                    >
                      {{ type.amountPayableTo }}
                    </mat-option>
                  </mat-autocomplete>
                </td>
                <td>
                  <input type="text" formControlName="phone" />
                </td>
                <td>
                  <input type="text" formControlName="emailId" />
                </td>
                <!-- <td [formGroup]="item.get('cost')">
                  <input type="text" (change)="calculate.emit()" formControlName="attributeValue" />
                </td>
                <td>
                  <select (change)="calculate.emit()" formControlName="status">
                    <option value="PAID">Paid</option>
                    <option value="UNPAID">Unpaid</option>
                  </select>
                </td> -->
                <td>
                  <dadyin-button
                    (clicked)="removeInFinalContact(i)"
                    [theme]="'borderless-danger'"
                    type="icon"
                    [typeval]="'delete_outline'"
                  >
                  </dadyin-button>
                  <dadyin-button
                    (clicked)="share(item)"
                    *ngIf="
                      (isExport &&
                        item.get('forImporter').value == false &&
                        item.get('isShareable').value == true) ||
                      (!isExport &&
                        item.get('forExporter').value == false &&
                        item.get('isShareable').value == true)
                    "
                    [theme]="'borderless-primary'"
                    type="icon"
                    [typeval]="'share'"
                  >
                  </dadyin-button>
                  <dadyin-button
                    *ngIf="finalContactDetails.controls?.length == i + 1"
                    (clicked)="addInFinalContact()"
                    [theme]="'borderless-primary'"
                    type="icon"
                    [typeval]="'add_circle_outline'"
                  >
                  </dadyin-button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-template>
  </mat-expansion-panel>
</form>
