.close-dialog {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.dialog-container {
  position: relative;
  min-width: 400px;
  padding: 20px;

  .dialog-card-header {
    margin-top: 4%;
    width: 100%;
    height: fit-content;
    background: #a2c6e9;
    border-radius: 2px;
    text-align: center;
    h3 {
      color: var(--primary-color);
      font-weight: 500;
      margin: 0;
    }
  }

  .card-body {
    text-align: center;
    padding: 0;
    margin-top: 2px;

    .header-options {
      background: #f1f5f9;
      border: 1px solid #d5e7fa;
      border-radius: 2px;
      display: grid;
      justify-content: center;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 5px;

      label {
        margin: 0 10px;
        color: #03256c;
        font-weight: 500;
        min-width: 100px;
      }

      .options {
        display: flex;
        align-items: center;

        .btns {
          display: flex;
          align-items: center;
          border: 1px solid #d5e7fa;
          button {
            font-size: 1rem;
            padding: 5px 20px;
            border: none;
            background: #fff;
            border-radius: 2px;
          }
          button.active {
            background: #03256c;
            color: #fff;
          }
        }
      }
      .uom {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        select {
          width: 100%;
          padding: 5px 10px;
          border: 1px solid #d5e7fa;
          border-radius: 2px;
        }
      }
    }

    .fields {
      border: 1px solid #d5e7fa;
      padding: 10px;
      border-radius: 2px;
      margin: 10% 0;

      label {
        width: 100%;
        text-align: left;
        font-size: 1rem;
        font-weight: 400;
        color: #03256c;
        margin-bottom: 20px;
      }

      input.selected-value {
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #d5e7fa;
        border-radius: 2px;
        margin-bottom: 20px;
      }

      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          width: 100%;
          margin-bottom: 5px;

          .option {
            display: grid;
            grid-template-columns: 40% 60%;
            align-items: center;

            input {
              width: 100%;
              padding: 6px 10px;
              border: 1px solid #d5e7fa;
              border-radius: 2px;
            }

            .group {
              margin-left: 5px;
              border: 1px solid #d5e7fa;
              border-radius: 2px;
              display: grid;
              grid-template-columns: 60% 40%;
              align-items: center;
              select,
              input {
                width: 100%;
                padding: 5px 10px;
                border: none;
              }

              select {
                background: #f1f5f9;
                padding: 8px 10px;
              }
            }
          }
        }
      }
    }

    .dialog-buttons {
      button {
        font-size: 1rem;
        padding: 5px 20px;
      }
      button.secondry {
        background: #f1f5f9;
        border: 1px solid #03256c;
        border-radius: 2px;
        margin-right: 10px;
      }
      button.primary {
        border-color: #03256c;
        background: #03256c;
        color: #fff;
        border-radius: 2px;
      }
    }
  }
}
