<ng-container *ngIf="isShowTextBox; else showSelect">
  <input
    type="text"
    [placeholder]="placeholder"
    name="processName"
    [(ngModel)]="processName"
    [ngModelOptions]="{ standalone: true }"
    (input)="getProcessName($event, true)"
    [disabled]="disabled"
  />
</ng-container>

<ng-template #showSelect>
  <select
    name="processName"
    [(ngModel)]="processID"
    [ngModelOptions]="{ standalone: true }"
    (change)="getProcessName($event, false)"
  >
    <ng-container *ngFor="let p of this.processCategories">
      <option [value]="p.id">{{ p.description }}</option>
    </ng-container>
  </select>
</ng-template>
