<section [formGroup]="productForm">
  <div class="wizard-bar-container">
    <div class="wizard-heading">
      <dadyin-button (clicked)="goBack()" class="header-icon" [theme]="'borderless-default'" type="icon"
        [typeval]="'arrow_circle_left'">
      </dadyin-button>
      <div class="content-title">
        <label style="white-space: pre-wrap; word-break: break-word; overflow-wrap: break-word; display: block;">{{
          productForm.get("productMeta").get("description").value
          ? productForm.get("productMeta").get("description").value
          : "(Enter Product Description)"
          }}</label>
      </div>

      <div class="status " [ngClass]="{
           'status-sent': productForm?.value?.status == 'SENT',
           'status-draft': productForm?.value?.status == 'DRAFT',
           'status-confirmed': productForm?.value?.status == 'CONFIRMED',
            'status-rejected': productForm?.value?.status == 'REJECTED'
         }"> {{ productForm?.value?.status }}
      </div>
      <div>
        <span class="font-size-14 over-text border-l-light">{{
          productForm.get("productMeta").get("productCode").value ??
          "(Enter Product Code)"
          }}</span>
      </div>
    </div>

    <div class="d-flex justify-content-end align-items-center">


      <ng-container *ngIf="productForm?.value?.status == 'DELETED'">
        <dadyin-button (clicked)="confirmActivate()" *ngIf="editMode" label="Activate" [theme]="'primary'">
        </dadyin-button>
      </ng-container>

      <!--   <ng-container *ngIf="productForm?.value?.status != 'DELETED'">
        <dadyin-button
          (clicked)="confirmDelete()"
          *ngIf="editMode"
          [theme]="'borderless-danger'"
          type="icon"
          [typeval]="'delete_outline'"
        >
        </dadyin-button>
        <dadyin-button
          *ngIf="!this.route.snapshot.queryParams['receivedPOId']"
          [theme]="'secondary'"
          [label]="
            productForm.get('status')?.value != 'PUBLISHED'
              ? 'Publish'
              : 'Publish Changes'
          "
          (clicked)="onClickSave(false)"
        >
        </dadyin-button>
        <dadyin-button
          *ngIf="this.route.snapshot.queryParams['receivedPOId']"
          [theme]="'secondary'"
          [label]="'Clone'"
          (clicked)="onClickSave(false)"
        >
        </dadyin-button>
        <dadyin-button
          *ngIf="productForm.get('status')?.value != 'PUBLISHED'"
          class="ms-0"
          [theme]="'primary'"
          label="Save Draft"
          (clicked)="onClickSave(true)"
        >
        </dadyin-button>
      </ng-container> -->

      <ng-container *ngIf="productForm?.value?.status != 'DELETED'">
        <dadyin-button matTooltip="Share" type="image" [theme]="'borderless-danger'"
          [typeval]="'assets/nicons/share.png'"></dadyin-button>
        <dadyin-button matTooltip="Clone" *ngIf="this.route.snapshot.queryParams['receivedPOId']"
          [theme]="'borderless-danger'" (clicked)="onClickSave(false)" type="image"
          [typeval]="'assets/nicons/copy.png'">
        </dadyin-button>
        <dadyin-button matTooltip="Delete" (clicked)="confirmDelete()" *ngIf="editMode" [theme]="'borderless-danger'"
          type="image" [typeval]="'assets/nicons/delete.png'">
        </dadyin-button>
        <dadyin-button matTooltip="Save as Draft" (clicked)="onClickSave(true)" [theme]="'borderless-default'"
          type="image" [typeval]="'assets/nicons/save.png'">
        </dadyin-button>
        <dadyin-button *ngIf="!this.route.snapshot.queryParams['receivedPOId']" matTooltip="Publish Changes"
          (clicked)="onClickSave(false)" [theme]="'borderless-default'" type="image"
          [typeval]="'assets/nicons/place.png'">
        </dadyin-button>
      </ng-container>

    </div>
  </div>

  <div cdkDrag class="uom-config-section" matTooltip=" {{
      isGlobalUomDisabled()
        ? 'Uom settings can only be changed before you select the product type'
        : ''
    }}">
    <button [disabled]="isGlobalUomDisabled()" (click)="$event.stopPropagation(); uomSetting = !uomSetting"
      class="btn bg-primary-light title-text">
      UOM Setting
    </button>
    <div (click)="$event.stopPropagation()" class="card uom-card" *ngIf="uomSetting">
      <div class="prefer-uom-grid align-items-center" *ngIf="componentUoms.controls?.length > 0">
        <div [formGroup]="item" *ngFor="let item of componentUoms.controls; let i = index"
          class="my-2 attribute one b-none w-100">
          <div class="attribute-input justify-content-around w-100 title-text">
            <div class="text-uppercase">
              {{ item.get("attributeName").value }}
            </div>
            <select (change)="setDefaultUom()" formControlName="userConversionUom">
              <ng-container *ngFor="
                  let uom of uomService.getUoms(
                    item.get('attributeTypeId').value
                  )
                ">
                <option [disabled]="isGlobalUomDisabled()" [value]="uom.description">
                  {{ uom?.description }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-tab-group class="mat-steps" [(selectedIndex)]="currentStepIndex">
    <mat-tab label="Product Details">
      <div class="d-flex align-items-center my-2 tab-top b-bottom-light">
        <div class="title-text">Define the product you are adding</div>
        <div class="d-flex">
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 5)" type="checkbox" formControlName="isProductAttributes"
              id="productattributes" />
            <label for="productattributes">Product Attributes</label>
          </div>
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 6)" type="checkbox" formControlName="isPackageAttributes"
              id="packageattributes" />
            <label for="packageattributes">Package Attributes</label>
          </div>
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 1)" type="checkbox" formControlName="isInventoryListed"
              id="inventory" />
            <label for="inventory">Inventory</label>
          </div>
          <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event, 2)" formControlName="isImportExportable"
              id="import" />
            <label for="import">Import/Export</label>
          </div>
          <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event, 3)" formControlName="isAdvanceProduct"
              id="advance" />
            <label for="advance">Advance Product</label>
          </div>
          <!-- <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event,4)" formControlName="isCustomizable"
              id="Customizable" />
            <label for="Customizable">Customizable</label>
          </div> -->
        </div>
      </div>
      <app-add-product (loadedDetail)="loadedProductTemplateDetail()" [currentBusinessAccount]="currentBusinessAccount"
        [loadingProductTemplateDetail]="loadingProductTemplateDetail" [createdBy]="createdBy"
        (calculate)="calculateValues($event)" *ngIf="currentStepIndex == 0 && loaded" [componentUoms]="componentUoms"
        [disableForThirdPartyProduct]="disableForThirdPartyProduct" [isThirdPartyProductMeta]="isThirdPartyProductMeta"
        [productForm]="productForm"></app-add-product>
    </mat-tab>
    <mat-tab label="Package Details">
      <div class="bg-card-header b-round d-flex align-items-center b-light my-2 tab-top">
        <div class="title-text">Define the product you are adding</div>
        <div class="d-flex">
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 5)" type="checkbox" formControlName="isProductAttributes"
              id="productattributes" />
            <label for="productattributes">Product Attributes</label>
          </div>
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 6)" type="checkbox" formControlName="isPackageAttributes"
              id="packageattributes" />
            <label for="packageattributes">Package Attributes</label>
          </div>
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 1)" type="checkbox" formControlName="isInventoryListed"
              id="inventory" />
            <label for="inventory">Inventory</label>
          </div>
          <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event, 2)" formControlName="isImportExportable"
              id="import" />
            <label for="import">Import/Export</label>
          </div>
          <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event, 3)" formControlName="isAdvanceProduct"
              id="advance" />
            <label for="advance">Advance Product</label>
          </div>
          <!-- <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event,4)" formControlName="isCustomizable"
              id="Customizable" />
            <label for="Customizable">Customizable</label>
          </div> -->
        </div>
      </div>
      <app-add-package [isThirdPartyProductMeta]="isThirdPartyProductMeta" (calculate)="calculateValues($event)"
        *ngIf="currentStepIndex == 1" [disableForThirdPartyProduct]="disableForThirdPartyProduct"
        [componentUoms]="componentUoms" [productForm]="productForm"></app-add-package>
    </mat-tab>
    <mat-tab label="Template Details">
      <div class="bg-card-header b-round d-flex align-items-center b-light my-2 tab-top">
        <div class="title-text">Define the product you are adding</div>
        <div class="d-flex">
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 5)" type="checkbox" formControlName="isProductAttributes"
              id="productattributes" />
            <label for="productattributes">Product Attributes</label>
          </div>
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 6)" type="checkbox" formControlName="isPackageAttributes"
              id="packageattributes" />
            <label for="packageattributes">Package Attributes</label>
          </div>
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 1)" type="checkbox" formControlName="isInventoryListed"
              id="inventory" />
            <label for="inventory">Inventory</label>
          </div>
          <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event, 2)" formControlName="isImportExportable"
              id="import" />
            <label for="import">Import/Export</label>
          </div>
          <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event, 3)" formControlName="isAdvanceProduct"
              id="advance" />
            <label for="advance">Advance Product</label>
          </div>
          <!-- <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event,4)" formControlName="isCustomizable"
              id="Customizable" />
            <label for="Customizable">Customizable</label>
          </div> -->
        </div>
      </div>
      <app-template-view (calculate)="calculateValues($event)" *ngIf="currentStepIndex == 2"
        [componentUoms]="componentUoms" [disableForThirdPartyProduct]="disableForThirdPartyProduct"
        [currentStepIndex]="currentStepIndex" [productForm]="productForm">
      </app-template-view>
    </mat-tab>
    <mat-tab label="Pricing Details">
      <div class="bg-card-header b-round d-flex align-items-center b-light my-2 tab-top">
        <div class="title-text">Define the product you are adding</div>
        <div class="d-flex">
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 5)" type="checkbox" formControlName="isProductAttributes"
              id="productattributes" />
            <label for="productattributes">Product Attributes</label>
          </div>
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 6)" type="checkbox" formControlName="isPackageAttributes"
              id="packageattributes" />
            <label for="packageattributes">Package Attributes</label>
          </div>
          <div class="radio-selection">
            <input (change)="setCheckboxValue($event, 1)" type="checkbox" formControlName="isInventoryListed"
              id="inventory" />
            <label for="inventory">Inventory</label>
          </div>
          <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event, 2)" formControlName="isImportExportable"
              id="import" />
            <label for="import">Import/Export</label>
          </div>
          <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event, 3)" formControlName="isAdvanceProduct"
              id="advance" />
            <label for="advance">Advance Product</label>
          </div>
          <!-- <div class="radio-selection">
            <input type="checkbox" (change)="setCheckboxValue($event,4)" formControlName="isCustomizable"
              id="Customizable" />
            <label for="Customizable">Customizable</label>
          </div> -->
        </div>
      </div>
      <app-related-po (calculate)="calculateValues($event)" *ngIf="currentStepIndex == 3"
        [disableForThirdPartyProduct]="disableForThirdPartyProduct" [componentUoms]="componentUoms"
        [productForm]="productForm"></app-related-po>
    </mat-tab>
    <mat-tab label="Other Details">
      <app-other-details [disableForThirdPartyProduct]="disableForThirdPartyProduct"
        (calculate)="calculateValues($event)" *ngIf="currentStepIndex == 4" [componentUoms]="componentUoms"
        [productForm]="productForm">
      </app-other-details>
    </mat-tab>
  </mat-tab-group>

  <div class="cost-table mb-5 py-4">
    <div class="toolbar padding-bar b-round justify-content-space-around d-flex my-1" style="height: 40px">
      <div class="d-flex align-items-center title-text">
        <span> Pricing Details </span>
        <div class="d-flex align-items-center mx-2">
          <div class=" mx-3 d-flex align-items-center">
            <span>Considered Cost/SKU : </span>
            <div *ngIf="consideredCostControl" class="px-1 mx-1">
              <input (change)="onConsiderCostChanges($event)" class="bg-white width-70 h-30"
                [formControl]="consideredCostControl.get('attributeValue')" />
              {{ consideredCostControl.get("userConversionUom").value }}
            </div>
          </div>
          <div class=" mx-3 d-flex align-items-center">
            <span>Raw Material Costings : </span>
            <div class="px-1 mx-1  position-relative">
              <input (change)="onConsiderCostChanges($event)" class="bg-white  h-30"
                [formControl]="consideredCostControl.get('attributeValue')" />
              <div style="position: absolute; right: 5px;top: 2px;">
                <img class="cursor-pointer" src="assets/nicons/ai.png" alt="AI" />
              </div>
            </div>
          </div>
          <div class="d-flex flex-direction flex-column mx-3">
            <span class="bg-light-text">Template Cost </span>
            <span class="price-text">
              {{
              productForm.get("templateCost").get("attributeValue").value
              | numberFormatter : 3
              }}
              {{
              productForm.get("templateCost").get("userConversionUom").value
              }}</span>
          </div>
          <div class="d-flex flex-column mx-3">
            <span class="bg-light-text">Template Density</span>
            <span>
              {{
              productForm.get("templateDensity").get("attributeValue").value
              | numberFormatter : 3
              }}
              {{
              productForm.get("templateDensity").get("userConversionUom")
              .value
              }}
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <dadyin-button *ngIf="this.isRawMaterial.value" theme="borderless-primary" type="icon"
          (clicked)="refreshRawMaterialPricing()" typeval="price_check" matTooltip="Refresh Raw Material Pricing">
        </dadyin-button>
        <dadyin-button class="px-1" (clicked)="openQuickPricingModal()" label="Price Calculations" theme="borderless-white">
        </dadyin-button>
        <dadyin-button type="image" [widthImage]="'20px'" [heightImage]="'20px'" class="px-1" typeval="assets/nicons/chart.png" theme="borderless-white"
          label="Sales & Purchase Stats">
        </dadyin-button>
      </div>
    </div>
    <div>
      <table>
        <ng-container>
          <tr class="bg-light">
            <th></th>
            <th container="body" placement="top">
              AUTO/SKU <br />
              ({{ getSummaryUnitUom("totalCost", costType.value, "skuCost") }})
            </th>
            <th container="body" placement="top" [ngbTooltip]="considersku">
              CONSIDERED/SKU<br />
              ({{
              getSummaryUnitUom(
              "totalCost",
              costType.value,
              "considerSkuCost"
              )
              }})
              <ng-template #considersku>
                <section>
                  <p>
                    Total Cost:
                    {{
                    getHoverSummaryValue("considerSkuTotalCost")
                    | numberFormatter : 3
                    }}
                    {{ getHoverSummaryUom("considerSkuTotalCost") }}
                  </p>
                  <p>
                    Total Price:
                    {{
                    getHoverSummaryValue("considerSkuTotalPrice")
                    | numberFormatter : 3
                    }}
                    {{ getHoverSummaryUom("considerSkuTotalPrice") }}
                  </p>
                  <p>Total Sku: 1</p>
                </section>
              </ng-template>
            </th>
            <th container="body" placement="top" [ngbTooltip]="perunit">
              PER {{ productForm.get("unitName").value }}<br />
              ({{ getSummaryUnitUom("totalCost", costType.value, "unitCost") }})

              <ng-template #perunit>
                <section>
                  <p>
                    Total Cost:
                    {{
                    getHoverSummaryValue("unitTotalCost")
                    | numberFormatter : 3
                    }}
                    {{ getHoverSummaryUom("unitTotalCost") }}
                  </p>
                  <p>
                    Total Price:
                    {{
                    getHoverSummaryValue("unitTotalPrice")
                    | numberFormatter : 3
                    }}
                    {{ getHoverSummaryUom("unitTotalPrice") }}
                  </p>
                  <p>Total Sku: 1</p>
                </section>
              </ng-template>
            </th>
            <th container="body" placement="top" [ngbTooltip]="perpallet">
              PER PALLET<br />
              ({{
              getSummaryUnitUom("totalCost", costType.value, "palletCost")
              }})

              <ng-template #perpallet>
                <section>
                  <p>
                    Total Cost:
                    {{
                    getHoverSummaryValue("palletTotalCost")
                    | numberFormatter : 3
                    }}
                    {{ getHoverSummaryUom("palletTotalCost") }}
                  </p>
                  <p>
                    Total Price:
                    {{
                    getHoverSummaryValue("palletTotalPrice")
                    | numberFormatter : 3
                    }}
                    {{ getHoverSummaryUom("palletTotalPrice") }}
                  </p>
                  <p>
                    Total Sku: {{ skusInPallet.value | numberFormatter : 3 }}
                  </p>
                </section>
              </ng-template>
            </th>
            <th container="body" placement="top" [ngbTooltip]="percontainer">
              PER CONTAINER<br />
              ({{
              getSummaryUnitUom("totalCost", costType.value, "containerCost")
              }})
              <ng-template #percontainer>
                <section>
                  <p>
                    Total Cost:
                    {{
                    getHoverSummaryValue("containerTotalCost")
                    | numberFormatter : 3
                    }}
                    {{ getHoverSummaryUom("containerTotalCost") }}
                  </p>
                  <p>
                    Total Price:
                    {{
                    getHoverSummaryValue("containerTotalPrice")
                    | numberFormatter : 3
                    }}
                    {{ getHoverSummaryUom("containerTotalPrice") }}
                  </p>
                  <p>
                    Total Sku: {{ skusInContainer.value | numberFormatter : 3 }}
                  </p>
                </section>
              </ng-template>
            </th>
            <th>
              BY WEIGHT<br />
              ({{
              getSummaryUnitUom("totalCost", costType.value, "metricCost")
              }})
            </th>
            <th>
              BY VOLUME<br />
              ({{
              getSummaryUnitUom(
              "totalCost",
              costType.value,
              "volumeMetricCost"
              )
              }})
            </th>
            <th>
              BY SURFACE AREA<br />
              ({{
              getSummaryUnitUom(
              "totalCost",
              costType.value,
              "surfaceAreaMetricCost"
              )
              }})
            </th>
          </tr>
          <tr>
            <td class="bg-white">
              <div class="align-items-center tab">
                <span class="title-text"> SKU Cost </span>
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit("totalCost", costType.value, "skuCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit("totalCost", costType.value, "considerSkuCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit("totalCost", costType.value, "unitCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit("totalCost", costType.value, "palletCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <!-- <td >
            <div> {{getSummaryUnit('totalCost',costType.value,'truckCost') | numberFormatter:3}} </div>

          </td> -->
            <td>
              <div>
                {{
                getSummaryUnit("totalCost", costType.value, "containerCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit("totalCost", costType.value, "metricCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit(
                "totalCost",
                costType.value,
                "volumeMetricCost"
                ) | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit(
                "totalCost",
                costType.value,
                "surfaceAreaMetricCost"
                ) | numberFormatter : 3
                }}
              </div>
            </td>
          </tr>
          <tr>
            <td class="bg-white">
              <div class="align-items-center tab">
                <span class="title-text"> SKU Price </span>
                <!-- <div
                class="attribute one bg-white w-100"
                style="height: 25px !important"
              >
                <div class="attribute-select w-100">
                  <select
                    [formControl]="costType"
                    style="height: 25px !important"
                  >
                    <option [value]="'UNIT'">RETAIL (SMALL) BUYER</option>
                    <option [value]="'SKU'">RETAIL (BIG) BUYER</option>
                    <option [value]="'PALLET'">PALLET BUYER</option>
                    <option [value]="'CONTAINER'">CONTAINER BUYER</option>
                  </select>
                </div>
              </div> -->
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit("sellingPrice", costType.value, "skuCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit(
                "sellingPrice",
                costType.value,
                "considerSkuCost"
                ) | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit("sellingPrice", costType.value, "unitCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit("sellingPrice", costType.value, "palletCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit(
                "sellingPrice",
                costType.value,
                "containerCost"
                ) | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit("sellingPrice", costType.value, "metricCost")
                | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit(
                "sellingPrice",
                costType.value,
                "volumeMetricCost"
                ) | numberFormatter : 3
                }}
              </div>
            </td>
            <td>
              <div>
                {{
                getSummaryUnit(
                "sellingPrice",
                costType.value,
                "surfaceAreaMetricCost"
                ) | numberFormatter : 3
                }}
              </div>
            </td>
          </tr>
          <tr *ngIf="productForm.get('isQuickCheckoutEligible').value">
            <td class="bg-light">
              <div class="align-items-center tab">
                <span class="title-text"> <strong>QC Price</strong> </span>
              </div>
            </td>
            <ng-container *ngFor="let item of tierPricingQuickCheckout.value">
              <td *ngIf="item?.skuType != 'TRUCK'" class="bg-light">
                <div>
                  <ng-container *ngIf="item?.minimumQuantity">
                    <b>
                      {{ item?.minimumQuantity }}-{{ item?.maximumQuantity }}
                    </b> </ng-container><b> {{ item?.skuType }} </b> :
                  {{ item.tierCost.attributeValue | numberFormatter : 3 }} ({{
                  item.tierCost.userConversionUom
                  }})
                </div>
              </td>
            </ng-container>

            <td class="bg-light">
              <div></div>
            </td>
            <td class="bg-light">
              <div></div>
            </td>
            <td class="bg-light">
              <div></div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</section>

<!--   Product summary -->