.panel-header {
  grid-template-columns: 10% 65% 25%;

  .process-input-output {
    grid-template-columns: 30% 70%;
  }

  .process-calculation {
    grid-template-columns: 21% 28%;
    justify-content: flex-end !important;

}

}


.process-tab-header {
  height: 40px !important;
  display: grid;
  grid-template-columns: 35% 35% 30%;
  background:white
}


.grid-panel {
  grid-template-columns: 20% 68% 12%;
  display:grid;
}
// section.material-cost-calculation .header,
// section.conversion-cost-calculation .header,
// .raw-material .header {
//   display: table !important;
// }

section.material-cost-calculation .header .optional-values .units .unit-value,
section.conversion-cost-calculation .header .optional-values .units .unit-value,
.raw-material .header .optional-values .units .unit-value {
  margin-left:10px !important;
}