<div class="dialog-container">
 <i class="material-icon" mat-dialog-close>close</i>

  <div class="card-body">
    <h2 class="title">Save Attribute Group</h2>
    <p>
      You can Save this as a New Attribute group or change the existing
      Attribute group
    </p>

    <input type="text" placeholder="Search/Name the Attribute group" />

    <div class="dialog-buttons">
      <button class="secondry">Add to Existing</button>
      <button class="primary">Save as New</button>
    </div>
  </div>
</div>
