<div class="dialog-container">
  <i class="material-icon" mat-dialog-close>close</i>

  <div class="dialog-card-header">
    <h3>Create Dropdown Field</h3>
  </div>

  <div class="card-body">
    <div class="header-options">
      <div class="options">
        <label for="color">{{ data.attributeName.value }}</label>
        <select id="color" style="width: 100%">
          <option value="">
            {{ attributeValueExpression.value.length }} Dropdown{{
              attributeValueExpression.value.length > 1 ? "s" : ""
            }}
          </option>
        </select>
      </div>
      <div class="uom">
        <label for="">Select UOM</label>
        <select>
          <option
            [value]="uom.description"
            *ngFor="let uom of data.attributeType.availableUOMs"
          >
            {{ uom.description }}
          </option>
        </select>
      </div>
    </div>

    <div class="fields">
      <div style="display: flex; margin-bottom: 20px">
        <label for="" style="margin-bottom: 0 !important; font-size: 12px"
          >Dropdown Fields for</label
        >
        <div class="action-btns">
          <button (click)="addArray()">
            <img src="assets/img/icons/Add.svg" alt="" />
          </button>
        </div>
      </div>

      <input
        type="text"
        [formControl]="data.attributeName"
        class="selected-value"
      />

      <ul>
        <li
          *ngFor="
            let attribute of attributeValueExpression.controls;
            let i = index
          "
        >
          <div class="option">
            <div class="option" [formGroup]="attribute">
              <input
                type="text"
                formControlName="choice"
                placeholder="Option 1"
              />
              <div class="group">
                <input
                  type="text"
                  formControlName="attributeValue"
                  placeholder="Formula"
                />
                <select formControlName="userConversionUom">
                  <option value="">Select Uom</option>
                  <option value="cm">CM</option>
                </select>
              </div>
            </div>
            <div class="action-btns">
              <dadyin-button
                (clicked)="removeArray(i)"
                [theme]="'borderless-danger'"
                type="icon"
                [typeval]="'delete_outline'"
              >
              </dadyin-button>
            </div>
          </div>
        </li>
        <!-- <li>
          <div class="option">
            <input type="text" placeholder="Option 2" />
            <div class="group">
              <input type="text" placeholder="Formula" />
              <select name="" id="">
                <option value=""></option>
              </select>
            </div>
            <div class="action-btns">
              <button>
                <img src="assets/img/icons/Delete.svg" alt="" />
              </button>
              <button>
                <img src="assets/img/icons/Add.svg" alt="" />
              </button>
            </div>
          </div>
        </li> -->
      </ul>
    </div>

    <div class="dialog-buttons">
      <button class="secondry" (click)="onCancel()" mat-dialog-close>
        Cancel
      </button>
      <button class="primary" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>
