<button
  [matTooltip]="tooltip"
  (click)="onClick()"
  [style.fontSize]="fontSize"
  [style.height]="height"
  [style.width]="width"
  class="btn-{{ theme }} {{ class }} {{ size }}"
  *ngIf="type === 'normal'"
  [disabled]="isDisabled"
>
  {{ label }}
</button>

<button
  [matTooltip]="tooltip"
  (click)="onClick()"
  [style.fontSize]="fontSize"
  [style.height]="height"
  [style.width]="width"
  class="btn-{{ theme }} {{ class }} {{ size }} btn-icon "
  *ngIf="type === 'icon'"
  [disabled]="isDisabled"
>
  <mat-icon [disabled]="isDisabled ? 'disabled' : ''">{{ typeval }}</mat-icon>
</button>

<button
  [matTooltip]="tooltip"
  (click)="onClick()"
  [style.fontSize]="fontSize"
  [style.height]="height"
  [style.width]="width"
  class="btn-{{ theme }} {{ class }} {{ size }} btn-image "
  *ngIf="type === 'image'"
  [disabled]="isDisabled"
>
  <img [style.height]="heightImage"
  [style.width]="widthImage" src="{{ typeval }}" />{{ label }}
</button>
