<mat-tab-group class="mat-steps" [selectedIndex]="currentMainIndex" (selectedIndexChange)="changeMainTab($event)">
  <mat-tab *ngFor="let link of mainTab">
    <ng-template mat-tab-label>
      <span [matBadge]="link.badge" [matBadgeHidden]="link.badge === 0" [matBadgeOverlap]=false>{{link.title}}</span>
    </ng-template>
    <ng-template matTabContent>
      <ng-container *ngIf="currentMainIndex == 0">

        <ng-container>
          <div class="header-wrapper mt-2">
            <div class="row">
              <div class="col-6">
                <div class="filters">
                  <!-- <button><img src="assets/img/icons/Filter.svg" alt="" /></button> -->
                  <search-filter (inputChange)="onInput($event)" [placeholder]="'Search based on name & code'">
                  </search-filter>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-end align-items-center align-items-center">
                <div cdkDrag class="uom-config-section" >
                  <button  (click)="$event.stopPropagation();uomSetting=!uomSetting" class="btn bg-primary-light title-text"> UOM Setting </button>
                    <div  (click)="$event.stopPropagation();"  class="card uom-card" *ngIf="uomSetting">
                    <div class="prefer-uom-grid align-items-center" *ngIf="componentUoms.controls?.length>0">
                      <div [formGroup]="item" *ngFor="let item of componentUoms.controls;let i=index" class="my-2 attribute one b-none w-100">
                        <div class="attribute-input justify-content-around w-100 title-text">
                          <div class="text-uppercase">{{item.get('attributeName').value}}</div>
                          <select  (change)="loadProductTempList()" formControlName="userConversionUom">
                            <ng-container *ngFor="let uom of uomService.getUoms(item.get('attributeTypeId').value)">
                              <option  [value]="uom.description">{{uom?.description}}</option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="action-btns">
                <dadyin-button [theme]="'primary'" [class]="'px-3'"
                label="Create Template" (click)="addProductTemplate()">
                </dadyin-button>
              </div>
            </div>
          </div>
          </div>
          <div class="content-wrapper mt-2">
            <data-table [data]="productTemplateList" [headers]="headers" [pageConfig]="pageConfig"
              (editData)="editRecord($event)" (sortChange)="sort($event)" (pageChange)="pageChange($event)"
              [userShow]="true" [actions]="tabelActions" (actionClick)="onActionClick($event)">
            </data-table>
          </div>
        </ng-container>

      </ng-container>
      <ng-container *ngIf="currentMainIndex == 1">

      </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>
