.close-dialog {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.dialog-container {
  position: relative;
  min-width: 300px;
  padding: 20px;

  .dialog-card-header {
    margin-top: 2%;
    width: 100%;
    height: fit-content;
    background: #a2c6e9;
    border-radius: 2px;
    text-align: center;
    h3 {
      color: var(--primary-color);
      font-weight: 500;
      margin: 0;
    }
  }

  .card-body {
    text-align: center;
    padding: 0;
    margin-top: 2px;
  }
}


.process-table table th:nth-child(1) {
  width:unset !important;
}


.process-table table th:last-child {
  width:unset !important;
}