.datatable-container-editable {
   
    overflow: auto;
    max-width: 89vw !important;
    .mat-table {
        height: calc(100vh - 270px);
        overflow: auto;
        min-width: max-content !important;
    }

    .mat-header-cell {
        font-size: 12px !important;
        font-weight: 500;
        // color: var(--bs-body-color);
        color: var(--text-primary) !important;
        word-break: break-word;
        text-align: center;
        padding-right: 1rem;
        padding-left: 1rem;
        display: flex;
        align-items: baseline;
        min-width: max-content;
    }

    label {
        font-weight: 700;
        font-size: small;
    }

    mat-header-row {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 0 !important;
        z-index: 1 !important;
        background-color: var(--card-header-bg) !important;
    }

    mat-cell:last-of-type,
    mat-header-cell:last-of-type {
      
        max-width: 100px;
    }

    .usr {
        color: var(--card-header-color) !important;
    }

 

    .status {
        background: #F1F5F9;
        border: 1px solid #A2C6E9;
        border-radius: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        text-decoration: none;
        color: #0d6efd;
        width: 100%;
        margin-left: 3px;
    }



    .moreicons {
        padding: 0 5px;
    }

    .actionicons {
        margin-bottom: 3px;
        display:flex;
    }

    .profile-actions {
        background-color: white;
        color: var(--bs-body-color);
        border: 1px solid var(--card-header-bg);

        .action-itm {
            display: flex;
            text-align: left;
            padding: 4px 10px;

            ::ng-deep .mat-icon {
                text-align: left;
                float: left;
                margin: 0;
                margin-top: -8px;
            }
        }

        .action-itm:hover {
            background-color: var(--background-btn-default);
        }

        span {
            color: var(--bs-body-color);
            padding-left: 5px;
            font-size: small;
        }
    }
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden ;
    width: 100%;
    display: inline-block;
    white-space: nowrap;

}


.center-cell {
    width: 100% !important;
    text-align: right;
    font-weight: 700;
    justify-content: flex-end;
 }

 .plr-1 {
    padding-left:1rem;
    padding-right:1rem;
 }

.center-cell-header {
   width: 100% ;
   text-align: right;  
   min-width: max-content;
}

#link-in-table-cell {
    // color: black;
    text-decoration: none;
}

#link-in-table-cell:hover {
    text-decoration: underline;
}

.mat-row:hover {
    background-color: #d7e8f5;
}

.mat-cell {
    padding-left: 1rem;
    padding-right: 1rem;
}

.tooltip.show {
    background-color: white !important;
}
