.signin {
  border-radius: 24px;
  font-size: 14px;
}

.b-radius {
  border-radius: 24px;
}
.b-radius-10 {
  border-radius: 10px;
}

.upload-box {
  height: 80%;
  width: 100%;
  border:dashed 2px var(--card-header-bg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.text-dark {
  color: #4a4a4a !important;
}

h1 {
  font-size: 26px;
  font-weight: 800;
}

.product-card {
  height: 100%;
  img {
    height: 200px;
    object-fit: contain;
  }
}

.trending {
  margin-top: 6rem;
  .trending-text {
    font-size: 40px;
    font-family: "Berkshire Swash", serif !important;
  }
}

li {
  font-size: 14px;
}