<div class="dialog-container">
  <i class="material-icon" mat-dialog-close>close</i>

  <div class="dialog-card-header">
    <h3>Waste Calculations Option</h3>
  </div>

  <div class="b-light">
    <div class="toolbar title-text width-perc-100">
      Process Waste Calculation
    </div>

    <div class="process-table">
      <table>
        <thead>
          <tr>
            <th style="padding-left:20px;width:100px!important;">% WASTE</th>
            <th style="width:25px!important;"></th>
            <th style="width:100px!important;">MATERIAL COST </th>
            <th style="width:100px!important;">MATERIAL DENSITY</th>
            <th style="width:100px!important;" >PROCESS COST </th>
            <th style="width:100px!important;"> PROCESS DENSITY</th>
          </tr>
        </thead>
        <tbody>
          <tr [formGroup]="calculateOptionForm">
            <td style="padding-left:20px;">
              <input (change)="calculateWasteOptions(false)" formControlName="wastePercent" type="text">
            </td>
            <td></td>
            <td>
              <input disabled formControlName="cost" type="text">
            </td>
            <td>
              <input disabled formControlName="density"  type="text">
            </td>
             <td>
              <input disabled formControlName="processCost" type="text">
            </td>
            <td>
              <input disabled formControlName="processDensity"  type="text">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="b-light">
    <div class="toolbar title-text width-perc-100">
      Individual Waste Calculation
    </div>

    <div class="process-table">
      <table style="
      overflow-x: auto;
      white-space: nowrap;"
      [ngStyle]="{  display: processCalculatorOptions?.controls?.length>5 ? 'block' : ''}"
      >
        <thead>
          <tr>
            <th class="bg-white" style="padding-left:20px;"></th>
            <th class="bg-white"></th>
            <th class="bg-white"></th>
            <th class="bg-white"></th>
            <th class="bg-white"></th>
            <th (click)="selectOption(processCalculatorOption)" *ngFor="let processCalculatorOption of processCalculatorOptions?.controls;let i=index"
              [ngClass]="{'bg-card-header': !processCalculatorOption.get('isSelected').value , 'bg-primary-light':processCalculatorOption.get('isSelected').value }" class="text-center bg-card-header b-light" colspan="2">
              <span role="button" > {{processCalculatorOption.get('name').value}} </span>
              <dadyin-button (clicked)="removeProcessCalculatorOption(i)"   [theme]="'borderless-danger'"
                type="icon"
                [typeval]="'delete_outline'">
              </dadyin-button>
            </th>
            <th class="text-center bg-white">
              <!-- <dadyin-button (click)="openProcessWasteOptionModal()" [theme]="'borderless-primary'" type='icon'
                [typeval]="'add_circle_outline'">
              </dadyin-button> -->
            </th>
          </tr>
          <tr>
            <th  style="padding-left:20px;">PRODUCT NAME</th>
            <th>% USED</th>
            <th>% WASTE</th>
            <th>PRICE</th>
            <th>DENSITY</th>
            <ng-container *ngFor="let processCalculatorOption of processCalculatorOptions?.controls;let i=index">
              <th class="text-center b-light">COST ADD ON</th>
              <th class="text-center b-light">AVG DENSITY</th>
            </ng-container>
            <th class="text-center bg-white"></th>
          </tr>

        </thead>
        <tbody>
          <tr [formGroup]="processProductCalc" *ngFor="let processProductCalc of processProductCalculators?.controls;let j = index;">
            <td style="padding-left:20px;">
              <input  [value]="getProductLabel(j)" readonly   type="text">
            </td>
            <td>
              <input (change)="manageUsedPercent(j,$event)"  formControlName="usedPercent"  type="text">
            </td>
            <td>
              <input (change)="calculateWasteOptions(false)" formControlName="wastePercent"  type="text">
            </td>
            <td>
              <input  formControlName="cost" type="text">
            </td>
            <td>
              <input  formControlName="density" type="text">
            </td>
            <ng-container *ngFor="let processCalculatorOption of processProductCalc.get('productCalculatorOptions').value;let i=index">
              <td>
                <input disabled [value]="processCalculatorOption.cost" type="text">
              </td>
              <td>
                <input disabled [value]="processCalculatorOption.density" type="text">
              </td>
            </ng-container>
            <td></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
