<div class="signin-form">
  <div class="heading">Forgot Password ?</div>
  <div class="font-size-14 my-4 text-muted">
    No worries, we’ll send you reset link. Kindly check your Email ID.
  </div>
  <form name="form" class="form" [formGroup]="forgotGroup">
    <div class="row my-2">
      <dadyin-input
      labelBackground="#f8f9fa" 
        class="rounded"
        width="100%"
        height="50px"
        fontSize="14px"
        inputType="string"
        name="email"
        formControlName="email"
        label="Email ID"
        [isClearable]="false"
        placeholder="Email ID"
      >
      </dadyin-input>
    </div>
    <!-- <div class="text-end my-2">
      <p class="font-size-14">
        <span class="text-secondary"> Didn’t Received link ? </span>
        <a class="text-primary" (click)="sendResetPasswordLinktoEmail()"
          ><strong>Resend</strong></a
        >
      </p>
    </div> -->

    <div class="row mt-5">
      <div class="col-12">
        <dadyin-button
          (clicked)="sendResetPasswordLinktoEmail()"
          width="100%"
          height="50px"
          fontSize="14px"
          size="full"
          [theme]="'primary'"
          label="Get Reset Link"
        ></dadyin-button>
      </div>
    </div>
  </form>

  <br />
  <br />
  <br />
  <div class="text-center mt-5">
    <dadyin-button
      (clicked)="navigate('/signin')"
      width="100%"
      height="50px"
      fontSize="14px"
      label="Back to Sign in"
      [theme]="'secondary'"
    >
    </dadyin-button>
  </div>
</div>
