ul.types {
  list-style: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  li {
    cursor: pointer;
    border: 1px solid #deecfb;
    margin-right: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 4px 4px;
    font-size: 12px;
    min-width: fit-content;
    &:first-child {
      margin-left: 0;
    }
  }
  li.active {
    border-color: var(--theme-text-color);
  }
}

.data-not-found {
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100px;
  p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: gray;
  }
}
.prod-bg {
  background-color: #f0f0f0;
}

.mat-tab-body-content {
  overflow: hidden !important;
}
