<form [formGroup]="templateForm">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-description>
        <div class="w-100 title-text">Product Template Details</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row mt-4">
      <div class="col-8">
        <div class="row">
          <div class="col-6 mb-1">
            <div class="attribute one attr-b">
              <label for="">Template Code * </label>
              <div class="attribute-input">
                <input
                  [ngClass]="{'b-red': templateForm.get('templateCode').invalid && templateForm.get('templateCode').touched}"
                  tabindex="1" type="text" formControlName="templateCode" placeholder="Enter your value" />
              </div>
            </div>
          </div>
          <div class="col-6 mb-1">
            <div class="attribute one attr-b">
              <label for="">Template Name *</label>
              <div class="attribute-input">
                <input tabindex="2"
                  [ngClass]="{'b-red': templateForm.get('templateName').invalid && templateForm.get('templateName').touched}"
                  type="text" formControlName="templateName" placeholder="Enter your value" />
              </div>
            </div>
          </div>
          <div class="col-6 mb-1">
            <!-- <div class="attribute  one attr-b">
              <label for="">Select Industry Type *</label>
              <div class="attribute-select">
                <select tabindex="4"
                  [ngClass]="{'b-red': templateForm.get('industryTypeId').invalid && templateForm.get('industryTypeId').touched}"
                  (change)="getSelectedIndustryType()" formControlName="industryTypeId">
                  <option selected disabled value=""> Select Industry Type</option>
                  <option *ngFor="let type of this.apiService.allIndustryTypes" [value]="type.id">
                    {{ type.description }}
                  </option>
                </select>
              </div>
            </div> -->
            <dadyin-searchable-select label="Select Industry Type *" [control]="industryType"
              [fullItems]="apiService.allIndustryTypes"></dadyin-searchable-select>
          </div>
          <div class="col-6 mb-1">
            <dadyin-searchable-select label="Select Industry Sub Type *"    [control]="industrySubType"
              [fullItems]="industrySubTypes"></dadyin-searchable-select>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="attribute one attr-b">
          <label for="">Description *</label>
          <div class="attribute-input">
            <textarea tabindex="3"
              [ngClass]="{'b-red': templateForm.get('description').invalid && templateForm.get('description').touched}"
              type="text" formControlName="description" rows="4"></textarea>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <!-- Product Type and Sub Type -->
  <div class="d-flex my-2">
    <div class="col-4 pe-2">
      <div class="card">
        <div class="card-header">
          <div class="title-text">
            Product Type
            <!--  {{ "(" + (this.productTypes.value?.length ?? 0) + "/" + (this.productTypes.value?.length ?? 0) + ")" }} -->
          </div>
        </div>
        <div class="card-body ">
          <ul class="types">
            <ng-container *ngIf="!this.productTypes.value?.length; else noDataFound1">
              <div class="data-not-found">
                <p>Product Types Not Found!</p>
              </div>
            </ng-container>
            <ng-template #noDataFound1>
              <ng-container *ngFor="let type of this.productTypes.value; let i = index">
                <li *ngIf="getProductTypeObjectById(type)?.description"
                  [ngClass]="this.productTypes.value?.includes(type) ? 'active' : ''">
                  <span>{{ getProductTypeObjectById(type)?.description }}</span>
                </li>
              </ng-container>
            </ng-template>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <div class="title-text">
            Product SubType
            {{ "(" + (this.productSubTypes.value?.length ?? 0) + "/" + (this.productSubTypes.value?.length ?? 0) + ")"
            }}
          </div>
        </div>
        <div class="card-body">
          <ul class="types">
            <ng-container *ngIf="!this.productSubTypes.value?.length; else noDataFound2">
              <div class="data-not-found">
                <p>Product Sub Types Not Found!</p>
              </div>
            </ng-container>
            <ng-template #noDataFound2>
              <ng-container *ngFor="let type of this.productSubTypes?.value; let i = index">
                <li *ngIf="getProductSubTypeObjectById(type)?.description"
                  [ngClass]="this.productSubTypes.value?.includes(type) ? 'active' : ''">
                  <span>{{ getProductSubTypeObjectById(type)?.description }}</span>
                </li>
              </ng-container>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="card">
        <div class="card-header">
          <div class="title-text">
            Products Associated with this template
          </div>
        </div>
        <div class="card-body">
          <ul class="types">
            <ng-container *ngIf="!this.productSubTypes.value?.length; else noDataFound2">
              <div class="data-not-found">
                <p>Product Sub Types Not Found!</p>
              </div>
            </ng-container>
            <ng-template #noDataFound2>
              <ng-container *ngFor="let type of this.productSubTypes?.value; let i = index">
                <li *ngIf="getProductSubTypeObjectById(type)?.description"
                  [ngClass]="this.productSubTypes.value?.includes(type) ? 'active' : ''">
                  <span>{{ getProductSubTypeObjectById(type)?.description }}</span>
                </li>
              </ng-container>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>