<div class="app-container  ">
  <div class="tile-container" (click)="navigate('/home/product-management/product-type')">
    <div class="title-span">
      <img src="assets/img/icons/Shopping Cart.svg" />
      <br />
      <span>Product Type</span>
    </div>
  </div>
  <div class="tile-container" (click)="navigate('/home/product-management/product-template')">
    <div class="title-span">
      <img src="assets/img/icons/Shopping Cart.svg" />
      <br />
      <span>Product Templates</span>
    </div>
  </div>
  <div class="tile-container" (click)="navigate('/home/product-management/product')">
    <div class="title-span">
      <img src="assets/img/icons/Shopping Cart.svg" />
      <br />
      <span>Products</span>
    </div>
  </div>
  <div class="tile-container" (click)="navigate('/home/product-management/product-tags')">
    <div class="title-span">
      <img src="assets/img/icons/Shopping Cart.svg" />
      <br />
      <span>Product tags</span>
    </div>
  </div>
</div>