.active{
    background-color: var(--primary-color)!important;
    color:white !important;
}

.date-card{
    padding: 5px;
    height: 50px;
        font-size: 12px !important;
    width: 100%;
    background-color: var(--card-header-bg);
    color: var(--text-primary);
}

.prev{
    background-color: var(--card-header-bg);
    border: none;
    height: 50px;
}

.next{
    background-color: var(--card-header-bg);
    border: none;
    height: 50px;
}

.arrow{
    color: var(--text-primary);
    padding-top: 5px;
    position: relative;
    top: 3px;
}