.formula-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  // background: #a2c6e9;
  input {
    width: 100%;
    border: none;
    text-align: left;
    background: white;
    outline: none;
  }
  input:focus {
    outline: none;
    border: solid 1px lightblue;
  }
}

.toolbar {
  grid-template-columns:25% 25% 50% ;
  .options {
    display: flex;
  }

  input,select {
    margin-right: 4px;
    width: 100%;
  }
}
.grid-2 {
  grid-template-columns:10% 20% 30% 40%  !important ;
}

.sort-btn {
  border:none;
  background: white;
  border-left: 0px;
}

/// drag

.example-box {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.label-icon {
  top: -10%;
  position: absolute;
  right: 0px;
  background: white;
  width: 4px;
  height: 4px;
  z-index: 10;
  cursor: pointer;

  img {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 7.2px;
    top: -2.6px;
  }
}




.visibility , .visibility_off {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0px 4px 0px 4px;
}



.formula-autocomplete {

  width: 100%;
  position: absolute;
  top: 100%;
  background: white;
  padding: 20px;
  height: 297px;
  z-index: 1002;
  overflow: auto;
}
.highlight {
  background: lightgoldenrodyellow !important;
}



.width-150 {
  width:150px;
}

label {
  cursor: pointer;
}
.one{
  display: flex;
  select{
    margin-right: 10px;
  }
}