.scrollable-content {
  margin: 0;
  display: flex;
  align-items: center;

  mat-dialog-content.component-dialog {
    overflow: hidden;
    padding: 0;
    margin: 0;
    overflow: inherit;
    max-height: 80vh;
    padding: 0 10px;
    width: 100%;
  }
}
