.onboarding-section {
    padding: 50px 20rem;
    height: 100vh;

    .welcome-text {
        color: #6F7180;
        font-size: 16px;
        font-weight: 500;
    }

    .country-id,
    .currencySelect {
        width: 100px;
    }

    .info-text {
        color: #05082B;
        font-weight: 600;
        font-size: 18px;
        margin: 4rem 0 2rem 0;
    }

    .border {
        border: 1px solid #D5E7FA;
        margin: 1rem 0 2rem 0;
    }

    .secondary-btn {
        border: 2px solid #0065F4;
        height: 50px;
        border-radius: 10px;
        color: #0065F4;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .button-section {
        margin-top: 3rem;
    }

}