.container_body {
  width: 100%;
  min-height: 100vh;
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3% 0;
  }
}


// input[type=radio] {
//   -webkit-appearance: none;
//   outline: 0.1em solid  var(--primary-dark-bg) !important;
//   outline-offset: 0.12em;
//   padding: 3px !important;
//   width: 15px!important;
//   height: 15px !important;
// }

// input[type=radio]:checked {
//   display: inline-block;
//   background-color:  var(--primary-dark-bg);

// }
