  <mat-tab-group class="mat-steps mt-2" [(selectedIndex)]="currentStepIndex">
    <mat-tab label="Product Calculator" class="p-1">
      <app-product [templateForm]="templateForm" [productTemplateCalculator]="productTemplateCalculator" *ngIf="currentStepIndex == 0">
      </app-product>
    </mat-tab>
    <mat-tab label="Package Calculator" class="p-1">
      <app-package  [templateForm]="templateForm"  [productTemplateCalculator]="productTemplateCalculator" *ngIf="currentStepIndex == 1">
      </app-package>
    </mat-tab>
  </mat-tab-group>

