<!--   <mat-tab-group class="mat-steps mt-2" [(selectedIndex)]="currentStepIndex">
    <mat-tab label="Product Calculator" class="p-1">
      <app-product [templateForm]="templateForm" [productTemplateCalculator]="productTemplateCalculator" *ngIf="currentStepIndex == 0">
      </app-product>
    </mat-tab>
    <mat-tab label="Package Calculator" class="p-1">
      <app-package  [templateForm]="templateForm"  [productTemplateCalculator]="productTemplateCalculator" *ngIf="currentStepIndex == 1">
      </app-package>
    </mat-tab>
  </mat-tab-group> -->


<div class="container_body">
  <section class="process-container">
    <div class="process-tab-header">
      <div class="d-flex">
        <div class="radio-selection">
          <input type="radio" [formControl]="calculatorType" value="product" id="product" />
          <label for="processwise">Product Calculator</label>
        </div>
        <div class="radio-selection">
          <input type="radio" [formControl]="calculatorType" value="package" id="package" />
          <label for="materialwise">Package Calculator</label>
        </div>
      </div>
      <div>

      </div>
    </div>
 <ng-container *ngIf="calculatorType.value === 'product'">
      <app-product [templateForm]="templateForm" [productTemplateCalculator]="productTemplateCalculator" *ngIf="currentStepIndex == 0">
      </app-product>
 </ng-container>
  <ng-container *ngIf="calculatorType.value === 'package'">
  <app-package  [templateForm]="templateForm"  [productTemplateCalculator]="productTemplateCalculator" *ngIf="currentStepIndex == 1">
      </app-package>
 </ng-container>
  </section>
</div>